<div class="specialization">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 specialization__h2 wow fadeInLeft"> {{ title }} </h2>
    <div class="specialization__list">
      {{# items }}
        <a href="#" class="specialization__link">
          <div class="card specialization__card wow fadeInUp" style="background-color: {{ color }} ">
            <div class="specialization__bg" data-bg-src="{{ image }}" data-bg-pos="center" data-wow-delay="0.5s" data-wow-duration="2s"></div>
            <div class=" specialization__title"> {{ title }} </div>
          </div>
        </a>
      {{/ items }}
    </div>
  </div>
</div>