.builder-widgets {
    background-color: #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.builder-widgets .builder-row {
    background-color: #ffffff;
    margin: 20px 20px 0 !important;
}
.row.place-row {
    margin: 0;
}
.block-number-figure {
    color: #628ec3;
    padding-left: 5px;
    font-weight: 500;
}
.adder {
    background: #f5f5f5;
    padding: 18px 20px;
    font-size: 16px;
    text-align: center;
}
.adder.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    height: 60px;
    padding: 7px 15px;
}
