<div class="articles__list">
  {{# items }}
    {{# title }}
      <div class="card articles__card {{className}} wow fadeInUp">
        <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover">
          <a href="{{url}}"></a>
        </div>
        <div class="card__content">
          <h5 class="h5 card__h5">
            <a href="{{url}}">{{ title }}</a>
          </h5>
          <span class="card__date">{{ date }}</span>
          <span class="divider card__divider"></span>
          <ul class="card__tags">
            {{# tags }}
              <li>
                <a href="{{ url }}">{{ name }}</a>
              </li>
            {{/ tags }}
          </ul>
          <div class="card__text">
            <p> {{ text }} </p>
          </div>
        </div>
      </div>
    {{/ title }} {{^ title }}
    <div class="card card_stub values__card wow fadeInUp">
      <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="auto"></div>
    </div>
  {{/ title }}
  {{/ items }}
</div>