<!-- JOURNAL QUESTIONS-->
<div id="journal-subscribe" class="questions journal_questions" data-form-outer>
  <div class="form-content questions__form-content">
    <div class="wrap wrap_mobile_full">
      <div class="questions__columns">
        <div class="questions__column">
          <h2 class="h2 questions__h2 wow fadeInLeft">
            <strong>{{ title_primary }}</strong>
            {{# title_secondary }}{{ title_secondary }} {{/ title_secondary }}
          </h2>
        </div>
        <div class="questions__column">
          {{# form }} {{> ../../components/_subscribe-form }} {{/ form }}
        </div>
      </div>
    </div>
  </div> {{> _success }} </div>
<!-- /JOURNAL QUESTIONS -->