<section class="about">
  <div class="wrap wrap_mobile_full">
    <div class="about__inner">
      <div class="about__content">
        <h2 class="h2 about__h2 wow fadeInRight"> {{ data_home.about.title }} </h2>
        <div class="about__text wow fadeInRight" data-wow-delay="0.5s">
          <p> {{ data_home.about.text }} </p>
        </div>
        {{# data_home.about.link }}
          <a href="{{ data_home.about.link.url }}" class="more about__more wow fadeInRight" data-wow-delay="1s"> {{ data_home.about.link.text }} </a>
        {{/ data_home.about.link }}
      </div>
    </div>
    <div class="about__img wow fadeIn" data-bg-src="{{! data_home.about.image }}" data-bg-pos="center bottom" data-bg-size="cover" data-wow-duration="2s" data-wow-delay="0.5s">
      <img src="static/img/home/about_comp.jpg" alt=""> </div>
  </div>
</section>