<div class="popup header__popup" data-popup-city>
  <div class="popup__inner">
    <div class="popup__question"> {{text}}
      <span class="popup__city">{{cities.active}}</span>? </div>
    <div class="popup__answers">
      <div class="view-all">
        <button class="more view-all__more" data-popup-city-close> {{true}} </button>
      </div>
      <div class="view-all">
        <button class="more view-all__more" data-popup-city-more> {{false}} </button>
      </div>
    </div>
  </div>
  <div class="popup__overlay" data-popup-city-overlay></div>
</div>