<section class="complexes">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 complexes__h2 wow fadeInUp"> {{ data_home.complexes.title }}
      <div class="select select_complexes complexes__select">
        <button class="select__btn" data-dropdown-cities-btn="complexes"> {{ data_home.complexes.select_active }} </button>
        <div class="select__options" data-dropdown-cities="complexes">
          {{# data_home.complexes.select_list }}
            <a href="{{ url }}" class="select__option"> {{ name }} </a>
          {{/ data_home.complexes.select_list }}
        </div>
      </div>
    </h2>
  </div>
  <div class="wrap wrap_large wrap_mobile_full">
    <div class="complexes__list">
      {{# data_home.complexes.items }}
        <div class="card complexes__card wow fadeIn" data-wow-delay="0s">
          <h4 class="h4 card__h4"> {{{ name }}} </h4>
          <div class="progress card__progress">
            <div class="progress__value">
              <span class="progress__number">{{ percent }}</span>% готовности </div>
            <div class="progress__diagram">
              <div class="progress__scale" data-progress="{{ percent }}"></div>
            </div>
          </div>
          <div class="card__text">
            <p> {{ desc }} </p>
          </div>
          {{# button }}
            <a href="{{ button.url }}" class="button button_white card__button"> {{ button.text }}
              <div class="button__bg"></div>
              <div class="button__blip button__blip_hover"></div>
            </a>
          {{/ button }}
          <div class="card__bg" data-bg-src="{{ image }}" data-bg-pos="center bottom" data-bg-size="cover"></div>
        </div>
      {{/ data_home.complexes.items }}
      {{# data_home.complexes.stub }}
        <div class="stub complexes__stub wow fadeIn" data-wow-delay="0.3s">
          <div class="stub__content">
            <h2 class="h2 stub__h2"> {{{ title }}} </h2>
            <div class="stub__text">
              <p> {{ text }} </p>
            </div>
          </div>
        </div>
      {{/ data_home.complexes.stub }}
    </div>
    {{# data_home.complexes.view_all_link }}
      <div class="wrap wrap_mobile_full">
        <div class="view-all complexes__view-all wow fadeInUp">
          <div class="view-all__line"></div>
          <a href="{{ url }}" class="more view-all__more"> {{ text }} </a>
        </div>
      </div>
    {{/ data_home.complexes.view_all_link }}
  </div>
</section>