<section class="complexes">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 complexes__h2 wow fadeInUp"> {{ data_home.complexes.title }}
      <div class="select select_complexes complexes__select">
        <button class="select__btn" data-dropdown-cities-btn="complexes"> {{ data_home.complexes.select_active }} </button>
        <div class="select__options" data-dropdown-cities="complexes">
          {{# data_home.complexes.select_list }}
            <a href="{{ url }}" class="select__option"> {{ name }} </a>
          {{/ data_home.complexes.select_list }}
        </div>
      </div>
    </h2>
  </div>
  <div class="wrap wrap_large wrap_mobile_full">
    <!-- COMPLECS -->
    {{# data_home.complecs }}
      <section class="complecs complecs__home">
        <div class="wrap wrap_mobile_full">
          <div class="complecs__list">
            {{# items }}
              {{# stub }}
                <a class="card complecs__card complecs__card_stub wow fadeInUp">
                  <div class="complecs__card_stub__content">
                    <h2 class="h2">{{ title }}</h2>
                    <p>{{ text }}</p>
                  </div>
                </a>
              {{/ stub }} {{^ stub }}
              <a href="{{ url }}" class="card complecs__card wow fadeInUp">
                <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover">
                  <div class="diagram apartment-head__diagram">
                    {{# percent }}
                      <div class="circle-progress" data-circle-progress="{{ percent }}">
                        <div class="circle-progress__outer">
                          <div class="circle-progress__progress circle-progress__progress_10"></div>
                          <div class="circle-progress__progress circle-progress__progress_20"></div>
                          <div class="circle-progress__progress circle-progress__progress_30"></div>
                          <div class="circle-progress__progress circle-progress__progress_40"></div>
                          <div class="circle-progress__progress circle-progress__progress_50"></div>
                          <div class="circle-progress__progress circle-progress__progress_60"></div>
                          <div class="circle-progress__progress circle-progress__progress_70"></div>
                          <div class="circle-progress__progress circle-progress__progress_80"></div>
                          <div class="circle-progress__progress circle-progress__progress_90"></div>
                          <div class="circle-progress__progress circle-progress__progress_100"></div>
                          <div class="circle-progress__value">{{ percent }}</div>
                          <div class="circle-progress__percent">%</div>
                        </div>
                    {{/ percent }}
                    {{# text }}
                      <div class="circle-progress__label"> {{ text }} </div>
                    {{/ text }}
                    </div>
                  </div>
                </div>
                <h5 class="h5 card__h5"> {{ title }} </h5>
              </a>
            {{/ stub }}
    {{/ items }}
    <div class="complecs__list_hidden" style="display: none" data-list-items="gk">
      {{# items }}
        {{# stub }}
          <a class="card complecs__card wow fadeInUp">
            <div class="">
              <h2 class="h2 ">{{title}}</h2>
              <div class="">
                <p>{{text}}</p>
              </div>
            </div>
          </a>
        {{/ stub }} {{^ stub }}
        <a href="{{ url }}" class="card complecs__card wow fadeInUp">
          <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover">
            <div class="diagram apartment-head__diagram">
              {{# percent }}
                <div class="circle-progress" data-circle-progress="{{ percent }}">
                  <div class="circle-progress__outer">
                    <div class="circle-progress__progress circle-progress__progress_10"></div>
                    <div class="circle-progress__progress circle-progress__progress_20"></div>
                    <div class="circle-progress__progress circle-progress__progress_30"></div>
                    <div class="circle-progress__progress circle-progress__progress_40"></div>
                    <div class="circle-progress__progress circle-progress__progress_50"></div>
                    <div class="circle-progress__progress circle-progress__progress_60"></div>
                    <div class="circle-progress__progress circle-progress__progress_70"></div>
                    <div class="circle-progress__progress circle-progress__progress_80"></div>
                    <div class="circle-progress__progress circle-progress__progress_90"></div>
                    <div class="circle-progress__progress circle-progress__progress_100"></div>
                    <div class="circle-progress__value">{{ percent }}</div>
                    <div class="circle-progress__percent">%</div>
                  </div>
              {{/ percent }}
              {{# text }}
                <div class="circle-progress__label"> {{ text }} </div>
              {{/ text }}
              </div>
            </div>
          </div>
          <h5 class="h5 card__h5"> {{ title }} </h5>
        </a>
      {{/ stub }}
      {{/ items }}
    </div>
    <div class="divider_ajax">
      <div class="line"></div>
      <button class="footer__button" data-list-show="gk">
        <span class="footer__button-hide-text">{{ button-text }}</span>
        <span class="footer__button-show-text">скрыть</span>
      </button>
    </div>
    </div>
    </div>
    </section>
    {{/ data_home.complecs }}
    <!-- /COMPLECS -->
    <!--{{# data_home.complexes.view_all_link }}-->
    <!--<div class="wrap wrap_mobile_full">-->
    <!--<div class="view-all complexes__view-all wow fadeInUp">-->
    <!--<div class="view-all__line"></div>-->
    <!--<a href="{{ url }}" class="more view-all__more">-->
    <!--{{ text }}-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--{{/ data_home.complexes.view_all_link }}-->
  </div>
</section>