<section class="rules">
  <div class="wrap wrap_mobile_full">
    <h2 class="rules__h2 wow fadeInUp">{{ data_home.rules.title }}</h2>
  </div>
  <div class="rules__list">
    {{# data_home.rules.list }}
      <div class="card {{ class_name }} rules__card">
        <div class="wrap wrap_mobile_full">
          <div class="card__inner">
            <div class="card__content">
              <h3 class="h3 card__h3 wow fadeInLeft">
                <span class="card_span">{{ title }}</span>
              </h3>
              <div class="card__number wow fadeInLeft" data-wow-delay="0.5s">{{ number }}</div>
              <div class="card__divider wow fadeInLeft" data-wow-delay="0.5s"></div>
              <div class="card__text wow fadeInLeft" data-wow-delay="0.8s">
                <p> {{ text }} </p>
              </div>
            </div>
          </div>
          <div class="card__img wow fadeIn" data-bg-src="{{ image }}" data-bg-pos="center bottom" data-bg-size="cover" data-wow-duration="2s" data-wow-delay="0.5s"></div>
        </div>
      </div>
    {{/ data_home.rules.list }}
  </div>
</section>