<!-- testimonials -->
<section class="testimonials">
  <div class="wrap wrap_mobile_full">
    <h2 class="testimonials__h2 wow fadeInUp">{{ data_home.testimonials.title }}</h2>
  </div>
  <div class="testimonials__list" data-testimonials-slider data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": false, "prevArrow": ".testimonials .navigation__btn_prev", "nextArrow": ".testimonials .navigation__btn_next", "responsive": [{"breakpoint": 1200, "settings": {"adaptiveHeight": true, "fade": true}}]}'>
    {{# data_home.testimonials.items }}
      <div class="card testimonials__card">
        <div class="wrap wrap_mobile_full">
          <div class="card__inner">
            <div class="card__content">
              <h5 class="h5 card__h5 wow fadeInLeft"> {{ name }} </h5>
              <div class="card__excerpt wow fadeInLeft" data-wow-delay="0.3s"> {{ excerpt }} </div>
              <div class="card__divider wow fadeInLeft" data-wow-delay="0.6s"></div>
              <div class="card__text wow fadeInLeft" data-wow-delay="0.9s">
                <p> {{ text }} </p>
              </div>
            </div>
          </div>
          <div data-youtube="{{ yt_video_id }}" class="card__img wow fadeIn" data-bg-src="{{ image }}" data-bg-size="cover" data-bg-pos="center" data-wow-delay="0.5s" data-wow-duration="2s">
            <div class="play card__play">
              <div class="play__blip play__blip_hover"></div>
              <div class="play__blip play__blip_click"></div>
            </div>
            <iframe class="card__iframe" src="" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    {{/ data_home.testimonials.items }}
  </div>
  <div class="navigation testimonials__navigation wow fadeInUp">
    <div class="wrap wrap_mobile_full">
      <div class="navigation__line"></div>
      <div class="navigation__content">
        <button class="navigation__btn navigation__btn_prev" data-testimonials-arrow-prev>
          <div class="arrow arrow_left navigation__arrow"></div>
        </button>
        <div class="navigation__status">
          <span class="navigation__current" data-testimonials-status-current>..</span>\
          <span class="navigation__total" data-testimonials-status-total>..</span>
        </div>
        <button class="navigation__btn navigation__btn_next" data-testimonials-arrow-next>
          <div class="arrow arrow_right navigation__arrow"></div>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- /testimonials -->