<section class="text-block">
  <div class="wrap text-block__wrap wrap_mobile_full">
    <div class="text-block__left-col">
      <h2 class="text-block__title wow fadeInLeft">{{ data_home.text_block.title }}</h2>
    </div>
    <div class="text-block__right-col">
      <div class="text wow fadeInUp" data-wow-delay="1s">
        <p>{{ data_home.text_block.text }}</p>
      </div>
      {{# data_home.text_block.button }}
        <a href="{{ url }}" class="button button_green wow fadeInUp" data-wow-delay="1.3s"> {{ text }}
          <span class="button__bg"></span>
          <div class="button__blip button__blip_hover"></div>
          <div class="button__blip button__blip_click"></div>
        </a>
      {{/ data_home.text_block.button }}
    </div>
  </div>
</section>