.header-logo {
    height: 14px;
    fill: #5c90d2;
    margin-right: 6px;
}

.footer .vintage-logo svg {
    width: 20px;
}

/***********************\
	# IMG CROPPER
\***********************/
.modal-lg {
    width: 739px;
}

.modal-lg .container {
    padding: 30px 30px;
}

.modal-lg .col-sm-12 {
    min-height: 0px;
}

.modal-content {
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.img-container {
    width: 434px;
    max-height: 434px;
    overflow: hidden;
}

.cropper-container {
    top: 0 !important;
}

.img-preview {
    margin: 0 0 0 30px;
}

.col-sm-8.margined {
    width: 100%;
    margin: 30px 0 0;
    padding: 30px 0 0;
    text-align: left;
    border-top: 1px solid #fff;
}

.img-container {
    padding: 0;
    max-width: 600px;
    max-height: 500px;
}

.img-preview {
    padding: 0;
    margin-top: 50px;
    margin-left: 50px;
    width: 215px;
    height: 245px;
    overflow: hidden;
}

/* ------ update style ------*/

.breadcrumb {
    margin-top: 9px;
}

.tab-content {
    padding-top: 20px;
}

.file-preview-image {
    object-fit: contain !important;
    /*width: 100%!important;*/
}

.block-sm-button {
    padding: 0 !important;
}

.block-sm-button div {
    padding: 0 !important;
    font-size: 18px !important;
    margin: 8px !important;
}

.black-stat-left {
    display: inline-block;
    /*width: 20%;*/
}

.black-stat-right {
    display: inline-block;
    float: right;
    height: 37px;
    min-width: 150px;

}

.block-header .summary {
    font-size: 14px;
    line-height: 1.2;
    color: white;
}

@media screen and (min-width: 768px) {
    .content.content-narrow {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .content {
        padding: 16px 14px 1px !important;
    }
}

.tab-error {
    color: #d26a5c !important;
}

.form-config-separator {
    background: #f5f5f5;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.template-builder {
    background: #eee;
    padding: 10px;
}

.button-add {
    margin: -10px 10px 5px;
    text-align: right;
}
.btn {
    font-weight: 500;
}

/* ------ / update style ------*/

.btn-group-save {
    width: 100%;
}

.btn-group-save button {
    width: 100%;
}

/*.content-append {*/
    /*border-bottom: 2px dashed #ccc;*/
    /*padding-bottom: 10px;*/
/*}*/

.switch-label {
    margin-left: 15px !important;
    position: relative;
    top: -2px;
}

.input-group {
    width: 100% !important;
}

.input-group-addon {
    width: 150px !important;
}

/*.btn-template-mover {
    margin-bottom: 20px;
}

.btn-template-delete {
    margin-bottom: 20px;
}*/

label {
    margin-bottom: 0px !important;
}

.select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
    top: -3px;
    position: relative;
    color: #e74c3c;
    opacity: 1;
}

.hint-block {
    color: #999;
}

/** fix visibility of select2 clear btn */
.select2-container .select2-selection--single .select2-selection__clear {
    position: absolute;
}

/* selectize */
.selectize-dropdown {
    z-index: 10000;
}
.selectize-input, .selectize-input.focus {
    border: 1px solid #e6e6e6;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.selectize-input.dropdown-active {
    border-bottom: 0;
}
.selectize-dropdown {
    border: 1px solid #e6e6e6;
    border-top: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.selectize-dropdown .active {
    background-color: #1b9dec;
    color: #fff;
}
.selectize-dropdown [data-selectable] {
    border-bottom: 1px solid #f9f9f9;
}
.selectize-dropdown [data-selectable]:first-child {
    border-top: 1px solid #f9f9f9;
}
.selectize-dropdown [data-selectable]:last-child {
    border-bottom: 0;
}

.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 8px 10px;
}

.detail-view td table {
    width: 100%;
}
.detail-view td table tr td {
    padding: 5px;
}
.detail-view td table,
.detail-view td table tr,
.detail-view td table tr td {
    border: 1px solid #e9e9e9;
}
