<!-- VACANCY-LISTS -->
<section class="vacancy">
  <div class="wrap wrap_mobile_full">
    <div class="vacancy__top-row clearfix">
      <h2 class="h2 vacancy__h2 wow fadeInLeft" data-wow-delay="0.8s" data-wow-duration="0.8s"> Вакансии </h2>
      <div class="vacancy__cities wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s">
        <div class="filters__section">
          <!-- <div class="filters__heading filters__heading_side_left">Район:</div> -->
          <div class="filters__inner filters__inner_side_right">
            <div class="custom-select filters__custom-select" data-custom-select>
              <select name="cities">
                <option value="Ижевск">Ижевск</option>
                <option value="Москва">Москва</option>
                <option value="Екатеринбург">Екатеринбург</option>
                <option value="Санкт Петербург">Санкт Петербург</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- /.vacancy__cities -->
      <div class="vacancy__prof wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
        <div class="filters__section">
          <!-- <div class="filters__heading filters__heading_side_left">Район:</div> -->
          <div class="filters__inner filters__inner_side_right">
            <div class="custom-select filters__custom-select" data-custom-select>
              <select name="profiles">
                <option value="Ижевск">Строительство и проектирование </option>
                <option value="Ижевск">Строительство и проектирование </option>
                <option value="Ижевск">Строительство и проектирование </option>
                <option value="Ижевск">Строительство и проектирование </option>
                <option value="Ижевск">Строительство и проектирование </option>
                <option value="Ижевск">Строительство и проектирование </option>
                <option value="Ижевск">Строительство и проектирование </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- /.vacancy__prof -->
    </div>
    <!-- /.vacancy__top-row -->
    <div class="vacancy__card-block clearfix">
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
          <div class="vacancy__card-description"> Осуществление от лица заказчика технического надзора за выполнением строительно-монтажных работ. </div>
          <!-- /.vacancy__card-description -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
          <div class="vacancy__card-description"> Осуществление от лица заказчика технического надзора за выполнением строительно-монтажных работ. </div>
          <!-- /.vacancy__card-description -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
          <div class="vacancy__card-description"> Осуществление от лица заказчика технического надзора за выполнением строительно-монтажных работ. </div>
          <!-- /.vacancy__card-description -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
    </div>
    <!-- /.vacancy__card-block -->
    <div class="apartaments__bottom apartaments__bottom--vacancy wow fadeIn">
      <div class="apartaments__cell">
        <div class="apartaments__line"></div>
      </div>
      <div class="apartaments__cell">
        <ul class="pagination apartaments__pagination">
          <li class="first hidden">
            <a href="#">&lt;&lt; First</a>
          </li>
          <li class="prev hidden">
            <a href="#">&lt; Previous</a>
          </li>
          <li class="">
            <a href="#">...</a>
          </li>
          <li class="">
            <a href="#">17</a>
          </li>
          <li class="">
            <a href="#">18</a>
          </li>
          <li class="">
            <a href="#">19</a>
          </li>
          <li class="">
            <a href="#">20</a>
          </li>
          <li class="active">
            <a href="#">21</a>
          </li>
          <li class="next">
            <a href="#">Next &gt;</a>
          </li>
          <li class="last">
            <a href="#">Last &gt;&gt;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.wrap wrap_mobile_full -->
</section>
<!-- /.vacancy-lists -->
<!-- /.VACANCY-LISTS -->