<!-- QUESTIONS FORM -->
<form action="/" method="POST" class="form questions__form ipot-questions wow fadeInUp" data-form>
  <div class="form__row form__row_split_2">
    <label class="field form__field">
      <input type="text" class="input form__input" name="_name" data-validation-name="name">
      <span class="form__label"> {{ questions.fields.name.label }} </span>
      <span class="field__error"> {{ questions.fields.name.error }} </span>
    </label>
    <label class="field form__field">
      <input type="text" class="input form__input input_phone" name="_phone" data-validation-name="phone">
      <span class="form__label"> {{ questions.fields.phone.label }} </span>
      <span class="field__error"> {{ questions.fields.phone.error }} </span>
    </label>
  </div>
  <div class="form__row">
    <label class="field form__field">
      <input type="text" class="input form__input" name="_email" data-validation-name="email">
      <span class="form__label"> {{ questions.fields.email.label }} </span>
      <span class="field__error"> {{ questions.fields.email.error }} </span>
    </label>
  </div>
  <div class="form__row">
    <label class="field form__field add-file">
      <input type="file">
      <span class="form__label">
        <img src="./static/img/ipoteka/paper-clip.png" alt="paperclip"> Прикрепить анкету </span>
    </label>
  </div>
  <div class="form__row">
    <div class="field form__field">
      <label class="checkbox form__checkbox">
        <input type="checkbox" class="checkbox__checkbox" name="_agree" data-validation-name="agree">
        <span class="checkbox__mask"></span>
        <span class="checkbox__label"> {{ questions.agree.text }}
          <a href="{{ questions.agree.link.url }}" target="_blank">{{ questions.agree.link.text }}</a> {{ questions.agree.text2 }}
          <a href="{{ questions.agree.link_policy.url }}" target="_blank">{{ questions.agree.link_policy.text }}</a> {{ questions.agree.text3 }} </span>
      </label>
    </div>
  </div>
  <div class="form__row">
    <button type="submit" class="button form__button wow fadeInUp"> {{ questions.submit_text }}
      <span class="button__blip button__blip_hover"></span>
      <span class="button__blip button__blip_click"></span>
    </button>
  </div>
</form>
<!-- /QUESTIONS FORM -->