<!-- ADVANTAGE -->
<section class="advantage values vtor-expectation">
  <div class="wrap wrap_mobile_full">
    <div class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="2s">
      <h2 class="h2 new-quality__h2" style="visibility: visible; animation-name: fadeInUp;"> Зачем ждать? Живите в
        <!-- <br> -->
        <span>новой квартире уже сейчас</span>
      </h2>
    </div>
    <div class="values__list">
      <div class="card values__card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="card__img" data-bg-src="./static/img/rassrochka/advanteges-img1.jpg" data-bg-pos="center" data-bg-size="cover" style="background: url(&quot;./static/img/rassrochka/advanteges-img1.jpg&quot;) center center / cover no-repeat;"></div>
        <h5 class="h5 card__h5"> Безопасность сделок </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Все расходы по оформлению мы берем на себя. Никаких дополнительных оплат. </p>
        </div>
      </div>
      <div class="card values__card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="card__img" data-bg-src="./static/img/rassrochka/advanteges-img2.jpg" data-bg-pos="center" data-bg-size="cover" style="background: url(&quot;./static/img/rassrochka/advanteges-img2.jpg&quot;) center center / cover no-repeat;"></div>
        <h5 class="h5 card__h5"> Оформление бесплатно </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Унас постоянно оформляют ипотеку и поэтому для нас очень важно чтоб клиент имел всю информацию. </p>
        </div>
      </div>
      <div class="card values__card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="card__img" data-bg-src="./static/img/rassrochka/advanteges-img3.jpg" data-bg-pos="center" data-bg-size="cover" style="background: url(&quot;./static/img/rassrochka/advanteges-img3.jpg&quot;) center center / cover no-repeat;"></div>
        <h5 class="h5 card__h5"> Бесплатный просмотр </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Всю бумажную волокиту мы берем на себя. Наш специалист подготовит все для вас в кратчайшие сроки. </p>
        </div>
      </div>
    </div>
  </div>
</section>