<!-- QUESTIONS -->
{{# questions }}
  <div class="questions questions_article commercial-question" data-form-outer>
    <div class="form-content questions__form-content ipot-form-content">
      <div class="wrap wrap_mobile_full">
        <div class="questions__columns">
          <div class="questions__column">
            <h2 class="h2 questions__h2 wow fadeInUp"> Оформить заявку в счет старой квартиры </h2>
            <div class="text questions__text questions__text_tab wow fadeInUp">
              <p> Оставьте свои данные и напишите интересующий вопрос. Наши менеджеры как можно оперативнее свяжутся с вами, и квалифицированно проконсультируют. </p>
            </div> {{> _secondary_housing-form }} </div>
          <div class="questions__column">
            <div class="text questions__text questions__text_desk wow fadeInUp">
              <p> Новое жилье это замечательная возможность изменить свою жизнь к лучшему. Вы удивитесь насколько комфортно и здорово все продумано в новых жилищных комплексах. А оформление в счет старой квартиры ускорит получение нового замечательного жилья.
                </p>
            </div>
            <div class="manager questions__manager wow fadeInUp">
              <div class="manager__bg" data-bg-src="{{ manager.image }}" data-bg-size="cover" data-bg-pos="center"></div>
              <div class="manager__text-wrapper">
                <div class="h5 manager__h5"> {{ manager.name }} </div>
                {{# manager.title }}
                  <div class="divider"></div>
                  <div class="manager__text">
                    <p> {{ manager.title }} </p>
                  </div>
                {{/ manager.title }}
                {{# manager.phone }}
                  <a href="tel:{{ manager.phone }}" class="manager__tel" target="_blank"> {{ manager.phone }} </a>
                {{/ manager.phone }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> {{> _success }} </div>
{{/ questions }}
<!-- /QUESTIONS -->