<!-- CALC -->
<section class="calc vtor-calc">
  <div class="title">
    <div class="wrap wrap_mobile_full">
      <h3 class="h3 wow fadeIn" data-wow-delay="0.5s" data-wow-duration="0.5s">Оцените стоимость квартиры online</h3>
    </div>
  </div>
  <div class="calc__block ">
    <div class="wrap wrap_mobile_full">
      <form class="calc_form clearfix">
        <fieldset class="calc__fieldset--left wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <legend>Введите данные:</legend>
          <div class="filters__section clearfix">
            <div class="filters__heading">Площадь квартиры:</div>
            <div class="filters__inner">
              <div class="nouislider filters__nouislider" data-no-ui-slider='{"connect": true, "step": 1}' data-wnumb='{"decimals":"0", "thousand": " ", "postfix":" м²"}' data-range-min="15" data-range-max="200" data-nouislider-type='area'>
                <div class="ranges nouislider__ranges">
                  <input class="ranges__input" placeholder="100 м²" type="text" value="100" name="square-max" data-no-ui-input> </div>
                <div class="nouislider__slider"></div>
              </div>
              <!-- /.filters__nouislider -->
            </div>
            <!-- /.filters__inner -->
          </div>
          <!-- /.filters__section -->
          <div class="filters__section">
            <div class="filters__heading filters__heading_side_left">Район:</div>
            <div class="filters__inner filters__inner_side_right">
              <div class="custom-select filters__custom-select" data-custom-select>
                <select name="floor">
                  <option value="Осокорки">Осокорки</option>
                  <option value="Поздняки">Поздняки</option>
                  <option value="Выдубычи">Выдубычи</option>
                  <option value="Печерск">Печерск</option>
                </select>
              </div>
            </div>
          </div>
          <div class="filters__section">
            <div class="filters__heading filters__heading_side_left">Период постройки:</div>
            <div class="filters__inner filters__inner_side_right">
              <div class="custom-select filters__custom-select" data-custom-select>
                <select name="years">
                  <option value="1996 год">1996 год</option>
                  <option value="1997 год">1997 год</option>
                  <option value="1998 год">1998 год</option>
                  <option value="1999 год">1999 год</option>
                  <option value="2000 год">2000 год</option>
                  <option value="2001 год">2001 год</option>
                  <option value="2002 год">2002 год</option>
                  <option value="2003 год">2003 год</option>
                  <option value="2004 год">2004 год</option>
                  <option value="2005 год">2005 год</option>
                  <option value="2006 год">2006 год</option>
                  <option value="2007 год">2007 год</option>
                </select>
              </div>
            </div>
          </div>
          <div class="filters__section">
            <div class="filters__heading filters__heading_side_left">Количество комнат:</div>
            <div class="filters__inner filters__inner_side_right">
              <div class="custom-select filters__custom-select" data-custom-select>
                <select name="floor">
                  <option value="2-х комнатная">2-х комнатная</option>
                  <option value="3-х комнатная">3-х комнатная</option>
                  <option value="4-х комнатная">4-х комнатная</option>
                  <option value="5-ти комнатная">5-ти комнатная</option>
                </select>
              </div>
              <label class="checkbox form__checkbox form__checkbox--top">
                <input class="checkbox__checkbox" type="radio" name="radio-btn" checked>
                <span class="checkbox__mask"></span>
                <span class="checkbox__label"> Хороший ремонт </span>
              </label>
              <label class="checkbox form__checkbox">
                <input class="checkbox__checkbox" type="radio" name="radio-btn">
                <span class="checkbox__mask"></span>
                <span class="checkbox__label"> Крайний этаж </span>
              </label>
            </div>
          </div>
        </fieldset>
        <!-- /.calc__fieldset-left -->
        <div class="calc__fieldset--right wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <legend>Ориентировочная стоимость:</legend>
          <div class="calc__calculated-block clearfix">
            <div class="calc__calculated--row clearfix">
              <div class="calc__your-flat">Вашей квартиры:</div>
              <div class="calc__from-to">
                <div class="calc__from">от
                  <span class="" data-wnumb='{"decimals": 0, "thousand":" ", "postfix":" руб"}'>40 514 руб</span>
                </div>
                <div class="calc__to">до
                  <span class="" data-wnumb='{"decimals": 0, "thousand":" ", "postfix":" руб"}'>45 096 руб</span>
                </div>
              </div>
            </div>
            <!-- /.calc__calculated--row -->
            <div class="calc__calculated--row clearfix">
              <div class="calc__your-flat">Квадратного метра:</div>
              <div class="calc__from-to">
                <div class="calc__from">от
                  <span class="" data-wnumb='{"decimals": 0, "thousand":" ", "postfix":" руб"}'>1 066 руб</span>
                </div>
                <div class="calc__to">до
                  <span class="" data-wnumb='{"decimals": 0, "thousand":" ", "postfix":" руб"}'>1 186 руб</span>
                </div>
              </div>
            </div>
            <!-- /.calc__calculated--row -->
            <btb class="send-request" type="button" data-modal-open="vtorichka">
              <span>Отправить заявку</span>
            </btb>
          </div>
          <!-- /.calc__calculated-block -->
        </div>
        <!-- /.calc__fieldset--right -->
      </form>
      <!-- /.calc_form -->
    </div>
    <!-- /.wrap -->
  </div>
  <!-- /.calc__block -->
</section>