<!-- ZAYAVKA -->
<section class="zayavka statistics ipot-zayavka">
  <div class="wrap wrap_mobile_full">
    <div class="wow fadeInLeft">
      <h2 class="h2 values__h2"> Как оплатить вторичным жильем ? </h2>
    </div>
    <div class="statistics__list">
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">Выбираем квартиру</span>
        </h3>
        <h5 class="h5 card__h5"> Оформляете заявку </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Ежемесячный доход от аренды даже по минимальной арендной ставке составит не менее 65 000 рублей (от 27% годовых). </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">Оцениваем ваше жильё</span>
        </h3>
        <h5 class="h5 card__h5"> Оцениваете жилье </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Размещение в выгодном месте, при пересечении транспортных потоков, станет преимуществом в бизнесе. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">Оформляем документы</span>
        </h3>
        <h5 class="h5 card__h5"> Оформляем договор на продажу </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Качество наших помещений оставляет только лучшее впечатление у арендаторов. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">Поздравляем!</span>
          </h1>
          <h5 class="h5 card__h5"> Зачисляем оплату нового жилья </h5>
          <div class="divider card__divider"></div>
          <div class="card__text">
            <p> Специалист банка назначает день подписания договора. В этот день вы подписываете договор долевого участия или договор купли-продажи в нашем офисе, а кредитный договор — в офисе банка. </p>
          </div>
      </div>
      <div class="card card_stub statistics__card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="card__img" data-bg-src="./static/img/about/logo_stub.png" data-bg-pos="center" data-bg-size="auto" style="background: url(&quot;./static/img/about/logo_stub.png&quot;) center center / auto no-repeat;"></div>
      </div>
      <div class="card card_stub statistics__card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="card__img" data-bg-src="./static/img/about/logo_stub.png" data-bg-pos="center" data-bg-size="auto" style="background: url(&quot;./static/img/about/logo_stub.png&quot;) center center / auto no-repeat;"></div>
      </div>
    </div>
  </div>
</section>