<!-- for tablet -->
<div class="footer__line"></div>
<div class="wrap footer__wrap">
  <button class="footer__button" data-modal-open="call-back">{{footer.callback_text}}</button>
  <div class="social footer__social">
    {{# socials }}
      <a href="{{url}}" class="social__item socicon-{{name}}" target="_blank"></a>
    {{/ socials }}
  </div>
  <nav class="nav footer__nav">
    {{# nav }}
      <a href="{{url}}" class="nav__link"> {{name}} </a>
    {{/ nav }}
  </nav>
</div>
<div class="wrap footer__wrap">
  <nav class="submenu footer__submenu">
    {{# subnav }}
      <a href="{{url}}" class="submenu__link">{{name}}</a>
    {{/ subnav }}
  </nav>
  <div class="footer__copyright">
    <span class="copy">&copy;</span> {{footer.year}} {{footer.name}} </div>
  <div class="developers footer__developers">
    <sup class="developers__by">by</sup>
    <a class="developers__link" href="{{footer.developer_url}}" target="_blank">
      <svg class="developers__logo">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vintage-logo"></use>
      </svg>
    </a>
  </div>
</div>
<!-- for tablet -->