<section class="choose-aphouse tal-section tal-section__chess">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 new-quality__h2 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> Планировки </h2>
    {{# lists }}
      <div class="choose-house__lists">
        {{# items }}
          <a href="{{ href }}" class="choose-house__items {{#active}}choose-house__items--active{{/active}}"> {{ name }} </a>
          <!-- /.choose-house__items -->
        {{/ items }}
      </div>
      <!-- /.choose-house__lists -->
    {{/ lists }}
    <div class="choose-aphouse__legend">
      <div class="choose-aphouse__info">
        {{# flat_box }}
          <div class="choose-aphouse__flat-box">
            <span class="choose-aphouse__flat choose-aphouse__flat{{ class }}"></span>
            <span class="choose-aphouse__info-text"> {{ description }} </span>
          </div>
        {{/ flat_box }}
      </div>
      {{# picture }}
        <div class="choose-aphouse__section-img">
          <span>секции</span>
          <img src="{{ img }}" alt="img-section"> </div>
      {{/ picture }}
    </div>
    <div class="choose-aphouse__complex">
      {{# section }}
        <div class="choose-aphouse__section">
          {{# floors }}
            <div class="choose-aphouse__row">
              <span class="choose-aphouse__numbers">{{ number }}</span>
              {{# flats }}
                <div class="choose-aphouse__link {{#sold}}choose-aphouse__link-sold{{/sold}} {{#booked}}choose-aphouse__link-booked{{/booked}}">
                  {{#description}} {{rooms}}
                    <div class="choose-aphouse__flats">
                      <div class="choose-aphouse__close-btn"></div>
                      <a href="http://xn--e1aner7ci.xn--80aa6ajv.xn--p1ai/apartment-complex/intellect-kvartal/apartments/774" target="_blank" class="choose-aphouse__flats-link">
                        <div class="choose-aphouse__flats-img">
                          <img src="{{src}}" alt="flat"> </div>
                      </a>
                      <a href="http://xn--e1aner7ci.xn--80aa6ajv.xn--p1ai/apartment-complex/intellect-kvartal/apartments/774" target="_blank">
                        <div class="choose-aphouse__flats-title"> {{title}} </div>
                      </a>
                      <div class="choose-aphouse__flats-price"> {{price}} </div>
                      <span class="choose-aphouse__flats-area"> {{area}} </span>
                      <span class="choose-aphouse__flats-status"> {{status}} </span>
                    </div>
                  {{/description}}
                </div>
              {{/ flats }}
            </div>
          {{/ floors }}
          <div class="choose-aphouse__section-title"> {{ name }} </div>
        </div>
      {{/ section }}
    </div>
  </div>
  <!-- /.wrap wrap_mobile_full -->
</section>
<!-- /.choose-house -->