<!-- VALUES -->
{{# data_tal_section.done_projects }}
  <section class="values done_projects tal-section__done-projects">
    <div class="wrap wrap_mobile_full">
      <div class="done_projects__title">
        {{# title }}
          <h2 class="h2 values__h2 wow fadeInLeft"> {{ title }} </h2>
        {{/ title }}
        {{# subTitle }}
          <p class="p values__p wow fadeInLeft"> {{ subTitle }} </p>
        {{/ subTitle }}
      </div>
      <div class="values__list">
        {{# items }}
          <div class="card values__card wow fadeInUp">
            <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover"></div>
            <h5 class="h5 card__h5"> {{ title }} </h5>
            <div class="divider card__divider"></div>
            <div class="card__text">
              <p> {{ text }} </p>
            </div>
          </div>
        {{/ items }}
        <div class="values__list" style="display: none" data-list-items="done-projects">
          {{# items }}
            <div class="card values__card wow fadeInUp">
              <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover"></div>
              <h5 class="h5 card__h5"> {{ title }} </h5>
              <div class="divider card__divider"></div>
              <div class="card__text">
                <p> {{ text }} </p>
              </div>
            </div>
          {{/ items }}
        </div>
        <div class="divider_ajax">
          <div class="line"></div>
          <button class="footer__button" data-list-show="done-projects">
            <span class="footer__button-hide-text">все проекты</span>
            <span class="footer__button-show-text">скрыть</span>
          </button>
        </div>
      </div>
    </div>
  </section>
{{/ data_tal_section.done_projects }}
<!-- /VALUES -->