{{# green_form}}
  <div class="questions" data-form-outer="">
    <div class="form-content questions__form-content">
      <div class="wrap wrap_mobile_full">
        <div class="questions__columns">
          <div class="questions__column">
            <h2 class="h2 questions__h2 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"> {{title_primary}}
              <strong>{{title_secondary}}</strong>
            </h2>
            <div class="text questions__text wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
              <p> {{text}} </p>
            </div>
          </div>
          <div class="questions__column">
            <!-- QUESTIONS FORM -->
            <form action="/" method="POST" class="form questions__form wow fadeInUp" data-form="" style="visibility: visible; animation-name: fadeInUp;">
              <div class="form__row">
                <label class="field form__field">
                  <span class="filters__inner filters__inner_side_right tal-section__filters-form">
                    <span class="custom-select filters__custom-select" data-custom-select>
                      <select name="profiles">
                        <option selected disabled> Тип проблемы </option>
                        {{# select }}
                          <option> {{text}} </option>
                        {{/ select }}
                      </select>
                    </span>
                  </span>
                </label>
              </div>
              <div class="form__row form__row_split_2">
                <label class="field form__field">
                  <input type="text" class="input form__input" name="_name" data-validation-name="name">
                  <span class="form__label"> {{fields.name.label}} </span>
                  <span class="field__error"> {{fields.name.error}} </span>
                </label>
                <label class="field form__field">
                  <input type="text" class="input form__input input_phone" name="_phone" data-validation-name="phone">
                  <span class="form__label"> {{fields.phone.label}} </span>
                  <span class="field__error"> {{fields.phone.error}} </span>
                </label>
              </div>
              <div class="form__row">
                <label class="field form__field">
                  <input type="text" class="input form__input" name="_email" data-validation-name="email">
                  <span class="form__label"> {{ fields.email.label }} </span>
                  <span class="field__error"> {{ fields.email.error }} </span>
                </label>
              </div>
              <div class="form__row">
                <label class="field form__field">
                  <input type="text" class="input form__input" name="_question" data-validation-name="question">
                  <span class="form__label"> {{fields.question.label }} </span>
                </label>
              </div>
              <div class="form__row">
                <div class="field form__field">
                  <label class="checkbox form__checkbox">
                    <input type="checkbox" class="checkbox__checkbox" name="_agree" data-validation-name="agree">
                    <span class="checkbox__mask"></span>
                    <span class="checkbox__label"> Соглашаюсь на обработку персональных данных </span>
                  </label>
                </div>
              </div>
              <div class="form__row">
                <button type="submit" class="button form__button wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> Отправить
                  <span class="button__blip button__blip_hover"></span>
                  <span class="button__blip button__blip_click"></span>
                </button>
              </div>
            </form>
            <!-- /QUESTIONS FORM -->
          </div>
        </div>
      </div>
    </div>
    <!-- QUESTIONS FORM SUCCESS -->
    <div class="form-success questions__form-success form-success_hidden">
      <div class="form-success__content">
        <div class="wrap wrap_mobile_full">
          <div class="questions__columns">
            <div class="questions__column">
              <h2 class="h2 questions__h2">
                <strong>Спасибо!</strong>
              </h2>
            </div>
            <div class="questions__column"> </div>
          </div>
          <div class="questions__columns">
            <div class="questions__column">
              <div class="text questions__text">
                <p> Ваша заявка успешно отправлена. Наш менеджер свяжется с Вами в ближайшее время. </p>
              </div>
            </div>
            <div class="questions__column">
              <button class="button form__button" data-form-reset-btn=""> Отправить еще
                <span class="button__blip button__blip_hover"></span>
                <span class="button__blip button__blip_click"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /QUESTIONS FORM SUCCESS -->
  </div>
{{/ green_form}}