<section class="rules tal-section__rules">
  <div class="wrap wrap_mobile_full">
    <h2 class="rules__h2 wow fadeInUp">{{ data_tal_section.rules.title }}
      <br>
      <span class="tal-section__span"> {{ data_tal_section.rules.title_secondary }}</span>
    </h2>
  </div>
  <div class="rules__list">
    {{# data_tal_section.rules.list }}
      <div class="card {{ class_name }} rules__card">
        <div class="wrap wrap_mobile_full">
          <div class="card__inner">
            <div class="card__content tal-section__content">
              <div class="card__text wow fadeInLeft" data-wow-delay="0.8s">
                <p> {{ text }} </p>
                <a href="#" class="button button_green tal-section__rules-btn gallery__button"> {{ button }}
                  <div class="button__blip button__blip_hover"></div>
                  <div class="button__blip button__blip_click"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="card__img wow fadeIn" data-bg-src="{{ image }}" data-bg-pos="center bottom" data-bg-size="cover" data-wow-duration="2s" data-wow-delay="0.5s"></div>
        </div>
      </div>
    {{/ data_tal_section.rules.list }}
  </div>
</section>