<!-- DIRECTOR -->
{{# data_land_purchase.director }}
  <section class="director">
    <div class="wrap wrap_mobile_full">
      <div class="main-title">
        <h2 class="h2 wow fadeInUp"> {{main_title}} </h2>
      </div>
      <div class="director__img director__img_desk wow fadeIn" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover" data-wow-delay="0.5s" data-wow-duration="2s">
        {{# video }} {{> ../../components/_video }} {{/ video }}
      </div>
      <div class="director__content">
        <h5 class="h5 director__h5 wow fadeInRight"> {{ name }} </h5>
        <h6 class="h6 director__h6 wow fadeInRight" data-wow-delay="0.3s"> {{ title }} </h6>
        <div class="divider director__divider wow fadeInRight" data-wow-delay="0.6s"></div>
        <div class="director__text wow fadeInRight" data-wow-delay="0.9s">
          <p> {{ text }} </p>
        </div>
      </div>
      <div class="director__img director__img_tab wow fadeIn" data-bg-src="./pic/director.jpg" data-bg-pos="center" data-bg-size="cover" data-wow-delay="0.5s" data-wow-duration="2s"></div>
    </div>
  </section>
{{/ data_land_purchase.director }}
<!-- /DIRECTOR -->