<!-- QUESTIONS -->
<div class="questions questions_request">
  <div class="form-content questions__form-content">
    <div class="wrap wrap_mobile_full">
      <div class="questions__columns">
        <h2 class="h2 questions__h2 wow fadeInLeft"> {{data_land_purchase.download.top_text}}
          <strong>{{ data_land_purchase.download.text }}</strong>
        </h2>
        {{# data_land_purchase.download.file_link}}
          <a href="{{ url }}" class="download-file-link wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s"> {{ text }} </a>
        {{/ data_land_purchase.download.file_link}}
      </div>
    </div>
  </div>
</div>
<!-- /QUESTIONS -->