<section class="contacts">
  <div class="wrap wrap_mobile_full">
    <div class="purchase_wrapper">
      <div class="col">
        <h2 class="wow fadeInUp"> {{data_land_purchase.map.left_text}} </h2>
      </div>
      <div class="col wow fadeInUp">
        <p> {{data_land_purchase.map.desc}} </p>
        <ul>
          {{# data_land_purchase.map.list }}
            <li> {{text}} </li>
            {{/data_land_purchase.map.list}}
        </ul>
      </div>
    </div>
    <div class="marker-wrapper">
      <div class="col wow fadeInLeft">
        <img src="static/img/map/main_pin.png" alt="">
        <p> Домашний регион </p>
      </div>
      <div class="col wow fadeInLeft">
        <img src="static/img/map/main_pin_2.png" alt="">
        <p> Новый регион </p>
      </div>
    </div>
  </div>
  <div class="contacts__wrap">
    <div class="land-purchase__wrap-map" data-wow-delay="0.2s">
      <div id="map" class="contacts__map wow fadeIn" data-url="" data-map-options='{"pos":{"lat":56.84769479,"lng":53.21220476},"zoom":15,"mainMarker":{"pos":{"lat":56.84769479,"lng":53.21220476},"icon":"\/static\/img\/map\/main_pin.png"},"markers":[{"type":1,"pos":{"lat":56.84769479,"lng":53.21220476},"icon":"\/static\/img\/map\/main_pin.png","html":" <div class=\"infowindow\">\n <h3>dfsdfsdf<\/h3>\n <p>sdfsdfsdf<\/p>\n <a href=\"tel:\" class=\"infowindow__tel\">sdfsdfsdf<\/a>\n <\/div>"},{"type":1,"pos":{"lat":56.84889168,"lng":53.23176343},"icon":"\/static\/img\/map\/main_pin.png","html":" <div class=\"infowindow\">\n <h3>ffff<\/h3>\n <p>fffffff<\/p>\n <a href=\"tel:\" class=\"infowindow__tel\">ffff<\/a>\n <\/div>"}]}'></div>
    </div>
  </div>
</section>