{{# data_land_purchase.new_quality }}
  <div class="new-quality">
    <div class="wrap wrap_mobile_full">
      <h2 class="h2 new-quality__h2 wow fadeInUp"> {{ title_primary }} </h2>
      <div class="new-quality__list">
        {{# items }}
          {{# large }}
            <div class="card card_large new-quality__card">
              <div class="card__content">
                <h3 class="h3 card__h3 wow fadeInLeft">
                  <span class="card_span">{{ title }}</span>
                </h3>
                <div class="card__number wow fadeInLeft" data-wow-delay="0.3s">{{ number }}</div>
                <div class="card__divider wow fadeInLeft" data-wow-delay="0.3s"></div>
                <div class="card__text wow fadeInLeft" data-wow-delay="0.6s">
                  {{# text }}
                    <p> {{{ . }}} </p>
                  {{/ text }}
                </div>
              </div>
              <div class="card__img wow fadeIn" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover" data-wow-delay="0.5s" data-wow-duration="2s"></div>
            </div>
          {{/ large }} {{^ large }}
          <div class="card new-quality__card wow fadeInUp">
            <div class="card__img card__img_desk" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover"></div>
            <div class="card__content">
              <h3 class="h3 card__h3">
                <span class="card_span">{{ title }}</span>
              </h3>
              <div class="card__number">{{ number }}</div>
              <div class="card__divider"></div>
              <div class="card__text">
                {{# text }}
                  <p> {{{ . }}} </p>
                {{/ text }}
              </div>
            </div>
            <div class="card__img card__img_mob" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover"></div>
          </div>
        {{/ large }}
{{/ items }}
</div>
</div>
</div>
{{/ data_land_purchase.new_quality }}