<!-- STATISTICS -->
<section class="statistics">
  <div class="wrap wrap_mobile_full">
    <div class="statistics__title wow fadeInUp">
      <h2 class="h2"> {{ data_land_purchase.plans.title}} </h2>
    </div>
    <div class="statistics__list">
      {{# data_land_purchase.plans.items }}
        <div class="card statistics__card wow fadeIn" data-wow-delay="0s">
          <h3 class="h3 card__h3">
            <span class="card_span">{{ number }}</span>
          </h3>
          <h5 class="h5 card__h5"> {{ title }} </h5>
          <div class="divider card__divider"></div>
          <div class="card__text">
            <p> {{ text }} </p>
          </div>
        </div>
      {{/ data_land_purchase.plans.items }}
    </div>
  </div>
</section>
<!-- /STATISTICS -->