<!-- POPAP -->{{!-- SECONDS TIME SHOW --}}
<div class=" modals" data-modals data-time-show-popup="25">
  {{# callback }}
    <div class=" popup_presentation modal modals__modal modal_active" data-modal="presentation">
      <div class="modal__outer">
        <div class="modal__overlay" data-modal-close></div>
        <div class="modal__inner popup_presentation__inner">
          <div class="modal__content">
            <div class="popup_presentation__wrap"> {{!-- Close BTN --}}
              <button class="modal__close" data-modal-close></button> {{!--// Close BTN --}}
              <h3 class="popup_presentation__title">{{title}}</h3>
              <h3 class="popup_presentation__title-sec">{{title_second}}</h3>
              <p class="popup_presentation__subtitle">{{subtitle}}</p> {{!-- FORM --}}
              <form action="#" method="POST" class="popup_presentation__form">
                <div class="popup_presentation__label-wrap">
                  <label class="field form__field">
                    <input type="text" class="input form__input" name="_name" data-validation-name="name">
                    <span class="form__label"> {{ fields.name.label }} </span>
                    <span class="field__error"> {{ fields.name.error }} </span>
                  </label>
                  <label class="field form__field">
                    <input type="text" class="input form__input input_phone" name="_phone" data-validation-name="phone">
                    <span class="form__label"> {{ fields.phone.label }} </span>
                    <span class="field__error"> {{ fields.phone.error }} </span>
                  </label>
                  <label class="field form__field">
                    <input type="text" class="input form__input" name="_email" data-validation-name="email">
                    <span class="form__label"> {{ fields.email.label }} </span>
                    <span class="field__error"> {{ fields.email.error }} </span>
                  </label>
                </div>
                <div class="field form__field popup_presentation__checkbox-wrap">
                  <label class="checkbox form__checkbox">
                    <input type="checkbox" class="checkbox__checkbox" name="_agree" data-validation-name="agree">
                    <span class="checkbox__mask"></span>
                    <span class="checkbox__label"> {{ agree.text }}
                      <a href="{{ agree.link.url }}" target="_blank">{{ agree.link.text }}</a> {{ agree.text2 }}
                      <a href="{{ agree.link_policy.url }}" target="_blank">{{ agree.link_policy.text }}</a> {{ agree.text3 }} </span>
                  </label>
                </div>
                <button class="button button_green form__button" data-modal-close data-modal-open="thanks"> {{ submit_text }}
                  <div class="button__blip button__blip_hover"></div>
                  <div class="button__blip button__blip_click"></div>
                </button>
              </form> {{!-- FORM:END --}}</div>
          </div>
        </div>
      </div>
    </div>
  {{/ callback }}
  {{# thanks }}
    <div class="modal modals__modal" data-modal="thanks">
      <div class="modal__outer">
        <div class="modal__overlay" data-modal-close></div>
        <div class="modal__inner">
          <div class="modal__content">
            <div class="popup">
              <h5 class="h5 popup__h5"> {{ title }} </h5>
              <div class="popup__text">
                <p> {{ text }} </p>
              </div>
              <button class="button button_green popup__button" data-modal-close> {{ close_text }}
                <div class="button__blip button__blip_hover"></div>
                <div class="button__blip button__blip_click"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/ thanks }}
</div>
<!-- /pop-up -->