{{!-- data-section="vue-constructor" - for checking existance --}}
<section class="vue-constructor" data-section="vue-constructor"> {{!-- Vue app ecntry point --}}
  <div id="vueApp">
    <the-constructor/> </div>
</section>