<!-- VACANCY-FAQ_SECTION -->
<section class="vac-faq">
  <div class="wrap wrap_mobile_full">
    <h3 class="h3 vac-faq__h3 wow fadeInRight"> FAQ </h3>
    <div class="vac-faq__block-questions">
      <div class="vac-faq__question wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
        <a href="#" class="vac-faq__link">Добро пожаловать в команду!</a>
        <div class="vac-faq__textblock"> «ТАЛАН» объединяет специалистов в разных регионах России и создает команду близких по духу и увлеченных общим делом профессионалов. Мы строим жилые комплексы для тысяч семей и сами живем в этих домах, уделяем основное внимание качеству, безопасности
          и комфортной жизни. Мы ставим грандиозные цели и вместе достигаем успеха. </div>
        <!-- /.vac-faq__textblock -->
      </div>
      <!-- /.vac-faq__question -->
      <div class="vac-faq__question wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
        <a href="#" class="vac-faq__link">Как стать чаcтью нашей команды? </a>
        <div class="vac-faq__textblock"> «ТАЛАН» объединяет специалистов в разных регионах России и создает команду близких по духу и увлеченных общим делом профессионалов. Мы строим жилые комплексы для тысяч семей и сами живем в этих домах, уделяем основное внимание качеству, безопасности
          и комфортной жизни. Мы ставим грандиозные цели и вместе достигаем успеха. </div>
        <!-- /.vac-faq__textblock -->
      </div>
      <!-- /.vac-faq__question -->
      <div class="vac-faq__question wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
        <a href="#" class="vac-faq__link">Что важно указать в резюме?</a>
        <div class="vac-faq__textblock"> «ТАЛАН» объединяет специалистов в разных регионах России и создает команду близких по духу и увлеченных общим делом профессионалов. Мы строим жилые комплексы для тысяч семей и сами живем в этих домах, уделяем основное внимание качеству, безопасности
          и комфортной жизни. Мы ставим грандиозные цели и вместе достигаем успеха. </div>
        <!-- /.vac-faq__textblock -->
      </div>
      <!-- /.vac-faq__question -->
      <div class="vac-faq__question wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
        <a href="#" class="vac-faq__link">Конфиденциальность</a>
        <div class="vac-faq__textblock"> «ТАЛАН» объединяет специалистов в разных регионах России и создает команду близких по духу и увлеченных общим делом профессионалов. Мы строим жилые комплексы для тысяч семей и сами живем в этих домах, уделяем основное внимание качеству, безопасности
          и комфортной жизни. Мы ставим грандиозные цели и вместе достигаем успеха. </div>
        <!-- /.vac-faq__textblock -->
      </div>
      <!-- /.vac-faq__question -->
      <div class="vac-faq__question wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
        <a href="#" class="vac-faq__link">Собеседование</a>
        <div class="vac-faq__textblock"> «ТАЛАН» объединяет специалистов в разных регионах России и создает команду близких по духу и увлеченных общим делом профессионалов. Мы строим жилые комплексы для тысяч семей и сами живем в этих домах, уделяем основное внимание качеству, безопасности
          и комфортной жизни. Мы ставим грандиозные цели и вместе достигаем успеха. </div>
        <!-- /.vac-faq__textblock -->
      </div>
      <!-- /.vac-faq__question -->
      <div class="vac-faq__question wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
        <a href="#" class="vac-faq__link">Дополнительная оценка</a>
        <div class="vac-faq__textblock"> «ТАЛАН» объединяет специалистов в разных регионах России и создает команду близких по духу и увлеченных общим делом профессионалов. Мы строим жилые комплексы для тысяч семей и сами живем в этих домах, уделяем основное внимание качеству, безопасности
          и комфортной жизни. Мы ставим грандиозные цели и вместе достигаем успеха. </div>
        <!-- /.vac-faq__textblock -->
      </div>
      <!-- /.vac-faq__question -->
      <div class="vac-faq__question wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
        <a href="#" class="vac-faq__link">Обратная связь</a>
        <div class="vac-faq__textblock"> «ТАЛАН» объединяет специалистов в разных регионах России и создает команду близких по духу и увлеченных общим делом профессионалов. Мы строим жилые комплексы для тысяч семей и сами живем в этих домах, уделяем основное внимание качеству, безопасности
          и комфортной жизни. Мы ставим грандиозные цели и вместе достигаем успеха. </div>
        <!-- /.vac-faq__textblock -->
      </div>
      <!-- /.vac-faq__question -->
    </div>
    <!-- /.vac-faq__block-questions -->
  </div>
  <!-- /.wrap wrap_mobile_full -->
</section>
<!-- /.vac-faq -->
<!-- /.VACANCY-FAQ_SECTION -->