<!-- VACANCY-ABOUT_SECTION -->
<section class="vac-about">
  <div class="wrap wrap_mobile_full vac-about__wrap">
    <h3 class="h3 vac-about__h3 wow fadeInRight"> Инженер по техническому надзору (КП «Европа») </h3>
    <p class="vac-about__description wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1s"> An International based company, is now in process of setting up the Design studio with office in Kyiv, Ukraine that will be working as part of Global team to bring his customers the best services in Web Project implementation. </p>
    <div class="vac-about__block wow fadeInLeft"
      data-wow-delay="1s" data-wow-duration="1s">
      <strong> Обязанности: </strong>
      <ul>
        <li> Осуществление от лица заказчика технического надзора за выполнением строительно-монтажных работ. </li>
        <li> Подготовка технических разделов тендерной документации и договоров на строительные работы.недвижимости. </li>
        <li> Организация, координация и контроль работы подрядных и субподрядных организаций. </li>
        <li> Контроль хода выполнения планов, соответствия объемов, сроков и качества строительно-монтажных работ. </li>
        <li> Ведение технической документации на объекте. Подписание актов и процентовок. </li>
        <li> Осуществление от лица заказчика технического надзора за выполнением строительно-монтажных работ. </li>
        <li> Подготовка технических разделов тендерной документации и договоров на строительные работы.недвижимости. </li>
        <li> Организация, координация и контроль работы подрядных и субподрядных организаций. </li>
        <li> Контроль хода выполнения планов, соответствия объемов, сроков и качества строительно-монтажных работ. </li>
        <li> Ведение технической документации на объекте. Подписание актов и процентовок. </li>
      </ul>
      <!-- /.vac-about__duties-lists -->
    </div>
    <!-- /.vac-about__duties-block -->
    <div class="vac-about__block wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s">
      <strong> Требования: </strong>
      <ul>
        <li> Высшее инженерно-строительное образование (ПГС). </li>
        <li> Знание нормативно-технической документации, ГОСТ, СНиП. </li>
        <li> Опыт работы от 5 лет — в строительстве, более 3 лет — в техническом надзоре (служба заказчика или генподрядчика). </li>
        <li> Знание современных технологий строительства. Знание инженерных систем. </li>
        <li> Уверенное владение ПК (MS Office, AutoCad). </li>
        <li> Наличие личного авто (желательно). </li>
        <li>
          <b>Личные качества:</b> Ответственность, честность, требовательность, умение работать в команде, системность, организаторские способности, стрессоустойчивость, энергичность, стремление к профессиональному развитию. </li>
      </ul>
      <!-- /.vac-about__demands-lists -->
    </div>
    <!-- /.vac-about__demands-block -->
    <div class="vac-about__block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
      <strong> Оцените преимущества: </strong>
      <ol>
        <li> Оформление в штат компании и социальные гарантии в соответствие с ТК РФ </li>
        <li> Программа поощрения сотрудников (соц.пакет): ДМС, спорт, подарки от компании и др. </li>
        <li> Обучение, стажировки за счет компании. </li>
        <li> Возможность карьерного роста. </li>
        <li> Дружный коллектив, отличная атмосфера и корпоративная культура. </li>
      </ol>
      <!-- /.vac-about__advantage-lists -->
    </div>
    <!-- /.vac-about__advantage-block -->
    <section class="share share_horizontal wow fadeIn">
      <div class="share__line"></div>
      <div class="social share__social">
        <a href="https://www.instagram.com/talan_tyumen" class="social__item socicon-instagram" target="_blank"></a>
        <a href="https://ok.ru/profile/588185280058" class="social__item socicon-odnoklassniki" target="_blank"></a>
        <a href="https://vk.com/talan_tyumen" class="social__item socicon-vkontakte" target="_blank"></a>
        <a href="https://www.facebook.com/profile.php?id=100022990113201&ref=bookmarks" class="social__item socicon-facebook" target="_blank"></a>
      </div>
      <div class="share__text"> поделиться </div>
    </section>
  </div>
  <!-- /.wrap wrap_mobile_full -->
</section>
<!-- /.vac-about -->
<!-- /.VACANCY-ABOUT_SECTION -->