<!-- VACANCY-SIMILAR -->
<section class="vacancy">
  <div class="wrap wrap_mobile_full">
    <div class="vacancy__top-row clearfix">
      <h2 class="h2 vacancy__h2 wow fadeInLeft" data-wow-delay="0.8s" data-wow-duration="0.8s"> Похожие вакансии </h2>
    </div>
    <!-- /.vacancy__top-row -->
    <div class="vacancy__card-block clearfix">
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title vacancy__card-title--similar"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title vacancy__card-title--similar"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title vacancy__card-title--similar"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
    </div>
    <!-- /.vacancy__card-block -->
  </div>
  <!-- /.wrap wrap_mobile_full -->
</section>
<!-- /.vacancy-lists -->
<!-- /.VACANCY-SIMILAR -->