<!--/. VAC-PRINCIPLES -->
<section class="values vac-values">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 values__h2 wow fadeInLeft"> Принципы работы </h2>
    <div class="values__list">
      <div class="card values__card wow fadeInUp">
        <div class="card__img" data-bg-src=".&#x2F;static&#x2F;img&#x2F;about&#x2F;values_card-img-1.jpg" data-bg-pos="center" data-bg-size="cover"></div>
        <h5 class="h5 card__h5"> Командная работа </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Создаем среду, в которой дома, где благоприятная обстановка и единая социальная среда делает лучше не только вашу жизнь, но и вас самих. </p>
        </div>
      </div>
      <div class="card values__card wow fadeInUp">
        <div class="card__img" data-bg-src=".&#x2F;static&#x2F;img&#x2F;about&#x2F;values_card-img-2.jpg" data-bg-pos="center" data-bg-size="cover"></div>
        <h5 class="h5 card__h5"> Ответственность и забота о каждом </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Мы помогаем людям перейти на качественно новый уровень жизни - продуманные пространства для действительно удобной жизни горожан. </p>
        </div>
      </div>
      <div class="card values__card wow fadeInUp">
        <div class="card__img" data-bg-src=".&#x2F;static&#x2F;img&#x2F;about&#x2F;values_card-img-3.jpg" data-bg-pos="center" data-bg-size="cover"></div>
        <h5 class="h5 card__h5"> Профессионализм и единство команды </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Каждый день единая команда талантливых людей создают новый уровень жизни для тысяч семей по все стране. Мы строим будущее. </p>
        </div>
      </div>
      <div class="card values__card wow fadeInUp">
        <div class="card__img" data-bg-src=".&#x2F;static&#x2F;img&#x2F;about&#x2F;values_card-img-4.jpg" data-bg-pos="center" data-bg-size="cover"></div>
        <h5 class="h5 card__h5"> Cовременны и открыты новому </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Каждый проект концептуален. Стремимся, чтобы каждый следующий проект был лучше предыдущего. </p>
        </div>
      </div>
      <div class="card values__card wow fadeInUp">
        <div class="card__img" data-bg-src=".&#x2F;static&#x2F;img&#x2F;about&#x2F;values_card-img-5.jpg" data-bg-pos="center" data-bg-size="cover"></div>
        <h5 class="h5 card__h5"> Надежный друг и партнер </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Всегда идем на диалог, заботимся о сервисе. Покупать у нас легко, жить в наших домах — комфортно. Ценим партнеров, и уважаем конкурентов. </p>
        </div>
      </div>
      <div class="card values__card wow fadeInUp">
        <div class="card__img" data-bg-src=".&#x2F;static&#x2F;img&#x2F;gk&#x2F;architector-pic.jpg" data-bg-pos="center" data-bg-size="cover"></div>
        <h5 class="h5 card__h5"> Cовременны и открыты новому </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Каждый проект концептуален. Стремимся, чтобы каждый следующий проект был лучше предыдущего. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/. VAC-PRINCIPLES -->