#template_customize_add {
    margin-bottom: 20px;
}

#blog_template_customizer_widget li {
    padding: 50px;
    list-style: none;
    display: inline-block;
    border: solid 1px #ccc;
}

#blog_template_customizer_widget li {
    text-align: center;
}

#blog_template_customizer_widget .select2 {
    width: 200px;
}

#blog_template_customizer_widget {
    width: 100%;
}

/* left */
.width1 {
    width: 100%;
}

/* right */
.width2 {
    width: 100%;
}

/* 3 columns */
.width3 {
    width: 100%;
}