<section class="rules econom">
  <div class="rules__list">
    <div class="card {{ class_name }} rules__card">
      <div class="wrap wrap_mobile_full">
        <div class="card__inner">
          <div class="card__content">
            <h3 class="h3 card__h3 wow fadeInLeft"> Экономия до 1.5% дополнительно </h3>
            <div class="card__text wow fadeInLeft" data-wow-delay="0.8s">
              <p> Наша компания на рынке давно и пользуется уважением финансовых учреждений, поэтому нам готовы создавать лучшие условия для получения ипотеки для наших клиентов. </p>
            </div>
          </div>
        </div>
        <div class="card__img wow fadeIn" data-bg-src="./static/img/ipoteka/ecomon-bg.jpg" data-bg-pos="center bottom" data-bg-size="cover" data-wow-duration="2s" data-wow-delay="0.5s"></div>
      </div>
    </div>
  </div>
</section>