<!-- Rassrochka popup -->
<div class="modals" data-modals>
  <div class="modal modals__modal" data-modal="ipoteka">
    <div class="modal__outer">
      <div class="modal__overlay" data-modal-close></div>
      <div class="modal__inner">
        <div class="modal__content">
          <div class="popup">
            <button class="modal__close" data-modal-close></button>
            <h5 class="h5 popup__h5"> Запрос на ипотеку </h5>
            <form class="form popup__form" method="POST">
              <input type="text" class="form__input" required placeholder="Ваше имя">
              <input type="text" class="form__input" required placeholder="телефон">
              <div class="field form__field">
                <label class="checkbox form__checkbox">
                  <input type="checkbox" id="debug" class="checkbox__checkbox" name="_agree" required data-validation-name="agree">
                  <span class="checkbox__mask"></span>
                  <span class="checkbox__label"> Я
                    <a href="#" target="_blank">согласен</a> на обработку моих персональных данных. С
                    <a href="#" target="_blank">Политикой</a> в отношении обработки персональных данных ознакомлен и согласен. </span>
                </label>
              </div>
              <button class="button button_green form__button" type="submit"> Отправить
                <span class="button__blip button__blip_hover"></span>
                <span class="button__blip button__blip_click"></span>
              </button>
              <input type="hidden" name="price" class="js-popup-price" value="">
              <input type="hidden" name="term" class="js-popup-term" value="">
              <input type="hidden" name="first_value" class="js-popup-first_value" value="">
              <input type="hidden" name="payment" class="js-popup-payment" value=""> </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>