<!-- ZAYAVKA -->
<section class="zayavka statistics ipot-zayavka">
  <div class="wrap wrap_mobile_full">
    <div class="wow fadeInLeft">
      <h2 class="h2 values__h2"> Все просто, никаких дополнительных платежей </h2>
    </div>
    <div class="statistics__list">
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">1</span>
        </h3>
        <h5 class="h5 card__h5"> Выбор квартиры </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Выбирайте расположение, дом, секцию, этаж и бронируйте квартиру в нашем офисе. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">2</span>
        </h3>
        <h5 class="h5 card__h5"> Консультация брокера </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p>Отправьте заявку брокеру, который поможет подобрать подходящий кредит. Брокер ответит на любые вопросы, расскажет о плюсах и минусах программ кредитования и подберет для вашей ситуации условия ипотеки — ситуации бывают разные: например, низкая
            ставка или быстрое положительное решение. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">3</span>
        </h3>
        <h5 class="h5 card__h5"> Оформление заявки </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Когда выбрана квартира и программа кредитования, подаётся заявка в несклько банков одновременно. Формируется один пакет документов и единая анкета. Если один банк затягивает с рассмотрением заявки, то второй может её уже одобрить. Возможно,
            что у одного кредитора будет меньший процент, а другой предложит большую сумму кредита. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">4</span>
        </h3>
        <h5 class="h5 card__h5"> Подписание договора </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Специалист банка назначает день подписания договора. В этот день вы подписываете договор долевого участия или договор купли-продажи в нашем офисе, а кредитный договор — в офисе банка. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">5</span>
        </h3>
        <h5 class="h5 card__h5"> Регистрация договора в Росреестре </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Во время подписания договора специалист по работе с недвижимостью записывает вас на ближайшую очередь государственной регистрации договора в Росреестре. Регистрация документов в Росреестре проходит в течение пяти рабочих дней. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">6</span>
        </h3>
        <h5 class="h5 card__h5"> Окончательный расчет </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> После получения зарегистрированного в Росреестре договора необходимо посетить банк для окончательного расчета не позднее, чем за два дня. Не забудьте взять с собой договор. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">7</span>
        </h3>
        <h5 class="h5 card__h5"> Свидетельство о праве собственности </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> После ввода дома в эксплуатацию и подписания акта приема-передачи квартиры необходимо пройти регистрацию права собственности. В свидетельстве будет указано обременение банка, а именно ипотека в силу закона. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">8</span>
        </h3>
        <h5 class="h5 card__h5"> Закрытие ипотеки </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Во время подписания договора специалист по работе с недвижимостью записывает вас на ближайшую очередь государственной регистрации договора в Росреестре. Регистрация документов в Росреестре проходит в течение пяти рабочих дней. </p>
        </div>
      </div>
      <div class="card card_stub statistics__card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="card__img" data-bg-src="./static/img/about/logo_stub.png" data-bg-pos="center" data-bg-size="auto" style="background: url(&quot;./static/img/about/logo_stub.png&quot;) center center / auto no-repeat;"></div>
      </div>
    </div>
  </div>
</section>