<section class="choose-aphouse commercial__house">
  <div class="wrap wrap_mobile_full">
    {{# lists }}
      <div class="choose-house__lists">
        {{# items }}
          <a href="{{ href }}" class="choose-house__items {{#active}}choose-house__items--active{{/active}}"> {{ name }} </a>
          <!-- /.choose-house__items -->
        {{/ items }}
      </div>
      <!-- /.choose-house__lists -->
    {{/ lists }}
  </div>
  <!-- /.wrap wrap_mobile_full -->
</section>
<!-- /.choose-house -->