<section class="gallery commercial__gallery">
  <div class="wrap wrap_mobile_full">
    <div class="commercial__wrap">
      <div class="commercial__slider wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s" data-gallery-slider data-slick='{"slidesToShow": 1, "prevArrow": " .navigation__build-btn_prev", "nextArrow": " .navigation__build-btn_next", "infinite": true, "slidesToScroll": 1, "dots": false, "fade":true, "asNavFor": "[data-gallery-nav]"}'>
        {{# items }}
          <div data-fancybox="gallery" class="career__card" href="{{ img }}">
            <img src="{{ img }}" alt="">
            <div class="commercial__mask">
              <a href="{{mask_link}}" class="commercial__mask-link">
                <img src="{{mask_img}}" alt="mask-img1" class="commercial__mask-img"> </a>
            </div>
          </div>
          <!--<div class="gallery__photo" data-bg-src="{{ . }}" data-bg-size="contain" data-bg-pos="center"></div>-->
        {{/ items }}
      </div>
      <div class="commercial__nav" data-gallery-nav data-slick='{"slidesToShow": 7, "slidesToScroll": 1, "dots": false, "focusOnSelect": true, "asNavFor": "[data-gallery-slider]", "infinite": true, "responsive": [{"breakpoint": 1201, "settings": {"slidesToShow": 7}}, {"breakpoint": 767, "settings": {"slidesToShow": 4}}]}'>
        {{# items }}
          <div class="commercial__item">
            <div class="commercial__img" data-bg-src="{{ img }}" data-bg-size="cover" data-bg-pos="center"></div>
            <div class="commercial__descr"> {{description}} </div>
          </div>
        {{/ items }}
      </div>
      <button class="gallery__zoom career__zoom">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search" /> </svg>
      </button>
      <div class="navigation commercial__navigation wow fadeInUp">
        <div class="navigation__content">
          <button class="navigation__btn navigation__build-btn_prev slick-arrow" data-gallery-slider-arrow-prev="" style="display: inline-block;">
            <div class="arrow arrow_left navigation__arrow"></div>
            <span class="arrow__desk"></span>
          </button>
          <div class="navigation__status">
            <span class="navigation__current" data-gallery-slider-status-current="">1</span> \
            <span class="navigation__total" data-gallery-slider-status-total="">7</span>
          </div>
          <button class="navigation__btn navigation__build-btn_next slick-arrow" data-gallery-slider-arrow-next="" style="display: inline-block;">
            <div class="arrow arrow_right navigation__arrow"></div>
            <span class="arrow__desk"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /gallery -->