<!-- QUESTIONS -->
{{# form_contact }}
  <div class="questions questions_article commercial-question" data-form-outer>
    <div class="form-content questions__form-content">
      <div class="wrap wrap_mobile_full">
        <div class="questions__columns">
          <div class="questions__column">
            {{#title}}
              <h2 class="h2 questions__h2 wow fadeInUp"> {{{ title }}} </h2>
            {{/title}}
            {{# text }}
              <div class="text questions__text questions__text_tab wow fadeInUp">
                <p> {{ text }} </p>
              </div>
            {{/ text }}
            <!-- QUESTIONS FORM -->
            <form action="/" method="POST" class="form questions__form wow fadeInUp" data-form>
              <!--NAME AND PHONE FIRST-->
              {{#user_info}}
                <div class="form__row form__row_split_2">
                  <label class="field form__field">
                    <input type="text" class="input form__input" name="_name" data-validation-name="name">
                    <span class="form__label"> {{ name.label }} </span>
                    <span class="field__error"> {{ name.error }} </span>
                  </label>
                  <label class="field form__field">
                    <input type="text" class="input form__input input_phone" name="_phone" data-validation-name="phone">
                    <span class="form__label"> {{ phone.label }} </span>
                    <span class="field__error"> {{ phone.error }} </span>
                  </label>
                </div>
              {{/user_info}}
              <!--***NAME AND PHONE FIRST:END***-->
              <!--NAME AND PHONE COMPANY-->
              {{#company_info}}
                <div class="form__row form__row_split_2">
                  <label class="field form__field">
                    <input type="text" class="input form__input" name="_name" data-validation-name="name">
                    <span class="form__label"> {{ name.label }} </span>
                    <span class="field__error"> {{ name.error }} </span>
                  </label>
                  <label class="field form__field">
                    <input type="text" class="input form__input input_phone" name="_phone" data-validation-name="phone">
                    <span class="form__label"> {{ phone.label }} </span>
                    <span class="field__error"> {{ phone.error }} </span>
                  </label>
                </div>
              {{/company_info}}
              <!--NAME AND PHONE COMPANY:END-->
              <!--ASK FIELD-->
              {{#ask_filed}}
                <div class="form__row">
                  <label class="field form__field">
                    <input type="text" class="input form__input" name="_question" data-validation-name="question">
                    <span class="form__label"> {{ label }} </span>
                  </label>
                </div>
              {{/ask_filed}}
              <!--ASK FIELD:END-->
              <!--CHECKBOX-->
              {{#checkbox}}
                <div class="form__row">
                  <div class="field form__field">
                    <label class="checkbox form__checkbox">
                      <input type="checkbox" class="checkbox__checkbox" name="_agree" data-validation-name="agree">
                      <span class="checkbox__mask"></span>
                      <span class="checkbox__label"> {{{text}}} </span>
                    </label>
                  </div>
                </div>
              {{/checkbox}}
              <!--CHECKBOX**//End**-->
              {{#btn}}
                <div class="form__row">
                  <button type="submit" class="button form__button wow fadeInUp"> {{ submit_text }}
                    <span class="button__blip button__blip_hover"></span>
                    <span class="button__blip button__blip_click"></span>
                  </button>
                </div>
              {{/btn}}
            </form>
            <!-- /QUESTIONS FORM -->
          </div>
          <div class="questions__column">
            {{# text }}
              <div class="text questions__text questions__text_desk wow fadeInUp">
                <p> {{ text }} </p>
              </div>
            {{/ text }}
            {{#manager}}
              <div class="manager questions__manager wow fadeInUp">
                <div class="manager__bg" data-bg-src="{{{ image }}}" data-bg-size="cover" data-bg-pos="center"> </div>
                <div class="manager__text-wrapper">
                  <div class="h5 manager__h5"> {{ name }} </div>
                  {{# title }}
                    <div class="divider"></div>
                    <div class="manager__text">
                      <p> {{ title }} </p>
                    </div>
                  {{/ title }}
                  {{# phone }}
                    <a href="tel:{{ phone }}" class="manager__tel" target="_blank"> {{ phone }} </a>
                  {{/ phone }}
                </div>
              </div>
            {{/manager}}
          </div>
        </div>
      </div>
    </div> {{> ../../components/questions/_success }} </div>
{{/ form_contact }}
<!-- /QUESTIONS -->