{{#download_app}}
  <section class="download_app">
    <div class="wrap wrap_mobile_full">
      {{#title}}
        <h2 class="h2 download_app__title wow fadeInUp"> {{{title}}} </h2>
      {{/title}}
      <div class="download_app__content">
        <div class="download_app__content-iphone wow fadeInLeft">
          {{#items}}
            <div class="download_app__content-img">
              {{#img}}
              <img src="{{{src}}}" alt="{{alt}}" title="{{title}}"> {{/img}}
            </div>
          {{/items}}
        </div>
        <div class="download_app__content-info">
          {{#text_items}}
            <p class="wow fadeInUp"> {{text}} </p>
          {{/text_items}}
          {{#download}}
            <div class="download_app__content-download wow fadeInUp">
              <a href="{{{path_to_file}}}" class="download_link download_app__content-download_link" download> {{text}} </a>
            </div>
          {{/download}}
          <div class="download_app__content-btns">
            {{#btns}}
              <div class="download_app__content-btn_wrap wow fadeInUp">
                <a href="{{{btn.href}}}" class="button download_app__btn button_green" rel="nofollow" target="_blank"> {{btn.text}}
                  <span class="button__blip button__blip_hover"></span>
                  <span class="button__blip button__blip_click"></span>
                </a>
              </div>
            {{/btns}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{/download_app}}