{{#download_presentation}}
  <section class="download_presentation">
    <div class="wrap wrap_mobile_full">
      {{#title}}
        <h2 class="h2 download_presentation__title wow fadeInUp"> {{title}} </h2>
      {{/title}}
      <div class="download_presentation__documents">
        {{#presentations}}
          <div class="download_presentation__documents-item wow fadeInUp">
            {{#file}}
              <a href="{{{href}}}" class="file__link" target="_blank">
                <img src="{{src}}" alt="{{alt}}">
                <span> {{file_name}} </span>
              </a>
            {{/file}}
          </div>
        {{/presentations}}
      </div>
    </div>
  </section>
{{/download_presentation}}