{{#intro_realtors}}
  <section class="intro_realtors">
    <div class="wrap wrap_mobile_full">
      {{#title}}
        <h2 class="h2 intro_realtors__title wow fadeInLeft"> {{title}} </h2>
      {{/title}}
    </div>
    <div class="intro_realtors__items">
      {{#img}}
      <div class="intro_realtors__items-left wow fadeIn" data-wow-delay=".2s">
        <img src="{{{src}}}" alt="{{alt}}"> </div>
      {{/img}}
      {{#content}}
        <div class="intro_realtors__items-right">
          {{#description}}
            <p class="intro_realtors__items-description wow fadeInRight" data-wow-delay=".3s"> {{text}} </p>
          {{/description}}
          {{#download}}
            <div class="intro_realtors__items-download wow fadeInRight" data-wow-delay=".4s">
              <a href="{{path_to_file}}" class="download_link intro_realtors__items-download_link" download> {{text}} </a>
            </div>
          {{/download}}
          {{#btn}}
            <button type="submit" class="button intro_realtors__btn button_green wow fadeInRight" data-wow-delay=".5s" data-modal-open="call-back"> {{text}}
              <span class="button__blip button__blip_hover"></span>
              <span class="button__blip button__blip_click"></span>
            </button>
          {{/btn}}
        </div>
      {{/content}}
    </div>
  </section>
{{/intro_realtors}}