<section class="statistics">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 statistics__h2 wow fadeInUp"> О компании </h2>
    <p class="statistics__description wow fadeInUp"> Вся работа риэлтора всегда с вами! Вы всегда сможете просмотреть жилье, планировки и отправить их клиенту. Компания активно развивается и вдет активную деятельность в 4 городах. В планах открыть филиалы и начать строительство комфортного жилья еще
      в 14 городах Росии. </p>
    <div class="statistics__list wow fadeInUp">
      {{# statistics.items }}
        <div class="card statistics__card">
          <h3 class="h3 card__h3">
            <span class="card_span">{{ number }}</span>
          </h3>
          <h5 class="h5 card__h5"> {{ title }} </h5>
          <div class="divider card__divider"></div>
          <div class="card__text">
            <p> {{ text }} </p>
          </div>
        </div>
      {{/ statistics.items }}
    </div>
  </div>
</section>