<div class="how-to-buy partners">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 how-to-buy__h2 wow fadeInLeft"> {{ title }} </h2>
    <div class="how-to-buy__list">
      {{# items }}
        <a href="{{ url }}" style="background-color: #d0a379" class="card how-to-buy__card wow fadeInUp">
          <div class=" card__title"> {{ title }} </div>
          <div class="card__text">
            <p> {{ text }} </p>
          </div>
          <div class="card__more"> {{ button_text }} </div>
        </a>
      {{/ items }}
    </div>
  </div>
</div>