<div class="wrap wrap_mobile_full">
  <div class="apartment-head">
    <h2 class="h2 apartment-head__h2 wow fadeInLeft"> {{ title }} </h2>
    <div class="diagram apartment-head__diagram wow fadeInLeft" data-wow-delay="0.5s">
      {{# percent }}
        <div class="circle-progress" data-circle-progress="{{ percent }}">
          <div class="circle-progress__outer">
            <div class="circle-progress__progress circle-progress__progress_10"></div>
            <div class="circle-progress__progress circle-progress__progress_20"></div>
            <div class="circle-progress__progress circle-progress__progress_30"></div>
            <div class="circle-progress__progress circle-progress__progress_40"></div>
            <div class="circle-progress__progress circle-progress__progress_50"></div>
            <div class="circle-progress__progress circle-progress__progress_60"></div>
            <div class="circle-progress__progress circle-progress__progress_70"></div>
            <div class="circle-progress__progress circle-progress__progress_80"></div>
            <div class="circle-progress__progress circle-progress__progress_90"></div>
            <div class="circle-progress__progress circle-progress__progress_100"></div>
            <div class="circle-progress__value">{{ percent }}</div>
            <div class="circle-progress__percent">%</div>
          </div>
      {{/ percent }}
      {{# text }}
        <div class="circle-progress__label"> {{ text }} </div>
      {{/ text }}
      </div>
    </div>
  </div>
</div>