<section class="branch_team">
  <div class="branch_team__wrap wrap wrap_mobile_full">
    {{#title}}
      <h2 class="h2 branch_team__title wow fadeInUp"> {{title}} </h2>
    {{/title}}
    <div class="branch_team__wrap-btn wow fadeInUp">
      {{#buttons}}
        <a href= {{href}} class="branch_team__btn {{#active}}branch_team__btn-a{{/active}}" {{#btn_sec}} data-url="team_ajax.html" {{/btn_sec}}> {{text}} </a>
      {{/buttons}}
    </div>
    <div id="players_wrap" class=" branch_team__tabs">
      <div class="branch_team__tab branch_team__tab-active has-content">
        <div class="branch_team__players">
          {{#players}}
            <div class="branch_team__players-player wow fadeInUp">
              <div class="branch_team__players-player__img">
                <img src= {{img.src}} alt= {{img.alt}} title= {{img.title_img}}> </div>
              <h6 class="branch_team__players-player__name wow fadeInUp" data-wow-delay="0.05s"> {{name}} </h6>
              <hr class="branch_team__players-player__line wow fadeInUp" data-wow-delay="0.1s">
              <p class="branch_team__players-player__position wow fadeInUp" data-wow-delay="0.15s"> {{position}} </p>
              {{#btn}}
                <a href="{{url}}" class="button button_green branch_team__players-player__btn wow fadeInUp" data-wow-delay="0.2s"> {{text}}
                  <span class="button__bg"></span>
                  <div class="button__blip button__blip_hover"></div>
                  <div class="button__blip button__blip_click"></div>
                </a>
              {{/btn}}
            </div>
          {{/players}}
        </div>
      </div>
      <div class="branch_team__tab "> </div>
    </div>
  </div>
</section>