<!-- ADVANTAGE -->
<section class="advantage values">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 new-quality__h2 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <span>Преимущества</span>
      <!-- <br> -->рассрочки: </h2>
    <div class="values__list">
      <div class="card values__card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="card__img" data-bg-src="./static/img/rassrochka/advanteges-img1.jpg" data-bg-pos="center" data-bg-size="cover" style="background: url(&quot;./static/img/rassrochka/advanteges-img1.jpg&quot;) center center / cover no-repeat;"></div>
        <h5 class="h5 card__h5"> Рассрочка от 0 % </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Вы не переплачиваете проценты. </p>
        </div>
      </div>
      <div class="card values__card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="card__img" data-bg-src="./static/img/rassrochka/advanteges-img2.jpg" data-bg-pos="center" data-bg-size="cover" style="background: url(&quot;./static/img/rassrochka/advanteges-img2.jpg&quot;) center center / cover no-repeat;"></div>
        <h5 class="h5 card__h5"> Индивидуальные условия </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Вы сами определяете график погашения, а размер первого взноса и строительства. </p>
        </div>
      </div>
      <div class="card values__card wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="card__img" data-bg-src="./static/img/rassrochka/advanteges-img3.jpg" data-bg-pos="center" data-bg-size="cover" style="background: url(&quot;./static/img/rassrochka/advanteges-img3.jpg&quot;) center center / cover no-repeat;"></div>
        <h5 class="h5 card__h5"> Без банковских процедур </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Не нужно собирать документы, искать поручителей, доказывать свою платежеспособность. </p>
        </div>
      </div>
    </div>
  </div>
</section>