<!-- INTRO -->
<section class="intro">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 about__h2 wow fadeInRight"> Оплата в рассрочку </h2>
    <div class="intro__block clearfix">
      <div class="intro__item-left">
        <p class="wow fadeInRight" data-wow-delay="1s" data-wow-duration="2s"> Рассрочка — способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. </p>
      </div>
      <!-- /.intro__item-left -->
      <div class="intro__item-right wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">
        <img src="./static/img/rassrochka/intro-img.jpg" alt="intro-img" width="844" height="450"> </div>
      <!-- /.intro__item-right -->
    </div>
    <!-- /.intro__block -->
  </div>
</section>