<!-- ZAYAVKA -->
<section class="zayavka statistics">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 values__h2 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;"> От заявки до квартиры
      <br> 3 дня </h2>
    <div class="statistics__list">
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">1</span>
        </h3>
        <h5 class="h5 card__h5"> Заявка </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Ежемесячный доход от аренды даже по минимальной арендной ставке составит не менее 65 000 рублей (от 27% годовых). </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">2</span>
        </h3>
        <h5 class="h5 card__h5"> Встреча </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Размещение в выгодном месте, при пересечении транспортных потоков, станет преимуществом в бизнесе. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">3</span>
        </h3>
        <h5 class="h5 card__h5"> Одобрение клиента </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Качество наших помещений оставляет только лучшее впечатление у арендаторов. </p>
        </div>
      </div>
    </div>
  </div>
</section>