<!-- QUESTIONS -->
{{# data_catalogue.questions }}
  <div class="questions questions_article catalogue_question commercial-question" data-form-outer>
    <div class="form-content questions__form-content">
      <div class="wrap wrap_mobile_full">
        <div class="questions__columns">
          <div class="questions__column">
            <h2 class="h2 questions__h2 wow fadeInUp">
              {{# title }} {{ title }} {{/ title }} {{^ title }} {{ questions.title }} {{/ title }}
</h2>
{{# text }}
  <div class="text questions__text questions__text_tab wow fadeInUp">
    <p> {{ text }} </p>
  </div>
{{/ text }} {{> _form }} </div>
<div class="questions__column">
  {{# text }}
    <div class="text questions__text questions__text_desk wow fadeInUp">
      <p> {{ text }} </p>
    </div>
  {{/ text }}
  <div class="manager questions__manager wow fadeInUp">
    <div class="manager__bg" data-bg-src="{{ manager.image }}" data-bg-size="cover" data-bg-pos="center"></div>
    <div class="manager__text-wrapper">
      <div class="h5 manager__h5"> {{ manager.name }} </div>
      {{# manager.title }}
        <div class="divider"></div>
        <div class="manager__text">
          <p> {{ manager.title }} </p>
        </div>
      {{/ manager.title }}
      {{# manager.phone }}
        <a href="tel:{{ manager.phone }}" class="manager__tel" target="_blank"> {{ manager.phone }} </a>
      {{/ manager.phone }}
    </div>
  </div>
</div>
</div>
</div>
</div> {{> _success }} </div>
{{/ data_catalogue.questions }}
<!-- /QUESTIONS -->