<!-- POSTER -->
<section class="poster poster_padding">
  <video class="poster__bg poster__bg_video" autoplay loop muted data-video-src="{{ video }}" data-poster-video data-autoplay data-keepplaying></video>
  <div class="poster__bg poster__bg_photo" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover"></div>
  <div class="poster__cover"></div>
  <div class="poster__inner career__inner">
    <div class="poster__content">
      <h1 class="h1 poster__h1 wow fadeInUp"> {{ title }} </h1>
      {{# subtitle_line1 }}
        <h5 class="h5 poster__h5 wow fadeInUp" data-wow-delay="0.3s"> {{ subtitle_line1 }} </h5>
      {{/ subtitle_line1 }}
      {{# subtitle_line2 }}
        <h5 class="h5 poster__h5 wow fadeInUp" data-wow-delay="0.6s"> {{ subtitle_line2 }} </h5>
      {{/ subtitle_line2 }}
      {{# form }} {{> _subscribe-form }} {{/ form }}
      {{# button }}
        <a href="{{ url }}" class="button button_transparent poster__button wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s"> {{ text }}
          <div class="button__bg"></div>
          <div class="button__blip button__blip_hover"></div>
          <div class="button__blip button__blip_click"></div>
        </a>
      {{/ button }}
    </div>
  </div>
  {{# scrolldown_text }}
    <div class="down poster__down wow down-to-top">
      <button class="down__button" data-scroll-down></button>
      <div class="down__label">{{ scrolldown_text }}</div>
    </div>
  {{/ scrolldown_text }}
</section>
<!-- /POSTER -->