{{!head}}
<meta name='format-detection' content='telephone=no'>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no'>
<meta http-equiv='X-UA-Compatible' content='ie=edge'>
<link href='static/css/index.css' rel='stylesheet'>{{!Suffix_???}}
<link rel="icon" type="image/png" href="static/favicon.png" />