<!-- HEADER BLACK-->
<header class="header header_black" id="header-black">
  <div class="wrap header__wrap wrap_mobile_full">
    <a href="/" class="logo header__logo">
      <svg class="logo__svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo_new"></use>
      </svg>
    </a>
    {{# cities }}
      <div class="select select_header-fix header__select">
        <button class="select__btn" data-dropdown-cities-btn="header-fix"> {{ active }} </button>
        <div class="select__options" data-dropdown-cities="header-fix">
          {{# items }}
            <a href="{{url}}" class="select__option"> {{name}} </a>
          {{/ items }}
        </div>
      </div>
    {{/ cities }}
    <nav class="nav header__nav">
      <div class="nav__wrap">
        {{# nav }}
          <a href="{{url}}" class="nav__link"> {{name}} </a>
        {{/ nav }}
      </div>
    </nav>
    <button class="btn-menu header__btn-menu" data-open-menu>
      <span class="btn-menu__element"></span>
      <span class="btn-menu__element"></span>
      <span class="btn-menu__element"></span>
    </button>
    <button class="call header__call" data-modal-open="call-back">
      <svg class="call__svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use>
      </svg>
    </button>
    <a href="tel:{{ common.phone }}" class="header__phone"> {{ common.phone }} </a>
  </div>
  <div class="header__line"></div>
</header>
<!-- /HEADER BLACK -->