{{!Helpers}}
<!--SVG-->
<div class='svg-container' style='position: absolute; width: 0; height: 0; overflow: hidden;'> {{> ../partials/_sprite.svg }} </div>
<!--picture element HTML5 shiv-->
<script>
  document.createElement('picture');
</script>