<!-- IMG-SPLIT -->
<div class="imgs">
  <table>
    <tr>
      <td>
        <img src="{{ img1.src }}" alt="{{ img1.alt }}"> </td>
      <td>
        <img src="{{ img2.src }}" alt="{{ img2.alt }}"> </td>
    </tr>
  </table>
</div>
<!-- /IMG-SPLIT -->