<div class="apartaments__bottom wow fadeIn">
  <div class="apartaments__cell">
    <div class="apartaments__line"></div>
  </div>
  <div class="apartaments__cell">
    <ul class="pagination apartaments__pagination">
      <li class="first hidden">
        <a href="#">&lt;&lt; First</a>
      </li>
      <li class="prev hidden">
        <a href="#">&lt; Previous</a>
      </li>
      {{# items }}
        <li class=" {{#active}} active {{/active}} ">
          <a href="{{url}}">{{text}}</a>
        </li>
      {{/ items }}
      <li class="next">
        <a href="#">Next &gt;</a>
      </li>
      <li class="last">
        <a href="#">Last &gt;&gt;</a>
      </li>
    </ul>
  </div>
</div>