<!-- PANEL-MENU -->
<div class="panel-menu" data-panel-menu>
  <div class="panel-menu__overlay"></div>
  <div class="panel-menu__inner">
    <button class="panel-menu__close" data-close-menu></button>
    {{# cities }}
      <div class="select select_menu panel-menu__select">
        <button class="select__btn" data-dropdown-cities-btn='menu'> {{ active }} </button>
        <div class="select__options" data-dropdown-cities='menu'>
          {{# items }}
            <a href="{{url}}" class="select__option"> {{name}} </a>
          {{/ items }}
        </div>
      </div>
    {{/ cities }}
    <nav class="nav panel-menu__nav">
      <div class="nav__wrap">
        {{# nav }}
          <a href="{{url}}" class="nav__link"> {{name}} </a>
        {{/ nav }}
      </div>
    </nav>
  </div>
</div>
<!-- /PANEL-MENU -->