<!-- QUOTE -->
<div class="quote">
  {{# text }}
    <p> {{ . }} </p>
  {{/ text }}
</div>
<!-- /QUOTE -->
<!-- QUOTE -->
<blockquote>
  {{# text }} {{ . }}
    <br> {{/ text }}
</blockquote>
<!-- /QUOTE -->