<section class="shares">
  <div class="wrap shares__wrap wrap_mobile_full">
    <h2 class="h2 shares__h2 wow fadeInLeft"> {{ title }} </h2>
    <div class="shares__list" data-shares-slider='{"slidesToShow": 1, "slidesToScroll": 1, "dots": false, "prevArrow": ".shares .navigation__btn_prev", "nextArrow": ".shares .navigation__btn_next","responsive": [
    {"breakpoint": 1201,
      "settings": {"slidesToShow": 3}},
    {"breakpoint": 767,
      "settings": {"slidesToShow": 1}}] }'>
      {{# items }}
        <!--shares poster start -->
        <a class="card shares__card wow fadeIn" href="{{ url }}" data-wow-delay="0s">
          <div class="card__img">
            <div class="card__background" data-bg-src="{{ image }}" data-bg-size="contain" data-bg-pos="center" data-all-djs-photo="0"></div>
          </div>
          <h5 class="card__title"> {{ title }} </h5>
        </a>
        <!--shares poster end -->
      {{/ items }}
    </div>
    <div class="navigation shares__navigation wow fadeInUp">
      <div class="wrap wrap_mobile_full">
        <div class="navigation__line"></div>
        <div class="navigation__content">
          <button class="navigation__btn navigation__btn_prev" data-testimonials-arrow-prev>
            <div class="arrow arrow_left navigation__arrow"></div>
          </button>
          <div class="navigation__status">
            <span class="navigation__current" data-shares-status-current>..</span>\
            <span class="navigation__total" data-shares-status-total>..</span>
          </div>
          <button class="navigation__btn navigation__btn_next" data-testimonials-arrow-next>
            <div class="arrow arrow_right navigation__arrow"></div>
          </button>
        </div>
      </div>
    </div>
    {{# view_all_link }}
      <div class="view-all">
        <div class="view-all__line"></div>
        <a href="{{ url }}" class="more view-all__more"> {{ text }} </a>
      </div>
    {{/ view_all_link }}
  </div>
</section>