<!-- SLIDER -->
<div class="sliders">
  <div class="slider-main">
    <div class="slider-main__wrap" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "asNavFor": ".slider-nav, .slider-description", "fade": true}'>
      {{# slides }}
        {{# src }}
          <div data-bg-src="{{src}}" data-bg-pos="center" data-bg-size="cover" data-fancybox="gallery" href="{{ src }}"></div>
        {{/ src }}
      {{/ slides }}
    </div>
    <a href="#" role="button" class="slider-main__zoom">
      <img class="slider-main__zoom-icon" src="./static/img/zoom_icon.png" alt="">
    </a>
  </div>
  <div class="slider-nav" data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "arrows": false, "asNavFor": ".slider-main__wrap, .slider-description", "focusOnSelect": true,	"responsive":	[{"breakpoint": 1201, "settings": {"slidesToShow": 4}}, {"breakpoint": 768, "settings": {"slidesToShow": 3}}, {"breakpoint": 479, "settings": {"slidesToShow": 2}}]}'>
    {{# slides }}
      {{# src }}
        <div>
          <div data-bg-src="{{src}}" data-bg-pos="center" data-bg-size="cover"></div>
        </div>
      {{/ src }}
    {{/ slides }}
  </div>
  <div class="slider-description" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "asNavFor": ".slider-nav, .slider-main__wrap", "fade": true}'>
    {{# slides }}
      {{# desc }}
        <p> {{ desc }} </p>
      {{/ desc }}
    {{/ slides }}
  </div>
</div>
<!-- /SLIDER -->