<!-- SUBSCRIBE FORM -->
<form action="{{#action}}{{.}}{{/action}}{{^action}}/{{/action}}" method="POST" class="form subscribe__form wow fadeInUp" data-form>
  {{# fields.email }}
    <div class="form__row">
      <label class="field form__field">
        <input type="text" class="input form__input" name="_email" data-validation-name="email">
        <span class="form__label"> {{ label }} </span>
        {{# error }}
          <span class="field__error"> {{ error }} </span>
        {{/ error }}
      </label>
    </div>
  {{/ fields.email }}
  {{# agree }}
    <div class="form__row">
      <div class="field form__field">
        <label class="checkbox form__checkbox">
          <input type="checkbox" class="checkbox__checkbox" name="_agree" data-validation-name="agree">
          <span class="checkbox__mask"></span>
          <span class="checkbox__label"> {{{ text }}} </span>
        </label>
      </div>
    </div>
  {{/ agree }}
  {{# submit_btn }}
    <div class="form__row">
      <button type="submit" class="button {{ class }} wow fadeInUp"> {{ text }}
        <span class="button__blip button__blip_hover"></span>
        <span class="button__blip button__blip_click"></span>
      </button>
    </div>
  {{/ submit_btn }}
</form>
<!-- /SUBSCRIBE FORM -->