<!-- TABLE -->
<div class="table">
  {{# title }}
    <h5> {{ title }} </h5>
  {{/ title }}
  {{# data }}
    <div class="table__wrap">
      <table>
        <thead>
          <tr>
            {{# heading }}
              <td> {{ . }} </td>
            {{/ heading }}
          </tr>
        </thead>
        <tbody>
          {{# rows }}
            <tr>
              {{# . }}
                <td> {{ . }} </td>
              {{/ . }}
            </tr>
          {{/ rows }}
        </tbody>
      </table>
    </div>
  {{/ data }}
</div>
<!-- /TABLE -->