<!-- VIDEO -->
<div class="video">
  <div data-youtube="seY6XqENVEc" data-bg-src="{{ image }}" data-bg-size="cover" data-bg-pos="center">
    <div class="play video__play">
      <div class="play__blip play__blip_hover"></div>
      <div class="play__blip play__blip_click"></div>
    </div>
    <iframe src="" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<!-- /VIDEO -->