<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{data_about.title}}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_about.header_submenu }} {{> ../components/header/_submenu }} {{/ data_about.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!poster}}
      {{# data_about.poster }} {{> ../components/_poster }} {{/ data_about.poster }} {{!./ poster}}
      {{!header white}}
      <header class="header">
        <div class="wrap header__wrap wrap_mobile_full"> {{> ../components/header/_header-wrap-white }} </div>
        {{# data_about.header_submenu }} {{> ../components/header/_submenu-white }} {{/ data_about.header_submenu }}
        {{# data_about.breadcrumbs }}
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        {{/ data_about.breadcrumbs }}
        <div class="header__line"></div>
      </header> {{!./ header white}}
      {{!statistics}}{{!./ statistics}}
      {{!mission}}{{!./ mission}}
      {{!values}}{{!./ values}}
      {{!director}}{{!./ director}}
      {{!questions}}
      {{# data_about.questions }} {{> ../components/questions/_green }} {{/ data_about.questions }} {{!./ questions}}
      {{!footer}}
      <footer class="footer footer_no_margin"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_no_margin footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_no_margin footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}} </body>
</html>