<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_apartment.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_apartment.header_submenu }} {{> ../components/header/_submenu }} {{/ data_apartment.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!header_row}}
      {{# data_apartment.breadcrumbs }}
        <div class="header__row header__row_apartment">
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        </div>
      {{/ data_apartment.breadcrumbs }} {{!./ header_row}}
      {{!heade_single}}
      {{# data_apartment.head_single }} {{> apartment-sections/head-single }} {{/ data_apartment.head_single }} {{!./ heade_single}}
      {{! gallery}}
      {{# data_apartment.gallery }} {{> apartment-sections/gallery }} {{/ data_apartment.gallery }} {{!./ gallery}}
      <section class="tour">
        <div class="wrap wrap_mobile_full">
          <div class="tour__body">
            <iframe class="tour__iframe" src="https://s3.eu-west-2.amazonaws.com/tour.talan2/site/index.html"></iframe>
          </div>
        </div>
      </section> {{! shares }}
      {{# data_apartment.shares }} {{> ../components/_shares }} {{/ data_apartment.shares }} {{!./ shares }}
      {{! description}}
      {{# data_apartment.description }} {{> apartment-sections/description }} {{/ data_apartment.description }} {{!./ description}}
      {{! floor_plan}}{{! # data_apartment.floor_plan }}
      {{! >{{! / data_apartment.floor_plan }}
      {{!./ floor_plan}}{{! how_to_buy}}
      {{# data_apartment.how_to_buy }} {{> apartment-sections/how-to-buy }} {{/ data_apartment.how_to_buy }} {{!./ how_to_buy}}
      {{! related}}
      {{# data_apartment.related }} {{> apartment-sections/related }} {{/ data_apartment.related }} {{!./ related}}
      {{! question}}
      {{# data_apartment.question }} {{> ../components/questions/_default_commercial }} {{/ data_apartment.question }} {{!./ question}}
      {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{!/. scripts}}</body>
</html>