<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head }}
    <title>{{ data_article.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!header_row}}
      {{# data_article.breadcrumbs }}
        <div class="header__row header__row_article">
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        </div>
        </div>
      {{/ data_article.breadcrumbs }} {{!./ header_row}}
      {{!share_vertical}}
      {{# data_article.share }} {{> article-sections/share-vertical }} {{/ data_article.share }} {{!./ share_vertical}}
      {{!article}}{{!./ article}}
      {{!share_horizontal}}
      {{# data_article.share }} {{> article-sections/share-horizontal }} {{/ data_article.share }} {{!./ share_horizontal}}
      {{! related articles}}
      <!-- REALTED ARTICLES -->
      <section class="articles articles_journal">
        <div class="wrap wrap_small wrap_mobile_full">
          {{# data_article.articles }}
            {{# title }}
              <h2 class="h2 articles_journal__title">{{title}}</h2>
            {{/ title }} {{> journal-sections/articles }} {{/ data_article.articles }}
        </div>
      </section>
      <!-- / REALTED ARTICLES -->{{!./ related articles}}
      {{!questions}}
      {{# data_article.questions }} {{> journal-sections/questions }} {{/ data_article.questions }} {{!./ questions}}
      {{!footer}}
      <footer class="footer footer_no_margin"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_no_margin footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_no_margin footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts }} </body>
</html>