<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_career_details.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_career_details.header_submenu }} {{> ../components/header/_submenu }} {{/ data_career_details.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!poster}}
      {{# data_career_details.poster }} {{> ../components/_poster }} {{/ data_career_details.poster }} {{!./ poster}}
      {{!header_white}}
      <header class="header">
        <div class="wrap header__wrap wrap_mobile_full"> {{> ../components/header/_header-wrap-white }} </div>
        {{# data_career_details.header_submenu }} {{> ../components/header/_submenu }} {{/ data_career_details.header_submenu }}
        {{# data_career_details.breadcrumbs }}
          <div class="header__row">
            <div class="wrap wrap_mobile_full">
              <div class="bread-crumbs header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
            </div>
          </div>
        {{/ data_career_details.breadcrumbs }}
        <div class="header__line"></div>
      </header> {{!./ header_white}}
      {{! how_to_buy}}
      {{# data_career_details.how_to_buy }} {{> career-details-sections/car-details-specialization }} {{/ data_career_details.how_to_buy }} {{!./ how_to_buy}}
      {{!employees}}{{!./ employees}}
      {{!employees}}{{!./ employees}}
      {{!JOURNAL TALAN}}
      <section class="articles vtor-details__articles career__articles car-details__journal">
        <div class="wrap wrap_mobile_full">
          <div class="vtor-details__text-block ">
            <h2 class="h2"> Талан журнал </h2>
          </div>
          {{# data_career.articles }} {{> journal-sections/articles }} {{/ data_career.articles }}
          <div class="view-all career__view-all">
            <div class="view-all__line"></div>
            <a href="#" class="more view-all__more"> все статьи </a>
          </div>
        </div>
      </section> {{!./ JOURNAL TALAN}}
      {{!vac-questions}}{{!./ vac-questions}}
      {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}}
      <script src="./static/js/map.js"></script> {{!/. scripts}}</body>
</html>