<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_catalogue_commercial.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_catalogue_commercial.header_submenu }} {{> ../components/header/_submenu}} {{/ data_catalogue_commercial.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!poster}}
      {{# data_catalogue_commercial.poster }} {{> ../components/_poster }} {{/ data_catalogue_commercial.poster }} {{!./ poster}}
      {{!header white}}
      <header class="header">
        <div class="wrap header__wrap wrap_mobile_full"> {{> ../components/header/_header-wrap-white }} </div> {{!catalogue_head}}
        {{# data_catalogue_commercial.header_submenu }} {{> ../components/header/_submenu-white  }} {{/ data_catalogue_commercial.header_submenu }} {{!./ catalogue_head}}
        {{# data_catalogue_commercial.breadcrumbs }}
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        {{/ data_catalogue_commercial.breadcrumbs }}
      </header> {{!./ header white}}
      {{!catalogue_head}}
      {{# data_catalogue.head }} {{> catalogue-commercial-sections/catalogue-head }} {{/ data_catalogue.head }} {{!./ catalogue_head}}
      {{!catalogue_list}}{{!./ catalogue_list}}
      {{!profit}}{{!./ profit}}
      {{!apartaments_list}}{{!./ apartaments_list}}
      {{! question}}{{!./ question}}
      {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}} </body>
</html>