<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_commercial.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black compensate-for-scrollbar" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_commercial.header_submenu }} {{> ../components/header/_submenu }} {{/ data_commercial.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!header_row}}
      {{# data_commercial.breadcrumbs }}
        <div class="header__row header__row_apartment">
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        </div>
      {{/ data_commercial.breadcrumbs }} {{!./ header_row}}
      {{!heade_single}}
      {{# data_commercial.head_single }} {{> commercial-sections/page-head }} {{/ data_commercial.head_single }} {{!./ heade_single}}
      {{! gallery}}
      {{# data_commercial.gallery }} {{> commercial-sections/gallery }} {{/ data_commercial.gallery }} {{!./ gallery}}
      {{! new_quality}}
      {{# data_commercial.new_quality }} {{> gk-sections/new-quality }} {{/ data_commercial.new_quality }} {{!./ new_quality}}
      {{! invest_calculator }}
      {{# data_commercial.invest_calculator }} {{> commercial-sections/calculator }} {{/ data_commercial.invest_calculator }} {{!./ invest_calculator }}
      {{! value s}}
      {{# data_commercial.values }} {{> commercial-sections/values }} {{/ data_commercial.values }} {{!./ values }}
      {{! how_to_buy}}
      {{# data_commercial.how_to_buy }} {{> commercial-sections/how-to-buy }} {{/ data_commercial.how_to_buy }} {{!./ how_to_buy}}
      {{! question}}
      {{# data_commercial.question }} {{> ../components/questions/_default_commercial }} {{/ data_commercial.question }} {{!./ question}}
      {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{# data_commercial.popup }} {{> commercial-sections/popup }} {{/ data_commercial.popup }} {{!scripts}}
      {{> {{!/. scripts}}</body>
</html>