<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_commercial_property_house.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_commercial_property_house.header_submenu }} {{> ../components/header/_submenu }} {{/ data_commercial_property_house.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!header_row}}
      {{# data_commercial_property_house.breadcrumbs }}
        <div class="header__row header__row_apartment">
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        </div>
      {{/ data_commercial_property_house.breadcrumbs }} {{!./ header_row}}
      <div class="commercial__title-head">
        <div class="wrap wrap_mobile_full">
          <h2 class="h2 commercial__h2 wow fadeInLeft"> {{data_commercial_property_house.title_block }} </h2>
        </div>
      </div> {{!choose_house}}
      {{# data_commercial_property_house }} {{> choose-house-sections/choose-ap-house }} {{/ data_commercial_property_house }} {{!./ choose_house}}
      {{! question}}
      {{# data_apartments.question }} {{> ../components/questions/_default_commercial }} {{/ data_apartments.question }} {{!./ question}}
      {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{!/. scripts}}</body>
</html>