<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_constructor.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_constructor.header_submenu }} {{> ../components/header/_submenu }} {{/ data_constructor.header_submenu }}
        <div class="header__line"></div>
        {{# data_constructor.breadcrumbs }}
          <div class="header__row">
            <div class="wrap wrap_mobile_full">
              <div class="bread-crumbs header__bread-crumbs constructor__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
            </div>
          </div>
        {{/ data_constructor.breadcrumbs }}
      </header> {{!./ header}}
      <div class="wrap wrap_mobile_full">
        <h1 class="h1 sales__h1 wow fadeInUp"> {{ data_constructor.sales.title }} </h1>
      </div>
      <div class="wrap wrap_mobile_full clearfix">
        {{# data_constructor.sales }}
          <div class="sales__row" data-sticky_column>
            <div class="sales__category-btn">Категории</div>
            <aside class="sales__select-block">
              {{# items }}
                <div class="sales__select-item">
                  <a href="#" class="sales__select-btn">
                    <span class="sales__select-btn_text"> {{ btn_text }} </span>
                  </a>
                  {{# list }}
                    <ul class="sales__lists">
                      <li>
                        <a>
                          <span class="sales__select-btn_text"> {{ list_text }} </span>
                        </a>
                      </li>
                    </ul>
                  {{/ list }}
                </div>
              {{/ items }}
            </aside>
          </div>
        {{/ data_constructor.sales }}
        <!-- <div class="wrap wrap_small h2_wrap wrap_mobile_full">
    <h2 class="h2_title">ewfdewfewfwe</h2>
  </div> -->
        <main data-pages="constructor-page" data-sticky_column class="constructor-page"> {{! Sales}}
          {{# data_constructor }} {{> constructor-sections/sales}} {{/ data_constructor }} {{!./ Sales}}
          {{! quantity}}
          {{# data_constructor }} {{> constructor-sections/quantity}} {{/ data_constructor }} {{!./ quantity}}
          {{!service-level}}
          {{# data_constructor }} {{> constructor-sections/service }} {{/ data_constructor }} {{!./ service-level}}
          {{!article}}{{!./ article}}
          {{!article}}{{!./ article}}
          {{!download_file}}
          {{# data_constructor }} {{> constructor-sections/dow-file }} {{/ data_constructor }} {{!./ download_file}}
          {{!LETTER}}
          {{# data_constructor }} {{> constructor-sections/letter }} {{/ data_constructor }} {{!./ LETTER}}
          {{!SCHEDULE}}
          {{# data_constructor }} {{> constructor-sections/schedule }} {{/ data_constructor }} {{!./ SCHEDULE}}
          {{!disclosure-of-date}}
          {{# data_constructor }} {{> constructor-sections/disclosure-of-date }} {{/ data_constructor }} {{!./ disclosure-of-date}}</main>
      </div> {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}}
      <script src="./static/js/map.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM_pXxEtD24PMq4zGa9nrOA3f1HewqMaw&callback=map.onApiLoaded"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> {{!/. scripts}}</body>
</html>