<!DOCTYPE html>
<html lang='ru'>
  <head> {{> ../components/_head}}
    <title>{{data_contacts.title}}</title>
  </head>
  <body data-page="contacts"> {{> ../components/_helpers}} {{> ../components/_preloader}} {{> ../components/_panel_menu}}
    <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
      {{# data_contacts.header_submenu }} {{> ../components/header/_submenu }} {{/ data_contacts.header_submenu }}
      <div class="header__line"></div>
    </header>
    {{# data_contacts.breadcrumbs }}
      <div class="header__row header__row_apartment">
        <div class="wrap wrap_mobile_full">
          <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
        </div>
      </div>
    {{/ data_contacts.breadcrumbs }}
    {{#data_contacts}} {{> contacts/contacts}} {{/data_contacts}}
    {{#data_contacts}} {{> contacts/get_to_us}} {{/data_contacts}}
    {{#data_contacts}} {{> contacts/get_in_touch}} {{/data_contacts}}
    <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
    <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
    <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{> ../components/_popup}} {{> ../components/_scripts}}
    <script src="./static/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM_pXxEtD24PMq4zGa9nrOA3f1HewqMaw&callback=map.onApiLoaded"></script>
  </body>
</html>