<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_catalogue.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{!# data_catalogue.header_submenu }}
        {{!> {{!/ data_catalogue.header_submenu }}
          <div class="header__line"></div>
      </header> {{!./ header}}
      {{!header_row}}
      {{# data_catalogue.breadcrumbs }}
        <div class="header__row header__row_apartment">
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        </div>
      {{/ data_catalogue.breadcrumbs }} {{!./ header_row}}
      {{> {{!footer}}
        <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
        <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
        <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
        {{!popup}}{{!./ popup}}
        {{!scripts}}{{!/. scripts}}</body>
</html>