<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_gk_chelny.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_choose_apartments_1_2.header_submenu }} {{> ../components/header/_submenu }} {{/ data_choose_apartments_1_2.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!header_row}}
      {{# data_choose_apartments_1_2.breadcrumbs }}
        <div class="header__row header__row_apartment">
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        </div>
      {{/ data_choose_apartments_1_2.breadcrumbs }} {{!./ header_row}}
      {{!apartments_head}}
      {{# data_choose_apartments_1_2.head }} {{> choose-house-sections/choose-house-head }} {{/ data_choose_apartments_1_2.head }} {{!./ apartments_head}}
      {{!choose_house}}
      {{# data_gk_chelny }} {{> allhomes-sections/chelny-heart-house}} {{/ data_gk_chelny }} {{!./ choose_house}}
      {{! question}}
      {{# data_apartments.question }} {{> ../components/questions/_default_commercial }} {{/ data_apartments.question }} {{!./ question}}
      {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{!/. scripts}}</body>
</html>