<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_gk.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_gk.header_submenu }} {{> ../components/header/_submenu }} {{/ data_gk.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!poster}}
      {{# data_gk.poster }} {{> ../components/_poster }} {{/ data_gk.poster }} {{!./ poster}}
      {{!header_white}}
      <header class="header">
        <div class="wrap header__wrap wrap_mobile_full"> {{> ../components/header/_header-wrap-white }} </div>
        {{# data_gk.header_submenu }} {{> ../components/header/_submenu }} {{/ data_gk.header_submenu }}
        {{# data_gk.breadcrumbs }}
          <div class="header__row">
            <div class="wrap wrap_mobile_full">
              <div class="bread-crumbs header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
            </div>
          </div>
        {{/ data_gk.breadcrumbs }}
        <div class="header__line"></div>
      </header> {{!./ header_white}}
      <main data-pages="complex-page"> {{! readiness}}
        {{# data_gk.readiness }} {{> gk-sections/readiness }} {{/ data_gk.readiness }} {{!./ readiness}}
        {{!questions}}
        {{# data_gk.questions }} {{> gk-sections/questions }} {{/ data_gk.questions }} {{!./ questions}}
        {{! new_quality}}
        {{# data_gk.new_quality }} {{> gk-sections/new-quality }} {{/ data_gk.new_quality }} {{!./ new_quality}}
        {{!catalogue_head}}
        {{# data_gk.head }} {{> catalogue-sections/catalogue-head }} {{/ data_gk.head }} {{!./ catalogue_head}}
        {{!catalogue_list}}{{!./ catalogue_list}}
        {{! map }}
        {{# data_gk.map }} {{> gk-sections/map }} {{/ data_gk.map }} {{!./ map }}
        {{! TAke apartment }}
        {{# data_gk.apartment }} {{> gk-sections/take_apartment}} {{/ data_gk.apartment }} {{! TAke apartment }}
        {{! accomplishment }}
        {{# data_gk.accomplishment }} {{> gk-sections/accomplishment }} {{/ data_gk.accomplishment }} {{!./ accomplishment }}
        {{! architect }}
        {{# data_gk.architect }} {{> gk-sections/architect  }} {{/ data_gk.architect }} {{!./ architect }}
        {{! Course of construction }}{{! / Course of construction }}
        {{! shares }}
        {{# data_gk.shares }} {{> ../components/_shares }} {{/ data_gk.shares }} {{!./ shares }}
        {{! how-to-buy }}
        {{#data_gk.how_to_buy}} {{> commercial-sections/how-to-buy }} {{/data_gk.how_to_buy}} {{! /how-to-buy }}
        {{! question}}
        {{# data_gk.question }} {{> ../components/questions/_default_commercial }} {{/ data_gk.question }} {{!./ question}}</main> {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}}
      <script src="./static/js/map.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM_pXxEtD24PMq4zGa9nrOA3f1HewqMaw&callback=map.onApiLoaded"></script> {{!/. scripts}}</body>
</html>