{{!SAMPLE_PAGE}}
<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{data_home.title}}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!poster}}
      {{# data_home.poster }} {{> ../components/_poster }} {{/ data_home.poster }} {{!./ poster}}
      {{!header}}
      <!-- HOME HEADER -->
      <header class="header">
        <div class="wrap header__wrap wrap_mobile_full"> {{> ../components/header/_header-wrap-white }}
          {{# data_home.city_choose }} {{> home-sections/city-choose }} {{/ data_home.city_choose }}
        </div>
        <div class="header__line"></div>
      </header>
      <!-- /HOME HEADER -->{{!./ header}}
      {{!about}}{{!./ about}}
      {{!rules}}{{!./ rules}}
      <!--{{!complexes}}-->
      <!--{{> home-sections/complexes}}-->
      <!--{{!./ complexes}}-->{{!catalogue_list}}
      {{> {{!./ catalogue_list}}
        {{! shares }}
        {{# data_home.shares }} {{> ../components/_shares }} {{/ data_home.shares }} {{!./ shares }}
        {{!testimonials}}{{!./ testimonials}}
        {{!Journal}}
        <!-- BLOG ARTICLES -->
        <section class="articles tal-section__journal home__journal ">
          <div class="wrap wrap_mobile_full">
            <h2 class="h2 tal-section__journal-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> Талан журнал </h2>
            {{# data_tal_section.articles }} {{> journal-sections/articles }} {{/ data_tal_section.articles }}
            <div class="view-all">
              <div class="view-all__line"></div>
              <a href="#" class="more view-all__more"> все статьи </a>
            </div>
          </div>
        </section>
        <!-- BLOG ARTICLES -->{{!./ Journal}}
        {{!text-block}}{{!./ text-block}}
        {{!footer}}
        <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
        <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
        <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
        {{!popup}}{{!./ popup}}
        {{!scripts}}{{!/. scripts}}</body>
</html>