<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_how_to_buy.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_how_to_buy.header_submenu }} {{> ../components/header/_submenu }} {{/ data_how_to_buy.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!header_row}}
      {{# data_how_to_buy.breadcrumbs }}
        <div class="header__row header__row_apartment">
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        </div>
      {{/ data_how_to_buy.breadcrumbs }} {{!./ header_row}}
      {{!apartments_head}}
      {{# data_how_to_buy.head }} {{> how-to-buy-sections/title-percent }} {{/ data_how_to_buy.head }} {{!./ apartments_head}}
      {{! how_to_buy}}
      {{# data_apartment.how_to_buy }} {{> apartment-sections/how-to-buy }} {{/ data_apartment.how_to_buy }} {{!./ how_to_buy}}
      {{! question}}
      {{# data_apartment.question }} {{> ../components/questions/_default_commercial }} {{/ data_apartment.question }} {{!./ question}}
      {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{!/. scripts}}</body>
</html>