<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_journal.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_journal.header_submenu }} {{> ../components/header/_submenu }} {{/ data_journal.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!header_row}}
      {{# data_journal.breadcrumbs }}
        <div class="header__row header__row_apartment">
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        </div>
      {{/ data_journal.breadcrumbs }} {{!./ header_row}}
      {{!articles}}
      <!-- BLOG ARTICLES -->
      <section class="articles without-top-space">
        <div class="wrap wrap_mobile_full">
          <h2 class="h2 articles__h2 wow fadeInLeft"> Журнал </h2>
          {{# data_journal.articles }} {{> journal-sections/articles }} {{/ data_journal.articles }}
          {{# data_journal.pagination }} {{> ../components/_pagination }} {{/ data_journal.pagination }}
        </div>
      </section>
      <!-- BLOG ARTICLES -->{{!./ articles}}
      {{!questions}}
      {{# data_journal.questions }} {{> journal-sections/questions }} {{/ data_journal.questions }} {{!./ questions}}
      {{!footer}}
      <footer class="footer footer_no_margin"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_no_margin footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_no_margin footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}} </body>
</html>