<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_land_purchase.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_land_purchase.header_submenu }} {{> ../components/header/_submenu }} {{/ data_land_purchase.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!poster}}
      {{# data_land_purchase.poster }} {{> ../components/_poster }} {{/ data_land_purchase.poster }} {{!./ poster}}
      {{!header_white}}
      <header class="header">
        <div class="wrap header__wrap wrap_mobile_full"> {{> ../components/header/_header-wrap-white }} </div>
        {{# data_land_purchase.header_submenu }} {{> ../components/header/_submenu }} {{/ data_land_purchase.header_submenu }}
        {{# data_land_purchase.breadcrumbs }}
          <div class="header__row">
            <div class="wrap wrap_mobile_full">
              <div class="bread-crumbs header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
            </div>
          </div>
        {{/ data_land_purchase.breadcrumbs }}
        <div class="header__line"></div>
      </header> {{!./ header_white}}
      <!--MAIN-->
      <main data-pages="complex-page" class="land_purchase"> {{!statistics}}
        {{> {{!./ statistics}}
          {{!map}}{{!./ map}}
          {{!plans}}{{!./ plans}}
          {{!director}}{{!./ director}}
          {{!download}}{{!./ download}}
          {{!new-quality}}{{!./ new-quality}}
          {{! rules }}{{! /rules }}
          {{! team }}{{! /team }}</main> {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}}
      <script src="./static/js/map.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM_pXxEtD24PMq4zGa9nrOA3f1HewqMaw&callback=map.onApiLoaded"></script> {{!/. scripts}}</body>
</html>