<!DOCTYPE html>
<html lang='ru'>
  <head> {{> ../components/_head}}
    <title>{{data_realtors.title}}</title>
  </head>
  <body data-page="realtors"> {{> ../components/_helpers}} {{> ../components/_preloader}} {{> ../components/_panel_menu}}
    <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
      {{# data_realtors.header_submenu }} {{> ../components/header/_submenu }} {{/ data_realtors.header_submenu }}
      <div class="header__line"></div>
    </header>
    {{# data_realtors.breadcrumbs }}
      <div class="header__row header__row_apartment">
        <div class="wrap wrap_mobile_full">
          <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
        </div>
      </div>
    {{/ data_realtors.breadcrumbs }}
    {{# data_realtors}} {{> realtors/intro_realtors}} {{/data_realtors}}
      {{#data_realtors}} {{> realtors/values_realtors}} {{/data_realtors}}
      {{#data_realtors}} {{> realtors/statistics_realtors}} {{/data_realtors}}
      {{#data_realtors}} {{> realtors/partners_slider}} {{/data_realtors}}
      {{#data_realtors}} {{> realtors/download_app}} {{/data_realtors}}
      {{# data_realtors }} {{> realtors/contact_form}} {{/data_realtors}}
        {{#data_realtors}} {{> realtors/download_presentation}} {{/data_realtors}}
        <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
        <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
        <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{> ../components/_popup}} {{> ../components/_scripts}} </body>
</html>