<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_sec_housing_details.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_sec_housing_details.header_submenu }} {{> ../components/header/_submenu }} {{/ data_sec_housing_details.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!poster}}
      {{# data_sec_housing_details.poster }} {{> ../components/_poster }} {{/ data_sec_housing_details.poster }} {{!./ poster}}
      {{!header_white}}
      <header class="header">
        <div class="wrap header__wrap wrap_mobile_full"> {{> ../components/header/_header-wrap-white }} </div>
        {{# data_sec_housing_details.header_submenu }} {{> ../components/header/_submenu }} {{/ data_sec_housing_details.header_submenu }}
        {{# data_sec_housing_details.breadcrumbs }}
          <div class="header__row">
            <div class="wrap wrap_mobile_full">
              <div class="bread-crumbs header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
            </div>
          </div>
        {{/ data_sec_housing_details.breadcrumbs }}
        <div class="header__line"></div>
      </header> {{!./ header_white}}
      {{! condition}}
      {{# data_sec_housing_details.values }} {{> commercial-sections/values }} {{/ data_sec_housing_details.values }} {{!./ condition }}
      {{! TAke apartments }}
      {{# data_sec_housing_details.apartment }} {{> sec_housing-details-sections/sec_housing-apartments}} {{/ data_sec_housing_details.apartment }} {{! TAke apartments }}
      {{! TAke apartments }}
      <div class="wrap wrap_mobile_full">
        <div class="vtor-details__text-block ">
          <h2 class="h2 vtor-details__apartments-h2">Выберите интересующую вас квартиру </h2>
        </div>
      </div>
      {{# data_sec_housing_details.apartment }} {{> sec_housing-details-sections/sec_housing-temporarys}} {{/ data_sec_housing_details.apartment }} {{! TAke apartments }}
      {{! STEPS }}{{! STEPS }}
      {{!articles}}
      <!-- BLOG ARTICLES -->
      <section class="articles vtor-details__articles">
        <div class="wrap wrap_mobile_full">
          <div class="vtor-details__text-block ">
            <h2 class="h2">Как мы работаем с вторичным жильем</h2>
          </div>
          {{# data_sec_housing_details.articles }} {{> journal-sections/articles }} {{/ data_sec_housing_details.articles }}
          <div class="view-all">
            <div class="view-all__line"></div>
            <a href="#" class="more view-all__more"> все статьи </a>
          </div>
        </div>
      </section>
      <!-- BLOG ARTICLES -->{{!./ articles}}
      {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}}
      <script src="./static/js/map.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM_pXxEtD24PMq4zGa9nrOA3f1HewqMaw&callback=map.onApiLoaded"></script> {{!/. scripts}}</body>
</html>