<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_tal_section.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_tal_section.header_submenu }} {{> ../components/header/_submenu }} {{/ data_tal_section.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!poster}}
      {{# data_tal_section.poster }} {{> ../components/_poster }} {{/ data_tal_section.poster }} {{!./ poster}}
      {{!header_white}}
      <header class="header">
        <div class="wrap header__wrap wrap_mobile_full"> {{> ../components/header/_header-wrap-white }} </div>
        {{# data_tal_section.header_submenu }} {{> ../components/header/_submenu }} {{/ data_tal_section.header_submenu }}
        {{# data_tal_section.breadcrumbs }}
          <div class="header__row">
            <div class="wrap wrap_mobile_full">
              <div class="bread-crumbs header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
            </div>
          </div>
        {{/ data_tal_section.breadcrumbs }}
        <div class="header__line"></div>
      </header> {{!./ header_white}}
      <main data-pages="complex-page"> {{! readiness}}
        {{# data_tal_section.readiness }} {{> tal-section-sections/readiness }} {{/ data_tal_section.readiness }} {{!./ readiness}}
        {{! new_quality}}
        {{# data_gk.new_quality }} {{> gk-sections/new-quality }} {{/ data_gk.new_quality }} {{!./ new_quality}}
        {{!questions}}
        {{# data_gk.questions }} {{> gk-sections/questions }} {{/ data_gk.questions }} {{!./ questions}}
        {{! CHESS }}
        {{# data_choose_apartments_2_2 }} {{> tal-section-sections/choose-ap-house  }} {{/ data_choose_apartments_2_2 }} {{!./ CHESS }}
        {{! shares }}
        {{# data_gk.shares }} {{> ../components/_shares }} {{/ data_gk.shares }} {{!./ shares }}
        {{! how-to-buy }}{{! /how-to-buy }}
        {{!questions}}
        {{# data_tal_section }} {{> tal-section-sections/form }} {{/ data_tal_section }} {{!./ questions}}
        {{!Journal}}
        <!-- BLOG ARTICLES -->
        <section class="articles tal-section__journal">
          <div class="wrap wrap_mobile_full">
            <h2 class="h2 tal-section__journal-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> Талан журнал </h2>
            {{# data_tal_section.articles }} {{> journal-sections/articles }} {{/ data_tal_section.articles }}
            <div class="view-all">
              <div class="view-all__line"></div>
              <a href="#" class="more view-all__more"> все статьи </a>
            </div>
          </div>
        </section>
        <!-- BLOG ARTICLES -->{{!./ Journal}}
        {{!done_projects}}{{!./ done_projects}}
        {{! question}}{{!./ question}}</main> {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}}
      <script src="./static/js/map.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM_pXxEtD24PMq4zGa9nrOA3f1HewqMaw&callback=map.onApiLoaded"></script> {{!/. scripts}}</body>
</html>