<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head}}
    <title>{{ data_team.title }}</title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      <main data-pages="team-page"> {{!header}}
        <!-- HEADER BLACK-->
        <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
          {{# data_team.header_submenu }} {{> ../components/header/_submenu }} {{/ data_team.header_submenu }}
          <div class="header__line"></div>
        </header> {{!./ header}}
        {{!header_white}}
        <header class="header ">
          <div class="wrap header__wrap wrap_mobile_full"> {{> ../components/header/_header-wrap-white }} </div>
          {{# data_team.header_submenu }} {{> ../components/header/_submenu-white }} {{/ data_team.header_submenu }}
          {{# data_team.breadcrumbs }}
            <div class="header__row">
              <div class="wrap wrap_mobile_full">
                <div class="bread-crumbs header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
              </div>
            </div>
          {{/ data_team.breadcrumbs }}
          <div class="header__line"></div>
        </header> {{!./ header_white}}
        {{!poster}}
        {{# data_team.poster }} {{> ../components/_poster }} {{/ data_team.poster }} {{!./ poster}}
        {{!-- BRANCH TEAM --}}
        {{#data_team.branch_team}} {{> team/branch_team}} {{/data_team.branch_team}} {{!-- BRANCH TEAM:/END --}}</main> {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!popup}}{{!./ popup}}
      {{!scripts}}{{> ../components/_scripts}}
      <script src="./static/js/map.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM_pXxEtD24PMq4zGa9nrOA3f1HewqMaw&callback=map.onApiLoaded"></script> {{!/. scripts}}</body>
</html>