<div class="branch_team__players">
  {{#data_team_ajax}}
    {{#players}}
      <div class="branch_team__players-player wow fadeInUp">
        <div class="branch_team__players-player__img">
          <img src= {{img.src}} alt= {{img.alt}} title= {{img.title_img}}> </div>
        <h6 class="branch_team__players-player__name wow fadeInUp" data-wow-delay="0.05s"> {{name}} </h6>
        <hr class="branch_team__players-player__line wow fadeInUp" data-wow-delay="0.1s">
        <p class="branch_team__players-player__position wow fadeInUp" data-wow-delay="0.15s"> {{position}} </p>
        {{#btn}}
          <a href="{{url}}" class="button button_green branch_team__players-player__btn wow fadeInUp" data-wow-delay="0.2s"> {{text}}
            <span class="button__bg"></span>
            <div class="button__blip button__blip_hover"></div>
            <div class="button__blip button__blip_click"></div>
          </a>
        {{/btn}}
      </div>
    {{/players}}
  {{/data_team_ajax}}
</div>