<!DOCTYPE html>
<html lang='ru'> {{!Head}}
  <head> {{> ../components/_head }}
    <title> {{data_vacancy_profile.title}} </title>
  </head>
  <body> {{!helpers}}
    {{> {{!./ helpers}}
      {{!preloader}}{{!./ preloader}}
      {{!panel_menu}}{{!./ panel_menu}}
      {{!header}}
      <!-- HEADER BLACK-->
      <header class="header header_black" id="header-black"> {{> ../components/header/_header-wrap }}
        {{# data_vacancy_profile.header_submenu }} {{> ../components/header/_submenu }} {{/ data_vacancy_profile.header_submenu }}
        <div class="header__line"></div>
      </header> {{!./ header}}
      {{!header_row}}
      {{# data_vacancy_profile.breadcrumbs }}
        <div class="header__row header__row_apartment">
          <div class="wrap wrap_mobile_full">
            <div class="bread-crumbs bread-crumbs_many bread-crumbs_grey header__bread-crumbs"> {{> ../components/_breadcrumbs }} </div>
          </div>
        </div>
      {{/ data_vacancy_profile.breadcrumbs }} {{!./ header_row}}
      {{!vac-about}}{{!./ vac-about}}
      {{!vac-faq}}{{!./ vac-faq}}
      {{!vac-questions}}{{!./ vac-questions}}
      {{! vac-similar}}{{!./ vac-similar}}
      {{! var-princilpes}}{{!./ var-princilpes}}
      {{!footer}}
      <footer class="footer"> {{> ../components/footer/_desktop }} </footer>
      <footer class="footer footer_tablet"> {{> ../components/footer/_tablet }} </footer>
      <footer class="footer footer_mobile"> {{> ../components/footer/_mobile }} </footer> {{!./ footer}}
      {{!scripts}}{{> ../components/_scripts }} </body>
</html>