{{#contacts}}
  <section class="contacts">
    <div class="wrap wrap_mobile_full">
      {{#title}}
        <h2 class="contacts__title h2 wow fadeInLeft"> {{{title}}} </h2>
      {{/title}}
    </div>
    <div class="contacts__wrap">
      <div class="contacts__wrap-map wow fadeInLeft" data-wow-delay="0.2s">
        <div id="map" class="contacts__map wow fadeIn" data-map-options='{"pos":{"lat":56.84769479,"lng":53.21220476},"zoom":15,"mainMarker":{"type":1,"pos":{"lat":56.84769479,"lng":53.21220476},"icon":"static/img/map/main_pin.png","html":" <div class=\"infowindow\">\n <h3>dfsdfsdf<\/h3>\n <p>sdfsdfsdf<\/p>\n <a href=\"tel:\" class=\"infowindow__tel\">sdfsdfsdf<\/a>\n <\/div>"},"markers":[{"type":1,"pos":{"lat":56.84889168,"lng":53.23176343},"icon":"static/img/map/main_pin.png","html":" <div class=\"infowindow\">\n <h3>ffff<\/h3>\n <p>fffffff<\/p>\n <a href=\"tel:\" class=\"infowindow__tel\">ffff<\/a>\n <\/div>"}, {"type":1,"pos":{"lat":56.84489168,"lng":53.23176343},"icon":"static/img/map/main_pin.png","html":" <div class=\"infowindow\">\n <h3>ffff<\/h3>\n <p>fffffff<\/p>\n <a href=\"tel:\" class=\"infowindow__tel\">ffff<\/a>\n <\/div>"}]}'></div>
      </div>
      <div class="contacts__wrap-contacts wow fadeInRight">
        {{#tel}}
          <div class="contacts__wrap-tel">
            {{#text}}
              <p class="contacts__wrap-group"> {{text}} </p>
            {{/text}}
            {{#number}}
              <a href="tel:{{{number}}}" class="contacts__wrap-phone_number h3"> {{{number}}} </a>
            {{/number}}
          </div>
        {{/tel}}
        {{#address}}
          <div class="contacts__wrap-address contacts__wrap-item">
            {{#text}}
              <p class="text">{{text}}</p>
              <p>{{place}}</p>
            {{/text}}
          </div>
        {{/address}}
        {{#email}}
          <div class="contacts__wrap-email contacts__wrap-item">
            {{#text}}
              <p class="text">{{text}}</p>
              <a href="mailto:{{{email}}}">{{{email}}}</a>
            {{/text}}
          </div>
        {{/email}}
        {{#work_time}}
          <div class="contacts__wrap-work_time contacts__wrap-item">
            {{#text}}
              <p class="text">{{text}}</p>
              <p class="contacts__wrap-time"> {{{time}}} </p>
            {{/text}}
          </div>
        {{/work_time}}
      </div>
    </div>
  </section>
{{/contacts}}