{{#get_in_touch}}
  <section class="get_in_touch">
    <div class="get_in_touch__wrap wrap wrap_mobile_full">
      {{#title}}
        <h2 class="h2 get_in_touch__title wow fadeInUp"> {{{title}}} </h2>
      {{/title}}
      <div class="get_in_touch__tabs wow fadeInUp">
        <div class="get_in_touch__tabs-col">
          <ul class="get_in_touch__tabs-menu">
            {{#tabs_menu}}
              <li class="get_in_touch__tabs-btn {{#active}}get_in_touch__tabs-btn-active{{/active}}"> {{{text}}} </li>
            {{/tabs_menu}}
          </ul>
        </div>
        <div class="get_in_touch__tabs-col">
          <div class="dropdown_item">
            <input id="menu_title" hidden>
            <span class="dropdown_item__text">работать у нас</span>
            <div class="dropdown_item__menu">
              {{#tabs_menu}}
                <div class="dropdown_item__link"> {{{text}}} </div>
              {{/tabs_menu}}
            </div>
          </div>
          <ul class="get_in_touch__tabs-tabs">
            {{#tabs_item}}
              <li class="get_in_touch__tabs-tab {{#active}}get_in_touch__tabs-tab-active get_in_touch__tabs-tab-visible{{/active}}">
                <div class="get_in_touch__tabs-title_block">
                  {{#title}}
                    <h4 class="h4 get_in_touch__tabs-form_title"> {{{title}}} </h4>
                  {{/title}}
                  {{#description}}
                    <p class="p"> {{description}} </p>
                  {{/description}}
                </div>
                <div class="get_in_touch__tabs-form">
                  {{#form}} {{> ../../components/questions/_form-short}} {{/form}}
                  {{#manager}}
                    <div class="manager questions__manager">
                      {{#img_bg}}
                        <div class="manager__bg" data-bg-src="{{ image }}" data-bg-size="{{size}}" data-bg-pos="{{pos}}"></div>
                      {{/img_bg}}
                      <div class="manager__text-wrapper">
                        <div class="h5 manager__h5"> {{ name }} </div>
                        {{# title }}
                          <div class="divider"></div>
                          <div class="manager__text">
                            <p> {{ title }} </p>
                          </div>
                        {{/ title }}
                        {{# phone }}
                          <a href="tel:{{ phone }}" class="manager__tel"> {{ phone }} </a>
                        {{/ phone }}
                      </div>
                    </div>
                  {{/manager}}
                </div>
              </li>
            {{/tabs_item}}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{/get_in_touch}}