{{#go_to_us}}
  <section class="get_to_us">
    <div class="wrap wrap_mobile_full">
      {{#title}}
        <h2 class="h2 get_to_us__title wow fadeInUp"> {{{title}}} </h2>
      {{/title}}
      <ul class="get_to_us__steps">
        {{#steps}}
          <li class="get_to_us__item">
            {{#title}}
              <h5 class="wow fadeInUp"> {{title}} </h5>
            {{/title}}
            {{#number}}
              <div class="get_to_us__item-number wow fadeInUp">
                <span>{{number}}</span>
              </div>
            {{/number}}
            {{#description}}
              <p class="p get_to_us__item-description wow fadeInUp"> {{description}} </p>
            {{/description}}
            {{#btn}}
              <a href="{{{href}}}" target="_blank" rel="nofollow" class="button button_green get_to_us__item-btn wow fadeInUp">
                <span class="button__blip button__blip_hover"></span>
                <span class="button__blip button__blip_click"></span> {{text}} </a>
            {{/btn}}
          </li>
        {{/steps}}
      </ul>
    </div>
  </section>
{{/go_to_us}}