<!-- ZAYAVKA -->
<section class="zayavka statistics ipot-zayavka vtor-steps">
  <div class="wrap wrap_mobile_full">
    <div class="wow fadeInLeft">
      <h2 class="h2 values__h2 vtor-steps__h2"> Переезжайте в новую квартиру всего за 4 шага </h2>
      <p class="vtor-steps__text"> Если вы решили сменить квартиру на новую в хорошем новом квартале, но у вас нет денег. Вы можете оплатить новое жилье старым. Вот как это работает: </p>
    </div>
    <div class="statistics__list">
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">1</span>
        </h3>
        <h5 class="h5 card__h5"> Заявка </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Выбирете квартиру и отправляете заявку. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">2</span>
        </h3>
        <h5 class="h5 card__h5"> Оценка </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Оцениваем жилье и формируем цену. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">3</span>
        </h3>
        <h5 class="h5 card__h5"> Договор </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Оформляем договор на продажу. </p>
        </div>
      </div>
      <div class="card statistics__card wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
        <h3 class="h3 card__h3">
          <span class="card_span">4</span>
        </h3>
        <h5 class="h5 card__h5"> Оплата </h5>
        <div class="divider card__divider"></div>
        <div class="card__text">
          <p> Зачисляем оплату нового жилья. </p>
        </div>
      </div>
      <a href="#" class="more view-all__more vtor-steps__link"> Подробнее об оплате жильем </a>
    </div>
  </div>
</section>