<section class="choose-house choose-house_tver">
  <div class="wrap wrap_mobile_full">
    {{# lists }}
      <div class="choose-house__lists">
        {{# items }}
          <a class="choose-house__items {{#active}}choose-house__items--active{{/active}}"> {{ name }} </a>
          <!-- /.choose-house__items -->
        {{/ items }}
      </div>
      <!-- /.choose-house__lists -->
    {{/ lists }}
    {{# house_box }}
      <div class="choose-house__box">
        <div class="choose-house__img-box">
          <img src="{{ img-bg }}" alt="choose_house" class="choose-house__img-bg"> </div>
        {{# houses }}
          <div class="choose-house__house choose-house__house--{{ house }}">
            <a href="{{link_page}}" class="choose-house__link">
              <img src="{{ img }}" alt="house1" class="choose-house__img-house">
              <div class="choose-house__text-block choose-house__text-block--{{ house }}">
                <span class="choose-house__number">{{ number }}</span>
                <span class="choose-house__name">{{ address }}</span>
              </div>
            </a>
          </div>
        {{/ houses }}
      </div>
      <!-- /.choose-house__img-box -->
    {{/ house_box }}
    <ul class="choose-house__lists-desc">
      {{# description }}
        <li class="choose-house__item-desc">
          <span class="choose-house__number-desc">{{ number }}</span>
          <span class="choose-house__name-desc">{{ address }}</span>
        </li>
      {{/ description }}
    </ul>
  </div>
  <!-- /.wrap wrap_mobile_full -->
</section>
<!-- /.choose-house -->