<div class="apartment-description apartment-description_left">
  <div class="wrap wrap_mobile_full">
    <div class="apartment-description__inner">
      <div class="apartment-description__content">
        <h3 class="h3 apartment-description__h3 wow fadeInLeft"> {{{ title }}} </h3>
        <div class="apartment-description__number wow fadeInLeft" data-wow-delay="0.3s">{{ subtitle }}</div>
        <div class="apartment-description__divider wow fadeInLeft" data-wow-delay="0.3s"></div>
        <div class="apartment-description__text wow fadeInLeft" data-wow-delay="0.6s">
          <p> {{{ text }}} </p>
        </div>
      </div>
    </div>
    <div class="apartment-description__img wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">
      <img class="card__img" src="{{image}}" alt=""> </div>
  </div>
</div>