<div class="floor-plan">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 floor-plan__h2 wow fadeInUp"> {{ title }} </h2>
  </div>
  <div class="wrap wrap_large wow fadeIn wrap_mobile_full">
    <div class="floor-plan__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="contain"></div>
  </div>
</div>