<div class="wrap wrap_mobile_full">
  <div class="apartment-head apartment-head_single">
    <h2 class="h2 apartment-head__h2 wow fadeInLeft"> {{ title }} </h2>
    {{# link }}
      <a href="{{ url }}" class="apartment-head__back wow fadeInLeft" data-wow-delay="0.3s"> {{ text }} </a>
    {{/ link }}
  </div>
</div>