<div class="how-to-buy">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 how-to-buy__h2 wow fadeInLeft"> {{ title }} </h2>
    <div class="how-to-buy__list">
      {{# items }}
        <a href="{{ url }}" class="card how-to-buy__card wow fadeInUp">
          <h3 class="h3 card__h3">
            <span class="card_span">{{ title }}</span>
          </h3>
          <div class="card__text">
            <p> {{ text }} </p>
          </div>
          <div class="card__more"> {{ button_text }} </div>
        </a>
      {{/ items }}
    </div>
  </div>
</div>