<!-- RELATED APARTMENTS -->
<section class="apartaments apartaments_related">
  <div class="wrap wrap_mobile_full">
    {{# title }}
      <h2 class="h2 apartaments__h2 wow fadeInLeft"> {{ title }} </h2>
    {{/ title }}
    <div class="apartaments__list">
      {{# items }}
        <a class="card apartaments__card wow fadeInUp" href="./apartment.html">
          <div class="card__img">
            <div class="card__bg" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="contain"></div>
          </div>
          <h5 class="h5 card__h5"> {{ title }} </h5>
          <div class="divider card__divider"></div>
          <div class="card__text">
            <p>от 234 545 р</p>
            <p>34 м²</p>
          </div>
        </a>
      {{/ items }}
    </div>
    {{# link }}
      <div class="view-all view-all_apartaments_related-apartments wow fadeInUp">
        <div class="view-all__line"></div>
        <a href="{{ url }}" class="more view-all__more"> {{ text }} </a>
      </div>
    {{/ link }}
  </div>
</section>
<!-- / RELATED APARTMENTS -->