<!-- MISSION -->
{{# data_about.mission }}
  <section class="mission">
    <h2 class="h2 mission__h2 wow fadeIn"> {{ title_primary }}
      {{# title_secondary }}
        <span>{{ title_secondary }}</span>
      {{/ title_secondary }}
    </h2>
  </section>
{{/ data_about.mission }}
<!-- /MISSION -->