<!-- STATISTICS -->
<section class="statistics">
  <div class="wrap wrap_mobile_full">
    <div class="statistics__list">
      {{# data_about.statistics.items }}
        <div class="card statistics__card wow fadeIn" data-wow-delay="0s">
          <h3 class="h3 card__h3">
            <span class="card_span">{{ number }}</span>
          </h3>
          <h5 class="h5 card__h5"> {{ title }} </h5>
          <div class="divider card__divider"></div>
          <div class="card__text">
            <p> {{ text }} </p>
          </div>
        </div>
      {{/ data_about.statistics.items }}
    </div>
  </div>
  {{# data_about.statistics.map }}
    <div class="map statistics__map wow fadeInUp">
      <div class="map__wrap wrap_mobile_full">
        <div class="map__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover"></div>
      </div>
      <div class="map__prompt">{{ text }}</div>
    </div>
  {{/ data_about.statistics.map }}
</section>
<!-- /STATISTICS -->