<div class="branch_team__players">
  <div class="branch_team__players-player wow fadeInUp">
    <div class="branch_team__players-player__img">
      <img src=static&#x2F;img&#x2F;team&#x2F;player1.png alt=t itle=> </div>
    <h6 class="branch_team__players-player__name wow fadeInUp" data-wow-delay="0.05s"> Дмитрий Сергеевич </h6>
    <hr class="branch_team__players-player__line wow fadeInUp" data-wow-delay="0.1s">
    <p class="branch_team__players-player__position wow fadeInUp" data-wow-delay="0.15s"> Директор ООО &#39;ТАЛАН-ИЖЕВСК&#39; </p>
    <a href="#" class="button button_green branch_team__players-player__btn wow fadeInUp" data-wow-delay="0.2s"> написать
      <span class="button__bg"></span>
      <div class="button__blip button__blip_hover"></div>
      <div class="button__blip button__blip_click"></div>
    </a>
  </div>
  <div class="branch_team__players-player wow fadeInUp">
    <div class="branch_team__players-player__img">
      <img src=static&#x2F;img&#x2F;team&#x2F;player2.png alt=t itle=> </div>
    <h6 class="branch_team__players-player__name wow fadeInUp" data-wow-delay="0.05s"> Дмитрий Сергеевич </h6>
    <hr class="branch_team__players-player__line wow fadeInUp" data-wow-delay="0.1s">
    <p class="branch_team__players-player__position wow fadeInUp" data-wow-delay="0.15s"> Директор ООО &#39;ТАЛАН-ИЖЕВСК&#39; </p>
    <a href="#" class="button button_green branch_team__players-player__btn wow fadeInUp" data-wow-delay="0.2s"> написать
      <span class="button__bg"></span>
      <div class="button__blip button__blip_hover"></div>
      <div class="button__blip button__blip_click"></div>
    </a>
  </div>
  <div class="branch_team__players-player wow fadeInUp">
    <div class="branch_team__players-player__img">
      <img src=static&#x2F;img&#x2F;team&#x2F;player3.png alt=t itle=> </div>
    <h6 class="branch_team__players-player__name wow fadeInUp" data-wow-delay="0.05s"> Дмитрий Сергеевич </h6>
    <hr class="branch_team__players-player__line wow fadeInUp" data-wow-delay="0.1s">
    <p class="branch_team__players-player__position wow fadeInUp" data-wow-delay="0.15s"> Директор ООО &#39;ТАЛАН-ИЖЕВСК&#39; </p>
    <a href="#" class="button button_green branch_team__players-player__btn wow fadeInUp" data-wow-delay="0.2s"> написать
      <span class="button__bg"></span>
      <div class="button__blip button__blip_hover"></div>
      <div class="button__blip button__blip_click"></div>
    </a>
  </div>
  <div class="branch_team__players-player wow fadeInUp">
    <div class="branch_team__players-player__img">
      <img src=static&#x2F;img&#x2F;team&#x2F;player1.png alt=t itle=> </div>
    <h6 class="branch_team__players-player__name wow fadeInUp" data-wow-delay="0.05s"> Дмитрий Сергеевич </h6>
    <hr class="branch_team__players-player__line wow fadeInUp" data-wow-delay="0.1s">
    <p class="branch_team__players-player__position wow fadeInUp" data-wow-delay="0.15s"> Директор ООО &#39;ТАЛАН-ИЖЕВСК&#39; </p>
    <a href="#" class="button button_green branch_team__players-player__btn wow fadeInUp" data-wow-delay="0.2s"> написать
      <span class="button__bg"></span>
      <div class="button__blip button__blip_hover"></div>
      <div class="button__blip button__blip_click"></div>
    </a>
  </div>
  <div class="branch_team__players-player wow fadeInUp">
    <div class="branch_team__players-player__img">
      <img src=static&#x2F;img&#x2F;team&#x2F;player2.png alt=t itle=> </div>
    <h6 class="branch_team__players-player__name wow fadeInUp" data-wow-delay="0.05s"> Дмитрий Сергеевич </h6>
    <hr class="branch_team__players-player__line wow fadeInUp" data-wow-delay="0.1s">
    <p class="branch_team__players-player__position wow fadeInUp" data-wow-delay="0.15s"> Директор ООО &#39;ТАЛАН-ИЖЕВСК&#39; </p>
    <a href="#" class="button button_green branch_team__players-player__btn wow fadeInUp" data-wow-delay="0.2s"> написать
      <span class="button__bg"></span>
      <div class="button__blip button__blip_hover"></div>
      <div class="button__blip button__blip_click"></div>
    </a>
  </div>
</div>