/* no photo style */
.no-photo-div {
    background-color: rgba(0,0,0,.05);
    width: 50px;
    height:50px;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    text-align: center;
    border: 1px solid #d26a5c;
}
.no-photo-line {
    width: 49px;
    height: 49px;
    border-bottom: 1px solid #333;
    -webkit-transform: translateY(-22px) translateX(-27px) rotate(-51deg);
    position: relative;
    border-width: 3px;
    top: 7px;
    left: 9px;
    border-color: #d26a5c;
    z-index: 999;

}

.no-photo-icon{
    font-size: 30px;
    color: #333;
    position: relative;
    top: -43px;
}

/* analytics */
.statistic-header{
    background-color: #3e4a59;
    height: 90px;
}

.chart-block{
    padding: 0!important;
}

.analytics-city-icon{
    position: relative;
    top:10px;
    right: 10px;
}

.meta-data-upload-modal {
    margin-top: 15%;
    padding: 15px;
}

.red-error-block {
    color: #ff2222;
}
