<!-- SUBMENU -->
<div class="header__row">
  <div class="wrap wrap_mobile_full">
    <div class="header__line"></div>
    <div class="submenu header__submenu">
      {{# items }}
        <a href="{{url}}" class="submenu__item {{#active}}submenu__item_active{{/active}}">{{name}}</a>
      {{/ items }}
    </div>
    <div class="select select_submenu-fix header__select">
      {{# items }}
        {{# active}}
          <button class="select__btn" data-dropdown-cities-btn="about-submenu-top"> {{name}} </button>
        {{/ active}}
      {{/ items }}
      <div class="select__options" data-dropdown-cities="about-submenu-top">
        {{# items }} {{^ active}}
          <a href="{{ url }}" class="select__option"> {{ name }} </a>
        {{/ active}}
        {{/ items }}
      </div>
    </div>
    {{# link }}
      <a href="{{ url }}" class="header__btn" data-modal-open="call-back"> {{ text }} </a>
    {{/ link }}
  </div>
</div>
<!-- /SUBMENU -->