<!-- CALC -->
<section class="calc vtor-calc">
  <div class="title">
    <div class="wrap wrap_mobile_full">
      <h3 class="h3 wow fadeIn" data-wow-delay="0.5s" data-wow-duration="0.5s">Оцените стоимость квартиры online</h3>
    </div>
  </div>
  <div class="calc__block calc__block_v2">
    <div class="wrap wrap_mobile_full">
      <form class="calc_form clearfix">
        <fieldset class="calc__fieldset--left wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <legend>Введите данные:</legend>
          <div class="filters__section clearfix">
            <div class="filters__heading">Площадь квартиры:</div>
            <div class="filters__inner">
              <div class="nouislider filters__nouislider" data-no-ui-slider='{"connect": true, "step": 1}' data-wnumb='{"decimals":"0", "thousand": " ", "postfix":" м²"}' data-range-min="15" data-range-max="200" data-nouislider-type='area'>
                <div class="ranges nouislider__ranges">
                  <input class="ranges__input" placeholder="100 м²" type="text" value="100" name="square-max" data-no-ui-input> </div>
                <div class="nouislider__slider"></div>
              </div>
              <!-- /.filters__nouislider -->
            </div>
            <!-- /.filters__inner -->
          </div>
          <!-- /.filters__section -->
          <div class="calc__form-row clearfix">
            <label class="field form__field">
              <span class="calc__form-span">Район</span>
              <input type="text" class="input form__input calc__form-input" name="_area" placeholder="Осокорки"> </label>
          </div>
          <div class="filters__section">
            <div class="filters__heading filters__heading_side_left">Количество лет в собственности:</div>
            <div class="filters__inner filters__inner_side_right">
              <div class="custom-select filters__custom-select" data-custom-select>
                <select name="years-flat">
                  <option value="10 лет">10 лет</option>
                  <option value="9 лет">9 лет</option>
                  <option value="8 лет">8 лет</option>
                  <option value="7 лет">7 лет</option>
                  <option value="6 лет">6 лет</option>
                  <option value="5 лет">5 лет</option>
                  <option value="4 года">4 года</option>
                  <option value="3 года">3 года</option>
                  <option value="2 года">2 года</option>
                  <option value="1 год">1 год</option>
                </select>
              </div>
            </div>
          </div>
          <div class="filters__section checkbox-section">
            <div class="filters__inner filters__inner_side_left calc__checkbox-row">
              <label class="checkbox form__checkbox form__checkbox--top">
                <input class="checkbox__checkbox" type="checkbox" name="checkbox-btn">
                <span class="checkbox__mask"></span>
                <span class="checkbox__label"> Наличие неузаконенной планировки </span>
              </label>
            </div>
          </div>
        </fieldset>
        <!-- /.calc__fieldset-left -->
        <div class="calc__fieldset--right wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <legend>Оставьте заявку:</legend>
          <div class="calc__calculated-block calc__right-block_form clearfix">
            <div class="form__row form__row_split_2">
              <label class="field form__field">
                <input type="text" class="input form__input" name="_name" data-validation-name="name">
                <span class="form__label"> Ваше имя </span>
                <span class="field__error"> Введите Ваше имя </span>
              </label>
            </div>
            <div class="form__row form__row_split_2">
              <label class="field form__field">
                <input type="text" class="input form__input input_phone" name="_phone" data-validation-name="phone">
                <span class="form__label"> Телефон </span>
                <span class="field__error"> Некорректный телефон </span>
              </label>
            </div>
            <div class="form__row">
              <div class="field form__field">
                <label class="checkbox form__checkbox">
                  <input type="checkbox" class="checkbox__checkbox" name="_agree" data-validation-name="agree">
                  <span class="checkbox__mask"></span>
                  <span class="checkbox__label"> Даю
                    <a href="#" target="_blank">согласие</a> на обработку моих персональных данных, с условиями
                    <a href="#" target="_blank">Политики</a> ознакомлен. </span>
                </label>
              </div>
            </div>
            <div class="form__row">
              <button type="submit" class="button form__button wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> Отправить
                <span class="button__blip button__blip_hover"></span>
                <span class="button__blip button__blip_click"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- /.wrap -->
  </div>
  <!-- /.calc__block -->
</section>