<!-- INTRO -->
<section class="intro">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 about__h2 wow fadeInRight"> Оплата вторичным жильем </h2>
    <div class="intro__block clearfix">
      <div class="intro__item-left">
        <h6 class="wow fadeInRight" data-wow-delay="0.3s" data-wow-duration="2s"> Квартира, дом или таунхаус в ипотеку. </h6>
        <p class="wow fadeInRight" data-wow-delay="1.3s" data-wow-duration="2s"> Вы нашли жилье мечты, мы готовы найти вам подходящий кредит. </p>
        <button class="button button_green wow fadeInUp" data-wow-delay="1.3s"> Оставить заявку
          <span class="button__bg"></span>
          <div class="button__blip button__blip_hover"></div>
          <div class="button__blip button__blip_click"></div>
        </button>
      </div>
      <!-- /.intro__item-left -->
      <div class="intro__item-right wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">
        <img src="./static/img/vtorichka/intro-bg.jpg" alt="intro-img" width="844" height="450"> </div>
      <!-- /.intro__item-right -->
    </div>
    <!-- /.intro__block -->
  </div>
</section>