<!-- VALUES -->
<section class="values values_commercial">
  <div class="wrap wrap_mobile_full">
    <div class="career__top-row clearfix">
      {{# title }}
        <h2 class="h2 career__h2 wow fadeInLeft"> {{ title }} </h2>
      {{/ title }}
      {{# title_description}}
        <div class="career__block-text wow fadeInRight">
          <p class="career__title-description"> {{ title_description }} </p>
        </div>
      {{/ title_description}}
    </div>
    <div class="values__list">
      {{# items }}
        <div class="card values__card wow fadeInUp">
          <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover"></div>
          <h5 class="h5 card__h5"> {{ title }} </h5>
          <div class="divider card__divider"></div>
          <div class="card__text">
            <p> {{ text }} </p>
          </div>
        </div>
      {{/ items }}
      {{# stub }}
        <div class="card card_stub values__card wow fadeInUp">
          <div class="card__img" data-bg-src="{{ stub }}" data-bg-pos="center" data-bg-size="auto"></div>
        </div>
      {{/ stub }}
    </div>
  </div>
</section>
<!-- /VALUES -->