<!-- testimonials -->
<section class="testimonials employeers">
  <div class="wrap wrap_mobile_full">
    <h2 class="testimonials__h2 wow fadeInUp"> Сотрудники о компании </h2>
    <div class="testimonials__list employeers__list" data-testimonials-slider data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": false, "prevArrow": ".testimonials .navigation__btn_prev", "nextArrow": ".testimonials .navigation__btn_next", "responsive": [{"breakpoint": 1200, "settings": {"adaptiveHeight": true, "fade": true}}]}'>
      {{# data_career.testimonials.items }}
        <div class="card testimonials__card">
          <div class="card__img wow fadeIn" data-bg-src="{{ image }}" data-bg-size="cover" data-bg-pos="center" data-wow-delay="0.5s" data-wow-duration="2s">
            <!-- <iframe class="card__iframe"  allowfullscreen></iframe> -->
          </div>
          <div class="card__inner">
            <div class="card__content">
              <h5 class="h5 card__h5 wow fadeInLeft"> {{ name }} </h5>
              <div class="card__excerpt wow fadeInLeft" data-wow-delay="0.3s"> {{ excerpt }} </div>
              <div class="card__divider wow fadeInLeft" data-wow-delay="0.6s"></div>
              <div class="card__text wow fadeInLeft" data-wow-delay="0.9s">
                <p> {{ text }} </p>
              </div>
            </div>
          </div>
        </div>
      {{/ data_career.testimonials.items }}
      <div class="card testimonials__card">
        <div class="card__img wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">
          <div class="video">
            <div data-youtube="seY6XqENVEc" data-bg-src="./static/img/article/article-img-video.jpg" data-bg-size="cover" data-bg-pos="center">
              <!-- <div class="play video__play">
                  <div class="play__blip play__blip_hover"></div>
                  <div class="play__blip play__blip_click"></div>
                </div> -->
              <iframe src="https://www.youtube.com/embed/seY6XqENVEc?rel=0&amp;showinfo=0&amp;" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="card__inner">
          <div class="card__content">
            <h5 class="h5 card__h5 wow fadeInLeft"> Иванцов Александр </h5>
            <div class="card__excerpt wow fadeInLeft" data-wow-delay="0.3s"> Руководитель проекта </div>
            <div class="card__divider wow fadeInLeft" data-wow-delay="0.6s"></div>
            <div class="card__text wow fadeInLeft" data-wow-delay="0.9s">
              <p> В августе 2011 года я начал работать в ТАЛАНе простым Инженером на ЖК «Рябинушки». И уже менее чем через год Компания доверила мне руководство проектом. За время работы в ТАЛАНЕ под моим руководством успешно построены и введены в эксплуатацию
                3 секции ЖК «Рябинушки», ЖК «Дубрава». В настоящее время мы с нашей дружной проектной командой строим ЖК «МАКСИМА». Мы строим не просто объекты, мы создаём ДОМА для людей. И мне нравится, что у нас работают люди, увлечённые своей профессией.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation testimonials__navigation career__navigation wow fadeInUp">
      <div class="navigation__content">
        <button class="navigation__btn navigation__btn_prev" data-testimonials-arrow-prev>
          <div class="arrow arrow_left navigation__arrow"></div>
        </button>
        <div class="navigation__status">
          <span class="navigation__current" data-testimonials-status-current>..</span>\
          <span class="navigation__total" data-testimonials-status-total>..</span>
        </div>
        <button class="navigation__btn navigation__btn_next" data-testimonials-arrow-next>
          <div class="arrow arrow_right navigation__arrow"></div>
        </button>
      </div>
      <div class="navigation__line"></div>
    </div>
  </div>
</section>
<!-- /testimonials -->