<!-- VACANCY-LISTS -->
<section class="vacancy career__vacancy">
  <div class="wrap wrap_mobile_full">
    <div class="vacancy__top-row clearfix">
      <h2 class="h2 vacancy__h2 wow fadeInLeft" data-wow-delay="0.8s" data-wow-duration="0.8s"> Вакансии </h2>
      <div class="share share_horizontal career__social wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="social share__social">
          <a href="https://www.instagram.com/talan_tyumen" class="social__item socicon-instagram" target="_blank"></a>
          <a href="https://ok.ru/profile/588185280058" class="social__item socicon-odnoklassniki" target="_blank"></a>
          <a href="https://vk.com/talan_tyumen" class="social__item socicon-vkontakte" target="_blank"></a>
          <a href="https://www.facebook.com/profile.php?id=100022990113201&amp;ref=bookmarks" class="social__item socicon-facebook" target="_blank"></a>
        </div>
        <div class="share__text"> поделиться </div>
      </div>
    </div>
    <!-- /.vacancy__top-row -->
    <div class="vacancy__card-block clearfix">
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
      <a href="" class="vacancy__card clearfix">
        <div class="vacancy__left-block wow fadeInLeft" data-wow-delay="1s" data-wow-duration="1s">
          <div class="vacancy__card-title"> Инженер по инженерным системам — электроснабжение и слаботочные сети </div>
          <!-- /.vacancy__card-title -->
        </div>
        <!-- /.vacancy__left-block -->
        <div class="vacancy__right-block clearfix wow fadeInRight" data-wow-delay="1.5s" data-wow-duration="1.5s">
          <div class="vacancy__card-link arrow arrow_right">arrow</div>
          <!-- /.vacancy__card-link -->
          <div class="vacancy__card-city"> Ижевск </div>
          <!-- /.vacancy__card-city -->
          <div class="vacancy__card-department"> Управляющая компания </div>
          <!-- /.vacancy__card-department -->
        </div>
        <!-- /.vacancy__right-block -->
      </a>
      <!-- /.vacancy__card -->
    </div>
    <!-- /.vacancy__card-block -->
    <div class="view-all">
      <div class="view-all__line"></div>
      <a href="#" class="more view-all__more"> все вакансии </a>
    </div>
  </div>
  <!-- /.wrap wrap_mobile_full -->
</section>
<!-- /.vacancy-lists -->
<!-- /.VACANCY-LISTS -->