<div class="accomplishment">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 accomplishment__h2 wow fadeInLeft"> {{ title }} </h2>
  </div>
  <div class="tabs accomplishment__tabs wow fadeInUp" data-tabs>
    <div class="tabs__head">
      <div class="wrap wrap_mobile_full">
        {{# items }}
          <button class="tabs__btn" data-open-tab="{{ index }}">{{ title }}</button>
        {{/ items }}
      </div>
    </div>
    <div class="wrap wrap_mobile_full">
      <div class="custom-select custom-select_accomplishment tabs__custom-select" data-custom-select='{"tabs":true}'>
        <select name="subject">
          {{# items }}
            {{# active }}
              <option value="" selected disabled>{{ title }}</option>
            {{/ active }}
            <option value="{{ index }}">{{ title }}</option>
          {{/ items }}
        </select>
      </div>
    </div>
    <div class="tabs__body">
      {{# items }}
        <div class="tabs__tab" data-tab="{{ index }}">
          <div class="accomplishment__content">
            <div class="accomplishment__bg" data-bg-src="{{ image }}" data-bg-size="cover" data-bg-pos="center"></div>
            <div class="wrap wrap_mobile_full">
              <div class="text accomplishment__text">
                <p> {{ text }} </p>
              </div>
            </div>
          </div>
        </div>
      {{/ items }}
    </div>
  </div>
</div>