<div class="architect">
  <div class="wrap wrap_mobile_full">
    <h2 class="h2 architect__h2 wow fadeInLeft"> {{ title }} </h2>
    <div class="card architect__card">
      <div class="card__content" data-architect-content>
        {{# subtitle }}
          <h5 class="h5 card__h5 wow fadeInLeft"> {{ subtitle }} </h5>
        {{/ subtitle }}
        {{# subtitle2 }}
          <div class="card__label fadeInLeft" data-wow-delay="0.3s">{{ subtitle2 }}</div>
        {{/ subtitle2 }}
        <div class="card__divider wow fadeInLeft" data-wow-delay="0.6s"></div>
        <div class="card__text wow fadeInLeft" data-wow-delay="0.9s">
          {{# text }}
            <p> {{ . }} </p>
          {{/ text }}
        </div>
        <div class="card__blur wow fadeInLeft" data-wow-delay="1.2s" data-blur-architect>
          <button class="card__btn" data-btn-architect>{{ read_more_text }}</button>
        </div>
      </div>
      <div class="card__img wow fadeIn" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover" data-wow-delay="0.5s" data-wow-duration="2s"></div>
    </div>
  </div>
</div>