<!-- COMPLECS -->
{{# data_gk.complecs }}
  <section class="complecs">
    <div class="wrap wrap_mobile_full">
      <div class="complecs__list">
        {{# items }}
          <a href="{{ url }}" class="card complecs__card wow fadeInUp">
            <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover">
              <div class="diagram apartment-head__diagram">
                {{# percent }}
                  <div class="circle-progress" data-circle-progress="{{ percent }}">
                    <div class="circle-progress__outer">
                      <div class="circle-progress__progress circle-progress__progress_10"></div>
                      <div class="circle-progress__progress circle-progress__progress_20"></div>
                      <div class="circle-progress__progress circle-progress__progress_30"></div>
                      <div class="circle-progress__progress circle-progress__progress_40"></div>
                      <div class="circle-progress__progress circle-progress__progress_50"></div>
                      <div class="circle-progress__progress circle-progress__progress_60"></div>
                      <div class="circle-progress__progress circle-progress__progress_70"></div>
                      <div class="circle-progress__progress circle-progress__progress_80"></div>
                      <div class="circle-progress__progress circle-progress__progress_90"></div>
                      <div class="circle-progress__progress circle-progress__progress_100"></div>
                      <div class="circle-progress__value">{{ percent }}</div>
                      <div class="circle-progress__percent">%</div>
                    </div>
                {{/ percent }}
                {{# text }}
                  <div class="circle-progress__label"> {{ text }} </div>
                {{/ text }}
                </div>
              </div>
            </div>
            <h5 class="h5 card__h5"> {{ title }} </h5>
          </a>
        {{/ items }}
      </div>
    </div>
  </section>
{{/ data_gk.complecs }}
<!-- /COMPLECS -->