<section class="course_of_construction" data-url="./static/data/async/course_of_construction.json">
  <!-- data-method="post" for POST request -->
  <div class="wrap wrap_mobile_full course_of_construction__wrap">
    <h2 class="h2 course_of_construction__h2 wow fadeInLeft"> Ход строительства </h2>
    <div class="construction_wrap wow fadeInUp"> {{!-- YEARS NAV --}}
      <ul class="construction-nav-years"> </ul> {{!-- TIMELINE ITEM --}}
      <div class="construction-timeline-wrap">
        <div class="construction-timeline-overflow">
          <ul class="construction-timeline"> </ul>
        </div>
      </div> {{!-- WRAP CONTENT --}}
      <div class="construction-content"> {{!-- DATE BLOCK --}}
        <div class="construction-content__date">
          <h3 class="construction-content__date-title wow fadeInUp" data-wow-delay="0.2s"></h3>
          <p class="construction-content__date-desc wow fadeInUp" data-wow-delay="0.3s"></p>
          <!-- <a href="#" class="button button_green construction-content__date-btn wow fadeInUp" data-wow-delay="0.6s">
            смотреть онлайн
            <span class="button__bg"></span>
            <div class="button__blip button__blip_hover"></div>
            <div class="button__blip button__blip_click"></div>
          </a> -->
        </div> {{!-- SLIDER BLOCK --}}
        <div class="construction-slider-wrap"> {{!-- MAIN SLIDER --}}
          <div class="main-slider-wrap">
            <ul class="construction-slider wow fadeInUp" data-wow-delay="0.2s"> </ul> {{!-- BTN GALLERY --}}
            <button class="construction_zoom wow zoomIn" data-wow-delay="0.3s">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search" /> </svg>
            </button>
          </div> {{!-- MAIN SLIDER NAV --}}
          <ul class="construction-slider-nav wow fadeInUp" data-wow-delay="0.4s"> </ul>
        </div> {{!-- ARROWS BLOCK --}}
        <div class="construction-arrows wow fadeInUp" data-wow-delay="0.5s">
          <div class="construction-arrows__line"></div>
          <div class="construction-arrows__wrap">
            <button class="navigation__btn construction-arrows__btn_prev">
              <div class="arrow arrow_left navigation__arrow"></div>
            </button>
            <div class="navigation__status">
              <span class="navigation__current" data-construction-status-current></span> \
              <span class="navigation__total" data-construction-status-total></span>
            </div>
            <button class="navigation__btn construction-arrows__btn_next">
              <div class="arrow arrow_right navigation__arrow"></div>
            </button>
          </div>
        </div> {{!-- DATE BLOCK--MOBILE --}}
        <div class="construction-content__date construction-content__date_mobile">
          <h3 class="construction-content__date-title wow fadeInUp" data-wow-delay="0.2s"></h3>
          <p class="construction-content__date-desc wow fadeInUp" data-wow-delay="0.3s"></p>
          <a href="#" class="button button_green construction-content__date-btn wow fadeInUp" data-wow-delay="0.6s"> смотреть онлайн
            <span class="button__bg"></span>
            <div class="button__blip button__blip_hover"></div>
            <div class="button__blip button__blip_click"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>