<div class="map">
  <div class="wrap">
    <h2 class="h2 map__h2 wow fadeInUp"> {{ title }} </h2>
  </div>
  <div id="map" class="map__map wow fadeIn" data-map-options='{
    "pos": {"lat": 50.429470, "lng": 30.484129},
    "zoom": 13,
    "mainMarker": {
    "pos": {"lat": 50.429470, "lng": 30.484129},
    "icon": "./static/img/map/main_pin.png"
    },
    "markers": [
      {
      "type": "0",
      "pos": {"lat": 50.418880, "lng": 30.480360},
      "icon": "./static/img/map/pin/3.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
      "type": "0",
      "pos": {"lat": 50.421173, "lng": 30.482930},
      "icon": "./static/img/map/pin/3.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
      "type": "1",
      "pos": {"lat": 50.423136, "lng": 30.487900},
      "icon": "./static/img/map/pin/7.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
      "type": "1",
      "pos": {"lat": 50.416769, "lng": 30.549505},
      "icon": "./static/img/map/pin/7.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
      "type": "2",
      "pos": {"lat": 50.423218, "lng": 30.512861},
      "icon": "./static/img/map/pin/9.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
      "type": "2",
      "pos": {"lat": 50.424772, "lng": 30.491331},
      "icon": "./static/img/map/pin/9.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "3",
      "pos": {"lat": 50.434937, "lng": 30.478979},
      "icon": "./static/img/map/pin/4.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "3",
      "pos": {"lat": 50.419527, "lng": 30.500419},
      "icon": "./static/img/map/pin/4.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "4",
      "pos": {"lat": 50.435163, "lng": 30.493068},
      "icon": "./static/img/map/pin/1.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "4",
      "pos": {"lat": 50.433408, "lng": 30.494778},
      "icon": "./static/img/map/pin/1.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "5",
      "pos": {"lat": 50.433838, "lng": 30.470239},
      "icon": "./static/img/map/pin/5.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "5",
      "pos": {"lat": 50.423790, "lng": 30.491844},
      "icon": "./static/img/map/pin/5.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "6",
      "pos": {"lat": 50.412516, "lng": 30.487905},
      "icon": "./static/img/map/pin/6.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "6",
      "pos": {"lat": 50.430345, "lng": 30.503734},
      "icon": "./static/img/map/pin/6.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "7",
      "pos": {"lat": 50.433736, "lng": 30.521961},
      "icon": "./static/img/map/pin/2.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    },
    {
        "type": "7",
      "pos": {"lat": 50.412077, "lng": 30.469539},
      "icon": "./static/img/map/pin/2.png",
      "html": "<div class=\"infowindow\"><h5 class=\"h5 infowindow__h5\">Горизонты Европейский квартал</h5><div class=\"infowindow__divider\"></div><a href=\"tel:+7 (3412) 918 742\" class=\"infowindow__tel\">+7 (3412) 918 742</a><div class=\"text infowindow__text\"><p>ул. Красноармейская, д. 86<br><a href=\"mailto:info@talan.udm.ru>\">info@talan.udm.ru</a></div></div>"
    }

    ]
  }'></div>
  <div class="map__content">
    <div class="wrap wrap_mobile_full">
      {{# objects }}
        <div class="infrastructure-objects map__infrastructure-objects wow fadeIn">
          <h5 class="h5 infrastructure-objects__h5"> {{ title }} </h5>
          <div class="infrastructure-objects__list">
            {{# items }}
              <button class="card infrastructure-objects__card card_active" data-infrastructure-object-type="{{ type }}">
                <span class="card__icon">
                  <svg class="card__svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map-object-{{ type }}"></use>
                  </svg>
                </span>
                <span class="card__text"> {{ name }} </span>
              </button>
            {{/ items }}
          </div>
        </div>
      {{/ objects }}
      {{# location}}
        <div class="map__description wow fadeIn" data-wow-delay="0.3s">
          <h5 class="h5 map__h5"> {{ title }} </h5>
          <div class="map__content-text" data-advantage-content>
            <div class="text map__text"> {{ desc }} </div>
            <div class="card__blur wow fadeInLeft" data-wow-delay="1.2s" data-blur-advantage>
              <button class="card__btn" data-btn-advantage>Развернуть</button>
            </div>
          </div>
        </div>
      {{/ location }}
    </div>
  </div>
</div>