<div class="new-quality">
  <div class="wrap wrap_mobile_full">
    {{# title_primary }}
      <h2 class="h2 new-quality__h2 wow fadeInUp"> {{ title_primary }}
        {{#title_secondary}}
          <br>
          <span>{{ title_secondary }}</span>
        {{/title_secondary}}
      </h2>
    {{/ title_primary }}
    <div class="new-quality__list">
      {{# items }}
        {{# large }}
          <div class="card card_large new-quality__card">
            <div class="card__content">
              <h3 class="h3 card__h3 wow fadeInLeft">
                <span class="card_span">{{ title }}</span>
              </h3>
              <div class="card__number wow fadeInLeft" data-wow-delay="0.3s">{{ number }}</div>
              <div class="card__divider wow fadeInLeft" data-wow-delay="0.3s"></div>
              <div class="card__text wow fadeInLeft" data-advantage-content data-wow-delay="0.6s">
                {{# text }}
                  <p> {{{ . }}} </p>
                {{/ text }}
              </div>
              <div class="card__blur wow fadeInLeft" data-wow-delay="1.2s" data-blur-advantage>
                <button class="card__btn" data-btn-advantage>Развернуть</button>
              </div>
            </div>
            <div class="card__img_desk wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">
              <img class="card__img" src="{{image}}" alt="">
            </div>
          </div>
        {{/ large }} {{^ large }}
        <div class="card new-quality__card wow fadeInUp">
          <div class="card__img_desk">
            <img class="card__img" src="{{image}}" alt="">
          </div>
          <div class="card__content">
            <h3 class="h3 card__h3">
              <span class="card_span">{{ title }}</span>
            </h3>
            <div class="card__number">{{ number }}</div>
            <div class="card__divider"></div>
            <div class="card__text" data-advantage-content>
              {{# text }}
                <p> {{{ . }}} </p>
              {{/ text }}
            </div>
            <div class="card__blur wow fadeInLeft" data-wow-delay="1.2s" data-blur-advantage>
              <button class="card__btn" data-btn-advantage>Развернуть</button>
            </div>
          </div>
          <div class="card__img card__img_mob" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover"></div>
        </div>
      {{/ large }}
      {{/ items }}
    </div>
  </div>
</div>