<!-- readiness -->
<section class="readiness">
  <div class="wrap wrap_large wrap_mobile_full">
    <div class="readiness__list wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-readiness-slider data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": false, "prevArrow": ".readiness .navigation__btn_prev", "nextArrow": ".readiness .navigation__btn_next"}'>
      {{# slides }}
        <div class="card readiness__card" data-bg-src="{{.}}" data-bg-size="cover" data-bg-pos="center"></div>
      {{/ slides }}
      <div class="card readiness__card">
        <div class="video">
          <div data-youtube="seY6XqENVEc" data-bg-src="./static/img/article/article-img-video.jpg" data-bg-size="cover" data-bg-pos="center">
            <!-- <div class="play video__play">
              <div class="play__blip play__blip_hover"></div>
              <div class="play__blip play__blip_click"></div>
            </div> -->
            <iframe src="https://www.youtube.com/embed/seY6XqENVEc?rel=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation readiness__navigation readiness__navigation_tab wow fadeInUp">
      <div class="wrap wrap_mobile_full">
        <div class="navigation__content">
          <button class="navigation__btn navigation__btn_prev" data-readiness-arrow-prev>
            <div class="arrow arrow_left navigation__arrow"></div>
          </button>
          <div class="navigation__status">
            <span class="navigation__current" data-readiness-status-current>..</span>\
            <span class="navigation__total" data-readiness-status-total>..</span>
          </div>
          <button class="navigation__btn navigation__btn_next" data-readiness-arrow-next>
            <div class="arrow arrow_right navigation__arrow"></div>
          </button>
        </div>
        <div class="navigation__line"></div>
      </div>
    </div>
    <div class="readiness__content">
      {{# diagram }}
        <div class="readiness__diagram wow fadeInRight"> {{> ../../components/_diagram }} </div>
      {{/ diagram }}
      <div class="readiness__text wow fadeInRight" data-wow-delay="0.3s">
        {{# attributes }}
          <p> {{ name }}
            <strong>{{ text }}</strong>
          </p>
        {{/ attributes }}
      </div>
      {{# button }}
        <a href="{{ url }}" class="button button_green readiness__button"> {{ text }}
          <div class="button__blip button__blip_hover"></div>
          <div class="button__blip button__blip_click"></div>
        </a>
      {{/ button }}
      {{# more_link }}
        <a href="{{ url }}" class="more readiness__more wow fadeInRight" data-wow-delay="0.6s"> {{ text }} </a>
      {{/ more_link }}
      {{# subscribe }}
        <div class="readiness__subscribe wow fadeInRight" data-wow-delay="0.9s">
          <p> {{ title }} </p>
          {{# items }}
            <a href="{{ url }}" class="readiness__icon socicon-{{ name }}" target="_blank"></a>
          {{/ items }}
        </div>
      {{/ subscribe }}
    </div>
    <div class="navigation readiness__navigation readiness__navigation_desk wow fadeInUp">
      <div class="wrap">
        <div class="navigation__content">
          <button class="navigation__btn navigation__btn_prev" data-readiness-arrow-prev>
            <div class="arrow arrow_left navigation__arrow"></div>
          </button>
          <div class="navigation__status">
            <span class="navigation__current" data-readiness-status-current>..</span>\
            <span class="navigation__total" data-readiness-status-total>..</span>
          </div>
          <button class="navigation__btn navigation__btn_next" data-readiness-arrow-next>
            <div class="arrow arrow_right navigation__arrow"></div>
          </button>
        </div>
        <div class="navigation__line"></div>
      </div>
    </div>
  </div>
</section>
<!-- /readiness -->