<section class="take_apartments">
  <div class="wrap wrap_mobile_full take_apartments__wrap">
    <h2 class="take_apartments__h2 wow fadeInLeft"> Выберите квартиру
      <span> по параметрам </span>
    </h2>
    <div class="take_apartments__content">
      <p class="take_apartments__content-text wow fadeInRight">{{content}}</p>
      <a href="{{{url}}}" class="button form__button wow fadeInUp"> {{ submit_text }}
        <div class="button__blip button__blip_hover"></div>
        <div class="button__blip button__blip_click"></div>
      </a>
    </div>
  </div>
</section>