<div class="wrap temporary wrap_mobile_full filter_commercial">
  <h2 class="h2 values__h2 wow fadeInLeft text-align-center"> {{ data_catalogue_commercial.apartment_title }} </h2>
  {{# data_catalogue_commercial.filters }}
    <div class="buffer">
      <div class="buffer__overflow-x-mobile">
        <div class="buffer__overflow-mobile"> {{> filter }} </div>
      </div>
    </div>
  {{/ data_catalogue_commercial.filters }}
  <div class="apartaments">
    <div class="apartaments__list">
      {{# data_catalogue_commercial.apartaments_list }}
        {{# title }}
          <a href="{{ url }}" class="card apartaments__card wow fadeInUp">
            <div class="card__img">
              <div class="card__bg" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="contain"></div>
            </div>
            <div class="card__content">
              <h5 class="h5 card__h5"> {{ title }} </h5>
              <div class="divider card__divider"></div>
              <div class="card__text">
                <p> {{ price }} </p>
                <p> {{ area }} </p>
              </div>
            </div>
          </a>
        {{/ title }} {{^ title }}
        <a href="#" class="card card_stub apartaments__card wow fadeInUp">
          <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="auto"></div>
        </a>
      {{/ title }}
      {{/ data_catalogue_commercial.apartaments_list }}
    </div>
    {{# data_catalogue_commercial.pagination }} {{> ../../components/_pagination.mustache }} {{/ data_catalogue_commercial.pagination }}
  </div>
</div>