<form class="filters wow fadeInLeft">
  {{# rooms }}
    <div class="filters__section complecs_filter">
      <div class="filters__heading">{{ title }}</div>
      <div class="filters__inner">
        {{# items }}
          <label class="checkbox form__checkbox">
            <input class="checkbox__checkbox" type="checkbox" {{ check }}>
            <span class="checkbox__mask"></span>
            <span class="checkbox__label"> {{ text }} </span>
          </label>
        {{/ items }}
      </div>
    </div>
  {{/ rooms }}
  {{# area }}
    <div class="filters__section">
      <div class="filters__heading">{{ title }}</div>
      <div class="filters__inner">
        <div class="nouislider filters__nouislider" data-no-ui-slider='{"connect": true, "step": 1}' data-range-min="{{ min }}" data-range-max="{{ max }}" data-nouislider-type='square'>
          <div class="nouislider__slider"></div>
          <div class="ranges nouislider__ranges">
            <span class="ranges__label">{{ text_from }}</span>
            <input class="ranges__input" value="{{ from }}" type="number" name="square-min" data-no-ui-input-min>
            <span class="ranges__label">{{ text_to}}</span>
            <input class="ranges__input" value="{{ to }}" type="number" name="square-max" data-no-ui-input-max>
            <span class="ranges__label">{{ postfix }}</span>
          </div>
        </div>
      </div>
    </div>
  {{/ area }}
  {{# price }}
    <div class="filters__section">
      <div class="filters__heading">{{ title }}</div>
      <div class="filters__inner">
        <div class="nouislider filters__nouislider" data-no-ui-slider='{"connect": true, "step": 100000}' data-range-min="{{ min }}" data-range-max="{{ max }}" data-nouislider-type='price'>
          <div class="nouislider__slider"></div>
          <div class="ranges nouislider__ranges">
            <span class="ranges__label">{{ text_from }}</span>
            <input class="ranges__input ranges__input_no_padding" value="31200000" type="text" name="square-min" data-no-ui-input-min>
            <span class="ranges__label">{{ text_to }}</span>
            <input class="ranges__input ranges__input_no_padding" value="70000000" type="text" name="square-max" data-no-ui-input-max>
            <span class="ranges__label">{{ postfix }}</span>
          </div>
        </div>
      </div>
    </div>
  {{/ price }}
  {{# floor }}
    <div class="filters__section">
      <div class="filters__heading filters__heading_side_left">{{ title }}</div>
      <div class="filters__inner filters__inner_side_right">
        <div class="custom-select filters__custom-select" data-custom-select>
          <select name="floor">
            <option value="" selected disabled></option>
            {{# items }}
              <option value="{{text}}" {{^active}} disabled {{/active}}>{{text}}</option>
            {{/ items }}
          </select>
        </div>
      </div>
    </div>
  {{/ floor }}
  {{# type }}
    <div class="filters__section">
      <div class="filters__heading">{{ title }}</div>
      <div class="filters__inner">
        <div class="filters__radio-column">
          {{# items }}
            <label class="radio filters__radio">
              <input type="radio" name="type" class="radio__input" value="{{ value }}" {{^active}} disabled {{/active}}>
              <span class="radio__mask">
                <svg class="radio__svg">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{ icon }}"></use>
                </svg>
              </span>
              <span class="radio__label"> {{ text }} </span>
            </label>
          {{/ items }}
        </div>
      </div>
    </div>
  {{/ type }}
</form>