<!-- VALUES -->
{{# data_catalogue_commercial.profit }}
  <section class="values profit">
    <div class="wrap wrap_mobile_full">
      {{# title }}
        <h2 class="h2 values__h2 wow fadeInLeft text-align-center"> {{ title }} </h2>
      {{/ title }}
      <div class="values__list">
        {{# items }}
          <div class="card values__card wow fadeInUp">
            <div class="card__img" data-bg-src="{{ image }}" data-bg-pos="center" data-bg-size="cover"></div>
            <h5 class="h5 card__h5"> {{ title }} </h5>
            <div class="divider card__divider">
              <span>{{ counter }}</span>
            </div>
            <div class="card__text">
              <p> {{ text }} </p>
            </div>
          </div>
        {{/ items }}
        {{# stub }}
          <div class="card card_stub values__card wow fadeInUp">
            <div class="card__img" data-bg-src="{{ stub }}" data-bg-pos="center" data-bg-size="auto"></div>
          </div>
        {{/ stub }}
      </div>
    </div>
  </section>
{{/ data_catalogue_commercial.profit }}
<!-- /VALUES -->