<!-- gallery -->
<section class="gallery gallery_commercial">
  <div class="wrap wrap_mobile_full">
    <div class="gallery__content gallery__content_mob">
      {{# content.title }}
        <h3 class="h3 gallery__h3 wow fadeInRight" data-wow-delay="0.3s"> {{{ content.title }}} </h3>
      {{/ content.title }}
      <div class="gallery__text wow fadeInRight" data-wow-delay="0.6s">
        {{# content.attributes }}
          <p>
            <span>{{ name }}</span>
            <strong>{{ text }}</strong>
          </p>
        {{/ content.attributes }}
      </div>
      {{# content.button }}
        <a href="{{ url }}" class="button button_green gallery__button wow fadeInRight" data-wow-delay="0.9s" data-modal-open="excursion"> {{ text }}
          <div class="button__blip button__blip_hover"></div>
          <div class="button__blip button__blip_click"></div>
        </a>
      {{/ content.button }}
    </div>
    <div class="gallery__wrap">
      <div class="gallery__slider wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s" data-gallery-slider data-slick='{"slidesToShow": 1, "infinite": false, "slidesToScroll": 1, "dots": false, "arrows": false, "asNavFor": "[data-gallery-nav]"}'>
        {{# items }}
          <div data-fancybox="gallery" href="{{ . }}">
            <img src="{{ . }}" alt=""> </div>
          <!--<div class="gallery__photo" data-bg-src="{{ . }}" data-bg-size="contain" data-bg-pos="center"></div>-->
        {{/ items }}
      </div>
      <div class="gallery__nav" data-gallery-nav data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "dots": false, "asNavFor": "[data-gallery-slider]", "focusOnSelect": true, "infinite": false, "arrows": false, "responsive": [{"breakpoint": 1201, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
        {{# items }}
          <div class="gallery__item">
            <div class="gallery__img" data-bg-src="{{ . }}" data-bg-size="cover" data-bg-pos="center"></div>
          </div>
        {{/ items }}
      </div>
      <button class="gallery__zoom">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search" /> </svg>
      </button>
    </div>
    <div class="gallery__content gallery__content_desk">
      {{# content.title }}
        <h3 class="h3 gallery__h3 wow fadeInRight" data-wow-delay="0.3s"> {{{ content.title }}} </h3>
      {{/ content.title }}
      <div class="gallery__text wow fadeInRight" data-wow-delay="0.6s">
        {{# content.attributes }}
          <p>
            <span>{{ name }}</span>
            <strong>{{ text }}</strong>
          </p>
        {{/ content.attributes }}
      </div>
      {{# content.button }}
        <a href="{{ url }}" class="button button_green gallery__button wow fadeInRight" data-wow-delay="0.9s" data-modal-open="excursion"> {{ text }}
          <div class="button__blip button__blip_hover"></div>
          <div class="button__blip button__blip_click"></div>
        </a>
      {{/ content.button }}
    </div>
  </div>
</section>
<!-- /gallery -->