<!-- MODALS -->
<div class="modals" data-modals>
  {{# excursion }}
    <div class="modal modals__modal" data-modal="excursion">
      <div class="modal__outer">
        <div class="modal__overlay" data-modal-close></div>
        <div class="modal__inner">
          <div class="modal__content">
            <div class="popup">
              <button class="modal__close" data-modal-close></button>
              <h5 class="h5 popup__h5"> {{ title }} </h5>
              <form class="form popup__form">
                {{# fields }}
                  <input type="text" class="form__input" placeholder="{{placeholder}}"> {{/ fields }}
                <button class="button button_green form__button" data-modal-close data-modal-open="thanks"> {{ submit_text }}
                  <span class="button__blip button__blip_hover"></span>
                  <span class="button__blip button__blip_click"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/ excursion }}
  {{# callback }}
    <div class="modal modals__modal" data-modal="call-back">
      <div class="modal__outer">
        <div class="modal__overlay" data-modal-close></div>
        <div class="modal__inner">
          <div class="modal__content">
            <div class="popup">
              <button class="modal__close" data-modal-close></button>
              <h5 class="h5 popup__h5"> {{ title }} </h5>
              <form class="form popup__form">
                {{# fields }}
                  <input type="text" class="form__input" required placeholder="{{placeholder}}"> {{/ fields }}
                {{# agree }}
                  <div class="field form__field">
                    <label class="checkbox form__checkbox">
                      <input type="checkbox" id="debug" class="checkbox__checkbox" name="_agree" required data-validation-name="agree">
                      <span class="checkbox__mask"></span>
                      <span class="checkbox__label"> {{ text }}
                        <a href="{{ link.url }}" target="_blank">{{ link.text }}</a> {{ text2 }}
                        <a href="{{ link_policy.url }}" target="_blank">{{ link_policy.text }}</a> {{ text3 }} </span>
                    </label>
                  </div>
                {{/ agree }}
                <button class="button button_green form__button" data-modal-open="thanks" type="submit"> {{ submit_text }}
                  <span class="button__blip button__blip_hover"></span>
                  <span class="button__blip button__blip_click"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/ callback }}
  {{# thanks }}
    <div class="modal modals__modal" data-modal="thanks">
      <div class="modal__outer">
        <div class="modal__overlay" data-modal-close></div>
        <div class="modal__inner">
          <div class="modal__content">
            <div class="popup">
              <h5 class="h5 popup__h5"> {{ title }} </h5>
              <div class="popup__text">
                <p> {{ text }} </p>
              </div>
              <button class="button button_green popup__button" data-modal-close> {{ close_text }}
                <span class="button__blip button__blip_hover"></span>
                <span class="button__blip button__blip_click"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/ thanks }}
</div>
<!-- /MODALS -->