<!-- ARTICLE -->
<section class="article article_constructor">
  <div class="wrap wrap_small wrap_mobile_full">
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      <h3> Н3 Заголовок </h3>
      <p> Не смотря на высотность домов, нет ощущения перенаселенности («Изумруд», «Дубрава», MAXIMA). Сформирована безопасная среда: в подъездах стеклянные двери, места для консьержа с окном на улицу. Я обратил внимание еще в Перми: во дворах используетсяs
        эко-покрытие. Давать людям возможность цивилизованно ходить по газонам — это хорошо. В жилых комплексах большие современные детские и спортивные площадки («Изумруд», MAXIMA и жилые комплексы в Перми). Во дворах используется освещение белого цвета.
        Мне кажется, что это гораздо более эстетично и современно. Всегда обращаю на это внимание. </p>
      {{# data_article.img_split }}
        <table>
          <tr>
            <td>
              <img src="{{ img1.src }}" alt="{{ img1.alt }}"> </td>
            <td>
              <img src="{{ img2.src }}" alt="{{ img2.alt }}"> </td>
          </tr>
        </table>
      {{/ data_article.img_split }}
      <p> Давать людям возможность цивилизованно ходить по газонам — это хорошо. В жилых комплексах большие современные детские и спортивные площадки («Изумруд», MAXIMA и жилые комплексы в Перми). Во дворах используется освещение белого цвета. Мне кажется,
        что это гораздо более эстетично и современно. Всегда обращаю на это внимание. </p>
      <table>
        <tr>
          <td>№</td>
          <td>Город</td>
          <td>Сервис</td>
          <td>Подробнее</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Бахчисарай</td>
          <td>Чьоткий</td>
          <td>О том</td>
        </tr>
        <tr>
          <td>2</td>
          <td>СарайБахчи</td>
          <td>НеЧьоткий</td>
          <td>Про то</td>
        </tr>
        <tr>
          <td>3</td>
          <td>НеБахчи</td>
          <td>Чьоткий но НЕ</td>
          <td>НЕ про это</td>
        </tr>
      </table>
      <h5> Оцените преимущества: </h5>
      <ol>
        <li> В начале осени известный фотограф и блогер Борис Бочкарев побывал в Ижевске. Его работы можно встретить на крупнейших фотовыставках Best of Russia, Планета Москва и на страницах ведущих изданий об интерьерах и архитектуре. </li>
        <li> Особенность этого фотографа в том, что он имеет не только потрясающий художественный вкус, но и опыт работы с лидерами федерального рынка. </li>
        <li> Основной интерес Бориса — новая архитектура городов, которую он преподносит многопланово: с точки зрения эстетического восприятия, комфорта и удобства проживания будущих жителей. Благодаря этому визиту и сделанным им художественным фотографиям
          даже те, кто никогда не был в Ижевске, могу ознакомиться с архитектурными особенностями жилых комплексов «Талан». </li>
        <li> Недавно Борис смог выделить время в плотном графике. </li>
        <li> Спортавная площадка. </li>
      </ol>
      {{# data_article.video }}
        <!-- <video controls="controls" poster="./static/img/about/director.jpg">
          <source src="./static/video/bg.mp4" type='video/mp4'>
        </video> -->
        <div class="video">
          <div data-youtube="seY6XqENVEc" data-bg-src="{{ image }}" data-bg-size="cover" data-bg-pos="center">
            <div class="play video__play">
              <div class="play__blip play__blip_hover"></div>
              <div class="play__blip play__blip_click"></div>
            </div>
            <iframe src="" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      {{/ data_article.video }}
    </div>
  </div>
</section>
<!-- /ARTICLE -->