{{# disclosure_of_date}}
  <section class="disclosure">
    <div class="wrap wrap_small wrap_mobile_full">
      <h3 class="h3 sales__h3 wow fadeInUp"> {{title}} </h3>
      <div class="sales__paragraf wow fadeInLeft"> {{paragraf}} </div>
      <div class="service__table-block wow fadeInUp">
        <table class="service__table service__table-head">
          <tr class="service__table-row">
            <th>№</th>
            <th>Город</th>
            <th>Уровень сервиса</th>
          </tr>
        </table>
        {{# table }}
          <table class="service__table">
            <tr class=" service__table-row">
              <td>{{number}}</td>
              <td>{{name}}</td>
              <td>{{level}}
                <span class="service__arrow{{#active}}-up{{/active}}"></span>
              </td>
            </tr>
          </table>
          <div class="service__diagramm">
            <span class="disclosure__btn"></span>
            <div class="chart-block">
              <div class="chart-bar" style="position: relative; width: 100%;">
                <canvas></canvas>
                <script type="application/json">
                  {
                    "labels": ["2013", "2014", "2015", "2016", "2017"],
                    "datasets": [
                    {
                      "label": "My First dataset My First dataset My First dataset ",
                      "backgroundColor": "#be1e2d",
                      "data": [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                      "label": "My Second dataset",
                      "backgroundColor": "#00a79d",
                      "data": [28, 48, 40, 19, 86, 27, 90]
                    },
                    {
                      "label": "My Third dataset",
                      "backgroundColor": "#e4e60a",
                      "data": [10, 37, 18, 5, 71, 22, 51]
                    }]
                  }
                </script>
              </div>
              <!-- <div class="chart-pie" style="position: relative; width:70%">
                <canvas></canvas>
                <script type="application/json">
                  {
                    "labels": ["Дом 1", "Спортавная площадка", "Парковка", "Спортивная площадка"],
                    "datasets": [{
                      "data": [10, 20, 30, 50],
                      "backgroundColor": [
                        "rgba(34,166,98, 1)",
                        "rgba(249,184,81, 1)", "rgba(208,163,121, 1)", "rgba(92,150,55, 1)"
                      ]
                    }]
                  }
                </script>
              </div> --></div>
          </div>
        {{/ table }}
      </div>
    </div>
  </section>
{{/ disclosure_of_date}}