{{# file }}
  <section class="file">
    <div class="wrap wrap_small wrap_mobile_full">
      <h3 class="h3 sales__h3 wow fadeInUp"> {{title}} </h3>
      <div class="sales__paragraf wow fadeInLeft">{{paragraf}}</div>
      {{# link}}
        <div class="file__link-block wow fadeInRight">
          <a href="#" class="file__link" data-modal-open="file">
            <img src="{{img}}" alt="file">
            <span> {{file_name}} </span>
          </a>
        </div>
      {{/ link}}
    </div>
  </section>
{{/ file}}