{{# letter }}
  <section class="letter">
    <div class="wrap wrap_small wrap_mobile_full">
      <div class="letter__block  wow fadeInDown"> {{text}} </div>
      <div class="letter__descr wow fadeInUp"> {{description}} </div>
    </div>
  </section>
{{/ letter }}