{{# quantity}}
  <section class="quantity">
    <div class="wrap wrap_small wrap_mobile_full">
      <h3 class="h3 sales__h3 wow fadeInUp"> {{ data_constructor.quantity.title }} </h3>
      <div class="vacancy__cities first-select wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s">
        <div class="filters__section">
          <!-- <div class="filters__heading filters__heading_side_left">Район:</div> -->
          <div class="filters__inner filters__inner_side_right">
            <div class="custom-select filters__custom-select" data-custom-select>
              <select name="cities">
                {{# select_city}}
                  <option value="{{name}}">{{name}}</option>
                {{/ select_city}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="vacancy__cities wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s">
        <div class="filters__section">
          <!-- <div class="filters__heading filters__heading_side_left">Район:</div> -->
          <div class="filters__inner filters__inner_side_right">
            <div class="custom-select filters__custom-select" data-custom-select>
              <select name="cities">
                {{# select_area}}
                  <option value="{{name}}">{{name}}</option>
                {{/ select_area}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="sales__block-info">
        <div class="sales__paragraf wow fadeInRight">{{paragraf}}</div>
      </div>
      <div class="chart-block">
        <div class="chart wow fadeInUp" style="position: relative; width:100%">
          <canvas></canvas>
          <script type="application/json">
            {
              "labels": ["МАЙ", "ИЮНЬ", "ИЮЛЬ", "АВГ", "СЕН", "ОКТ", "НОЯ", "ДЕК", "ЯНВ", "ФЕВ", "МАР", "АПР"],
              "datasets": [
              {
                "label": "КОЛИЧЕСТВО ДДУ ЗА МЕСЯЦ, МЛН $",
                "data": [1.17, 2.5, 5.17, 9.17, 10.17, 11.17, 12.17, 10.17, 12.17, 7.17, 7.17, 9.17],
                "backgroundColor": ["rgba(34,166,98, 0.2)"],
                "borderColor": ["rgba(34,166,98,1)"],
                "borderWidth": 1,
                "pointBackgroundColor": "rgba(34,166,98,1)",
                "tension": 0
              }]
            }
          </script>
        </div>
      </div>
    </div>
  </section>
{{/ quantity}}