{{# sales }}
  <section class="title-section">
    <div class="wrap wrap_small wrap_mobile_full">
      <h2 class="h2 h2_title wow fadeInUp"> fwdhlkfdhelfhd </h2>
    </div>
  </section>
  <section class="sales">
    <div class="wrap wrap_small wrap_mobile_full">
      <div class="sales__block">
        <div class="sales__block-description">
          <h3 class="h3 sales__h3 wow fadeInUp"> {{ data_constructor.sales.sub_title }} </h3>
          <div class="vacancy__cities wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s">
            <div class="filters__section">
              <!-- <div class="filters__heading filters__heading_side_left">Район:</div> -->
              <div class="filters__inner filters__inner_side_right">
                <div class="custom-select filters__custom-select" data-custom-select>
                  <select name="cities">
                    {{# select_items}}
                      <option value="{{name}}" data-city="{{name}}" data-chart="2">{{name}}</option>
                    {{/ select_items}}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="sales__block-info">
            <div class="sales__paragraf wow fadeInRight">{{paragraf}}</div>
            <div class="sales__table-block wow fadeInDown">
              <table>
                <tr>
                  <td>№</td>
                  <td>Агенство</td>
                  <td>Продажи</td>
                </tr>
                {{# table }}
                  <tr>
                    <td>{{number}}</td>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                  </tr>
                {{/ table }}
              </table>
            </div>
            <a href="#" target="_blank" rel="nofollow" class="button sales__button button_green get_to_us__item-btn">
              <span class="button__blip button__blip_hover"></span>
              <span class="button__blip button__blip_click"></span> Полный рейтинг </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/ sales }}