{{# schedule }}
  <section class="schedule">
    <div class="wrap wrap_small wrap_mobile_full">
      <h3 class="h3 sales__h3 wow fadeInUp"> {{ title }} </h3>
      <div class="vacancy__cities first-select wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s">
        <div class="filters__section">
          <!-- <div class="filters__heading filters__heading_side_left">Район:</div> -->
          <div class="filters__inner filters__inner_side_right">
            <div class="custom-select filters__custom-select" data-custom-select>
              <select name="cities">
                {{# select_city}}
                  <option value="{{name}}">{{name}}</option>
                {{/ select_city}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="vacancy__cities wow fadeInRight" data-wow-delay="1s" data-wow-duration="1s">
        <div class="filters__section">
          <!-- <div class="filters__heading filters__heading_side_left">Район:</div> -->
          <div class="filters__inner filters__inner_side_right">
            <div class="custom-select filters__custom-select" data-custom-select>
              <select name="cities">
                {{# select_area}}
                  <option value="{{name}}">{{name}}</option>
                {{/ select_area}}
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="sales__paragraf wow fadeInLeft">{{paragraf}}</div>
      <div>
        <div class="progress-block wow fadeInUp">
          <div class="progress-title"> {{progress_title}} </div>
          <div class="progress">
            <div class="progress-bar progress-bar-ready" role="progressbar" style="width:{{main_ready_percent}}">
              <a class="progress__link">готово&ensp; {{main_ready_percent}}</a>
            </div>
            <div class="progress-bar progress-bar-plan" role="progressbar" style="width:{{main_plan_percent}}">
              <a class="progress__link">план&ensp; {{main_plan_percent}}</a>
            </div>
          </div>
        </div>
        <div class="progress-block__lists">
          {{# progress_item}}
            <div class="progress-block">
              <div class="progress-title"> {{progress_title}} </div>
              <div class="progress">
                <div class="progress-bar progress-bar-ready" role="progressbar" style="width:{{main_ready_percent}}">
                  <span>готово&ensp; {{main_ready_percent}}</span>
                </div>
                <div class="progress-bar progress-bar-plan" role="progressbar" style="width:{{main_plan_percent}}">
                  <span>план&ensp; {{main_plan_percent}}</span>
                </div>
              </div>
            </div>
          {{/ progress_item}}
        </div>
      </div>
    </div>
  </section>
{{/ schedule }}