{{# service }}
  <section class="service">
    <div class="wrap wrap_small wrap_mobile_full">
      <h3 class="h3 sales__h3 wow fadeInUp"> {{title}} </h3>
      <div class="sales__paragraf wow fadeInRight"> {{paragraf}} </div>
      <div class="service__assessment wow fadeInLeft">
        <span class="service__label"> {{label}} </span>
        <div class="service__descr">
          <div class="service__descr-title">{{descr_title}}</div>
          <span class="service__descr-text">{{descr_text}}</span>
        </div>
      </div>
      <div class="service__table-block wow fadeInUp">
        <table class="service__table service__table-head">
          <tr class="service__table-row">
            <th>№</th>
            <th>Город</th>
            <th>Уровень сервиса</th>
          </tr>
        </table>
        {{# table }}
          <table class="service__table">
            <tr class=" service__table-row">
              <td>{{number}}</td>
              <td>{{name}}</td>
              <td>{{level}}
                <span class="service__arrow{{#active}}-up{{/active}}"></span>
              </td>
            </tr>
          </table>
          <div class="service__chart">
            <span class="service__btn"></span>
            <div class="chart-block">
              <div class="chart" style="position: relative; width:100%">
                <canvas></canvas>
                <script type="application/json">
                  {
                    "labels": ["МАЙ", "ИЮНЬ", "ИЮЛЬ", "АВГ", "СЕН", "ОКТ", "НОЯ", "ДЕК", "ЯНВ", "ФЕВ", "МАР", "АПР"],
                    "datasets": [
                    {
                      "label": "КОЛИЧЕСТВО ДДУ ЗА МЕСЯЦ, МЛН $",
                      "data": [1.17, 2.5, 5.17, 9.17, 10.17, 11.17, 12.17, 10.17, 12.17, 7.17, 7.17, 9.17],
                      "backgroundColor": ["rgba(34,166,98, 0.2)"],
                      "borderColor": ["rgba(34,166,98,1)"],
                      "borderWidth": 1,
                      "pointBackgroundColor": "rgba(34,166,98,1)",
                      "tension": 0
                    }]
                  }
                </script>
              </div>
            </div>
          </div>
        {{/ table }}
      </div>
      <!-- <div class="securities">
        <h3 class="h3 sales__h3 wow fadeInUp">
          {{securities_title}}
        </h3>

        <div class="sales__paragraf wow fadeInLeft">
          {{paragraf}}
        </div> -->
      <!-- <div class="securities__tables wow fadeInUp">

          <table class="securities__table">
            <tr class="securities__tables-row">
              <th>№</th>
              <th>сумма</th>
              <th>размещенно</th>
              <th>серия</th>
              <th></th>
            </tr>
          {{# securities__tables }}
            <tr class="securities__tables-row">
              <td>{{number}}</td>
              <td>{{price}}</td>
              <td>{{date}}</td>
              <td>{{serial}}</td>
              <td>
                <a href="#">{{link}}</a>
              </td>
            </tr>
          {{/ securities__tables }}
          </table>

        </div> -->
      <!-- </div> -->
    </div>
  </section>
  <section class="service__diagramm">
    <div class="wrap wrap_small wrap_mobile_full">
      <h3 class="h3 sales__h3 wow fadeInUp"> {{diagramm_title}} </h3>
      <div class="chart-block chart-block-bar">
        <div class="chart-bar wow fadeInUp" style="position: relative; width: 100%;">
          <canvas></canvas>
          <script type="application/json">
            {
              "labels": ["2013", "2014 ьмарт", "2015", "2016", "2017"],
              "datasets": [
              {
                "label": "My First dataset My First dataset My First dataset ",
                "backgroundColor": "#000",
                "data": [1, 1, 1, 1, 1, 1, 1]
              },
              {
                "label": "My Second dataset",
                "backgroundColor": "#00a79d",
                "data": [2, 2, 2, 2, 2, 2, 2]
              },
              {
                "label": "My Third dataset",
                "backgroundColor": "#e4e60a",
                "data": [3, 3, 3, 3, 3, 3, 3]
              }]
            }
          </script>
        </div>
      </div>
      <!-- <div class="chart-block chart-block-pie">
        <div class="chart-pie  wow fadeInUp" style="position: relative; width:70%">
          <canvas></canvas>
          <script type="application/json">
            {
              "labels": ["Дом 1", "Спортавная площадка", "Парковка", "Спортивная площадка"],
              "datasets": [{
                "data": [10, 20, 30, 50],
                "backgroundColor": [
                  "rgba(34,166,98, 1)",
                  "rgba(249,184,81, 1)", "rgba(208,163,121, 1)", "rgba(92,150,55, 1)"
                ]
              }]
            }
          </script>
        </div>
      </div> --></div>
  </section>
{{/ service }}