.cityComplexTable {
	display: block;
	width: 80%;
	margin: 30px 0;
}
.cctItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}
.cctItem .cctiRemove i {
	color: #ff0000;
	cursor: pointer;
}
.cctItem .cctiRemove[disabled="disabled"] i {
	color: #808080;
}

.tlnDisplNone {
	display: none !important;
}
.iframeContainer {
	display: block;
	width: 80%;
	margin: 20px 0 0;
}
#iframeTa {
	display: block;
	width: 100%;
}