<!-- ARTICLE -->
<section class="article">
  <div class="wrap wrap_small wrap_mobile_full">
    <h1 class="article__title wow fadeInUp"> {{ data_article.title }} </h1>
    <div class="article__date wow fadeInUp" data-wow-delay="0.3s"> {{ data_article.date }} </div>
    <br>
    <ul class="tags article__tegs wow fadeInUp" data-wow-delay="0.6s">
      {{# data_article.tags }}
        <li class="item tags__item">
          <a href="{{ url }}" class="item__link"> {{ name }} </a>
        </li>
      {{/ data_article.tags }}
    </ul>
    <div class="views article__views">
      <div class="views__wrap"> {{ data_article.views }} </div>
    </div>
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      <p>
        <img src="./static/img/article/article-img-1.jpg" alt="" style="margin:20px 0"> </p>
      <p> В начале осени известный фотограф и блогер Борис Бочкарев побывал в Ижевске. Его работы можно встретить на крупнейших фотовыставках Best of Russia, Планета Москва и на страницах ведущих изданий об
        <strike>интерьерах и архитектуре</strike>. Особенность этого фотографа
        <sup>м2</sup> в том, что он имеет не только потрясающий художественный вкус, но и опыт работы с лидерами федерального рынка недвижимости.
        <strong>Основной интерес Бориса</strong> — новая архитектура городов, которую он преподносит
        <sub>654</sub> многопланово: с точки зрения
        <sup>987</sup> эстетического восприятия, комфорта и удобства проживания
        <a href="#">будущих жителей</a>. Благодаря этому визиту и сделанным им художественным фотографиям даже те, кто никогда не был в Ижевске, могу ознакомиться с архитектурными особенностями жилых комплексов «Талан». Недавно Борис смог выделить время в плотном
        графике и поделился впечатлениями о поездке в Ижевск в форме экспресс-интервью: </p>
      <blockquote> Лучший, на мой взгляд, проект — это, конечно, современный комплекс MAXIMA. По визуальным ощущениям можно сказать, что это бизнес-класс. Архитектура современная, динамичная и за счет разной раскладки окон и цветовых объемов, в меру яркая.
        <br> У дома уютная придомовая территория, есть ощущения закрытого уединенного пространства. Тут приятно находиться и днем, и ночью. Обращает на себя внимание комфортная планировка двора, ландшафтное озеленение, разделение на разные зоны досуга и разноуровневое
        освещение белого цвета. Большой плюс — высадка крупномерных деревьев. У жилого комплекса стильные дизайн и материалы отделки входных групп (стеклянные двери, выходы на 2 стороны, навигация, правила, их шрифт). </blockquote>
      <p> У Бориса, конечно же, были и предложения по улучшению проектов, которые он обозначил как точки роста в следующих проектах «Талан». </p>
      <p> «Двор без машин» — действительно без машин и открыт для всех. С одной стороны, хорошо, что застройщик дарит городу качественное общественное пространство. С другой стороны — двор станет местом притяжения людей из соседних дворов. Мое мнение, что,
        возможно, жители хотели бы обеспечить себе больше приватности и это можно учесть в будущем. Панорамные окна улучшают вид жилого комплекса. Было бы замечательно, если бы они были в гостиных на всех этажах. В Москве такие окна очень любят, даже
        если из них нет вида. </p>
      <h1> H1 Заголовок </h1>
      <p> Не смотря на высотность домов, нет ощущения перенаселенности («Изумруд», «Дубрава», MAXIMA). Сформирована безопасная среда: в подъездах стеклянные двери, места для консьержа с окном на улицу. Я обратил внимание еще в Перми: во дворах используется
        эко-покрытие. Давать людям возможность цивилизованно ходить по газонам — это хорошо. В жилых комплексах большие современные детские и спортивные площадки («Изумруд», MAXIMA и жилые комплексы в Перми). Во дворах используется освещение белого цвета.
        Мне кажется, что это гораздо более эстетично и современно. Всегда обращаю на это внимание. </p>
      <p> Мне нравятся большие парковки. Не узкие проезды по советским ГОСТам вокруг дома, а действительно достаточное количество парковочных мест. В Москве сейчас продвигается идея «твоя машина — твои проблемы», «как в Европе», парковки урезаются до минимума,
        уличные парковки становятся платными, горожане вынуждены покупать машиноместа на подземных парковках, а они стоят порой в 2-3 раза больше, чем машина. В Ижевске такой проблемы нет. </p>
      <p>
        <img src="./static/img/article/article-img-2.jpg" alt=""> </p>
      <h2> H2 Заголовок </h2>
      <p> Не обошел своим вниманием столичный фотограф и коттеджный поселок «Европа». Именно здесь, на наш взгляд, он сделал лучшие за всю поездку фотографии. Он в полной мере отобразил всю красоту и уют, которые окружают жителей «Европы». </p>
      <ul>
        <li> Лучший, на мой взгляд, проект — это, конечно, современный комплекс MAXIMA. По визуальным ощущениям можно сказать, что это бизнес-класс. </li>
        <li> Архитектура современная, динамичная. </li>
        <li> Тут приятно находиться и днем, и ночью. Обращает на себя внимание комфортная планировка двора, ландшафтное озеленение, разделение на разные зоны досуга и разноуровневое освещение белого цвета. </li>
        <li> Приятное окружение </li>
      </ul>
      <h3> Н3 Заголовок </h3>
      <p> Не смотря на высотность домов, нет ощущения перенаселенности («Изумруд», «Дубрава», MAXIMA). Сформирована безопасная среда: в подъездах стеклянные двери, места для консьержа с окном на улицу. Я обратил внимание еще в Перми: во дворах используется
        эко-покрытие. Давать людям возможность цивилизованно ходить по газонам — это хорошо. В жилых комплексах большие современные детские и спортивные площадки («Изумруд», MAXIMA и жилые комплексы в Перми). Во дворах используется освещение белого цвета.
        Мне кажется, что это гораздо более эстетично и современно. Всегда обращаю на это внимание. </p>
    </div>
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      {{# data_article.img_split }} {{> ../../components/_img-split }} {{/ data_article.img_split }}
    </div>
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      <p> Давать людям возможность цивилизованно ходить по газонам — это хорошо. В жилых комплексах большие современные детские и спортивные площадки («Изумруд», MAXIMA и жилые комплексы в Перми). Во дворах используется освещение белого цвета. Мне кажется,
        что это гораздо более эстетично и современно. Всегда обращаю на это внимание. </p>
      <h5> Оцените преимущества: </h5>
      <ol>
        <li> В начале осени известный фотограф и блогер Борис Бочкарев побывал в Ижевске. Его работы можно встретить на крупнейших фотовыставках Best of Russia, Планета Москва и на страницах ведущих изданий об интерьерах и архитектуре. </li>
        <li> Особенность этого фотографа в том, что он имеет не только потрясающий художественный вкус, но и опыт работы с лидерами федерального рынка. </li>
        <li> Основной интерес Бориса — новая архитектура городов, которую он преподносит многопланово: с точки зрения эстетического восприятия, комфорта и удобства проживания будущих жителей. Благодаря этому визиту и сделанным им художественным фотографиям
          даже те, кто никогда не был в Ижевске, могу ознакомиться с архитектурными особенностями жилых комплексов «Талан». </li>
        <li> Недавно Борис смог выделить время в плотном графике. </li>
        <li> Спортавная площадка. </li>
      </ol>
    </div>
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      {{# data_article.video }} {{> ../../components/_video }} {{/ data_article.video }}
    </div>
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      <h4> Н4 Заголовок </h4>
      <p> Давать людям возможность цивилизованно ходить по газонам — это хорошо. В жилых комплексах большие современные детские и спортивные площадки («Изумруд», MAXIMA и жилые комплексы в Перми). Во дворах используется освещение белого цвета. Мне кажется,
        что это гораздо более эстетично и современно. Всегда обращаю на это внимание. </p>
      <h5>Название таблицы:</h5>
      <table>
        <thead>
          <tr>
            <th> город </th>
            <th> название жк </th>
            <th> готовность </th>
            <th> кол-во квартир </th>
            <th> срок сдачи </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Набережные Челны </td>
            <td> Горизонты. Европейский квартал </td>
            <td> 57% </td>
            <td> 5 542 квартир </td>
            <td> Сентябрь 2019 </td>
          </tr>
          <tr>
            <td> Ижевск </td>
            <td> Тихий центр </td>
            <td> 100% </td>
            <td> 734 квартир </td>
            <td> Декабрь 2024 </td>
          </tr>
          <tr>
            <td> Нижний Новгород </td>
            <td> Европейский квартал </td>
            <td> 02% </td>
            <td> 523 квартир </td>
            <td> Май 2045 </td>
          </tr>
          <tr>
            <td> Пермь </td>
            <td> Максима </td>
            <td> 15% </td>
            <td> 134 квартир </td>
            <td> Август 2046 </td>
          </tr>
          <tr>
            <td> Уфа </td>
            <td> Горизонты </td>
            <td> 92% </td>
            <td> 69 квартир </td>
            <td> Октябрь 2050 </td>
          </tr>
        </tbody>
      </table>
      <h5> H5 Заголовок </h5>
      <p> Один из основных принципов, которого мы придерживаемся в своей работе — это открытость и честность. Компания развивается, и в новых городах мы стремимся найти партнеров, разделяющих наш подход. Именно поэтому мы реализовали для вас возможность участвовать
        в наших тендерах на совершенно равных и единых условиях. Не важно, в каком городе Вы находитесь! Регистрируйтесь в личном кабинете и следуйте инструкциям. Вся информация о текущих, предстоящих и завершенных тендерах размещена на сайте Талан.рф.
        Мы будем рады новым партнерам и единомышленникам, кто, как и мы, готов следовать «золотому правилу» — строить как для себя. </p>
    </div>
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      {{# data_article.slider }} {{> ../../components/_slider }} {{/ data_article.slider }}
    </div>
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      <h6> Н6 Заголовок </h6>
      <p> После успешно пройденной регистрации, Вы можете принимать участие в тендерах компании ТАЛАН. Для подачи заявки на участие в интересующем Вас тендере, необходимо пройти в раздел «Торги», выбрать интересующий Вас тендер и подать заявку на участие.
        В случае, если Вы указали при регистрации Ваш вид деятельности (заполнили классификатор ТРУ), то система автоматически пришлет Вам приглашение на участие в тендере по Вашему профилю </p>
      <p> После успешно пройденной регистрации, Вы можете принимать участие в тендерах компании ТАЛАН. Для подачи заявки на участие в интересующем Вас тендере, необходимо пройти в раздел «Торги», выбрать интересующий Вас тендер и подать заявку на участие.
        В случае, если Вы указали при регистрации Ваш вид деятельности (заполнили классификатор ТРУ), то система автоматически пришлет Вам приглашение на участие в тендере по Вашему профилю </p>
    </div>
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      {{# data_article.img_description }} {{> ../../components/_img-description }} {{/ data_article.img_description }}
    </div>
    <div class="article__content wow fadeInUp" data-wow-delay="0.5s">
      <p> После успешно пройденного этапа ПКО, Вам необходимо в указанные сроки подать свое предложение и прикрепить к заявке пакет тендерной документации, ценовой документ, недостающие документы компании. На подготовку пакета тендерной документации участникам
        дается 2–3 недели в зависимости от сложности объекта и суммы тендера. Оформленный пакет тендерной документации должен быть вложен в поле «Документы» в карточке тендера до окончания срока подачи оферт. </p>
      <p> Если Вы не успели подготовить пакет документов по уважительным причинам, мы предоставим 3 дополнительных дня. Вам требуется только позвонить инженеру по тендерам и договориться о продлении срока. </p>
    </div>
  </div>
</section>
<!-- /ARTICLE -->