<!-- SHARE -->
<div class="wrap wrap_small wrap_mobile_full">
  <section class="share share_horizontal wow fadeIn">
    <div class="share__line"></div>
    <div class="social share__social">
      {{# items_bottom }}
        <a href="{{url}}" class="social__item socicon-{{name}}" target="_blank"></a>
      {{/ items_bottom }}
    </div>
    {{# text }}
      <div class="share__text"> {{ text }} </div>
    {{/ text }}
  </section>
</div>
<!-- /SHARE -->