<!-- SHARE -->
<section class="share share_vertical wow fadeIn">
  {{# text }}
    <div class="share__text"> {{ text }} </div>
  {{/ text }}
  <div class="social share__social">
    {{# items }}
      <a href="{{ url }}" class="social__item socicon-{{name}}" target="_blank"></a>
    {{/ items }}
  </div>
</section>
<!-- /SHARE -->