<!-- QUESTIONS -->
<div class="questions" data-form-outer>
  <div class="form-content questions__form-content">
    <div class="wrap wrap_mobile_full">
      <div class="questions__columns">
        <div class="questions__column">
          <h2 class="h2 questions__h2 wow fadeInLeft"> {{ title_primary }}
            {{# title_secondary }}
              <strong>{{ title_secondary }}</strong>
            {{/ title_secondary }}
          </h2>
          {{# text }}
            <div class="text questions__text wow fadeInLeft" data-wow-delay="0.3s">
              <p> {{ text }} </p>
            </div>
          {{/ text }}
        </div>
        <div class="questions__column"> {{> _form }} </div>
      </div>
    </div>
  </div> {{> _success }} </div>
<!-- /QUESTIONS -->