<!-- QUESTIONS FORM SUCCESS -->
<div class="form-success questions__form-success form-success_hidden">
  <div class="form-success__content">
    <div class="wrap wrap_mobile_full">
      <div class="questions__columns">
        <div class="questions__column">
          <h2 class="h2 questions__h2">
            <strong>{{ questions.success.title }}</strong>
          </h2>
        </div>
        <div class="questions__column"> </div>
      </div>
      <div class="questions__columns">
        <div class="questions__column">
          <div class="text questions__text">
            <p> {{ questions.success.text }} </p>
          </div>
        </div>
        <div class="questions__column">
          <button class="button form__button" data-form-reset-btn> {{ questions.reset_text }}
            <span class="button__blip button__blip_hover"></span>
            <span class="button__blip button__blip_click"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /QUESTIONS FORM SUCCESS -->