.product_map {
    width: 100%;
    height: 300px;
}

.pointer {
    cursor: pointer;
}

.full_width {
    width: 100%;
}

.attribute_table {
    width: 100%;
}

.attribute_table th {
    width: 50%;
}

.attribute-table-field {
    width: 100% !important;
}

.product-attribute-config-field {
    border: 1px dotted #aaa;
    padding: 10px;
}

.one-to-many-hidden{
    visibility: hidden;
}
